﻿<div ng-if="row.entity.subGridOptions !== undefined" style="height:150px;" ui-grid="row.entity.subGridOptions" ui-grid-selection></div>
<div class="container" ng-if="row.entity.subGridOptions === undefined">
    <div class="row">
        <article ng-repeat="producible in row.entity.Producible.ItemsToProduce" class="col-md-4 alert" ng-class="{'alert-warning': producible.ProducibleType == 'Corrugate', 'alert-info' :producible.ProducibleType != 'Corrugate'}">
            <header><h5>{{producible.Header}}</h5></header>
            <p>{{producible.Line1}}</p>
            <p>{{producible.Line2}}</p>
        </article>
    </div>
</div>