<div class="dashboard-container">
    <h4>
        {{'Dashboard.Main.Label.Header' | translate}}
        <span style="font-size: 16px" class="pull-right">
            <a href="" id="addWidget" ng-if="editMode" title="{{'Dashboard.Main.Message.AddNewWidget' | translate}}" ng-click="addWidgetDialog()">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </a>
            <a href="" id="editStructure" ng-if="editMode" title="{{'Dashboard.Main.Message.EditDashboard' | translate}}" ng-click="editDashboardDialog()">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
            <a href="" id="editDashboard" ng-if="options.editable" title="{{editMode ? 'Dashboard.Main.Message.DisableEditMode' : 'Dashboard.Main.Message.EnableEditMode' | translate}}" ng-click="toggleEditMode()">
                <i class="glyphicon" x-ng-class="{'glyphicon-edit' : true}"></i>
            </a>
        </span>
    </h4>

    <div class="dashboard" x-ng-class="{'edit' : editMode}">
        <adf-dashboard-row row="row"
                           adf-model="model"
                           options="options"
                           ng-repeat="row in model.rows"
                           edit-mode="editMode" />
    </div>

</div>
