<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" translate>Dashboard.Edit.Label.Header</h4>
</div>
<div class="modal-body">
    <form role="form" style="max-height: 400px; overflow-y: scroll;">
        <div class="form-group">
            <label for="dashboardTitle" translate>Dashboard.Edit.Label.Title</label>
            <input type="text" class="form-control" id="dashboardTitle" ng-model="copy.title" required="">
        </div>
        <div class="form-group">
            <label translate>Dashboard.Edit.Label.Layout</label>
            <div class="radio edit" ng-repeat="(key, structure) in structures">
                <div class="col-md-4">
                    <label>
                        <input type="radio"  value="{{key}}" id="{{key}}" ng-model="model.structure" ng-change="changeStructure(key, structure)"> {{key}}
                    </label>
                </div>
                <div class="col-md-7">
                    <div ng-repeat="row in structure.rows">
                        <div class="row" ng-class="row.styleClass">
                            <div ng-repeat="column in row.columns">
                                <div class="column" ng-class="column.styleClass" style="min-height: 60px;  border-color: black;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="closeEditDash" ng-click="closeDialog()" translate>Common.Label.Close</button>
</div>