<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" translate>{{definition.title}}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="widgetTitle" translate>Dashboard.Widgets.Edit.Label.NewTitle</label>
            <input type="text" class="form-control" id="widgetTitle" ng-model="definition.newTitle" placeholder="{{'Dashboard.Widgets.Edit.Label.EnterTitle' | translate}}" required="">
        </div>
    </form>
    <div ng-if="widget.edit">
        <adf-widget-content model="definition" content="widget.edit" />
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="editOk()" translate>Common.Label.Ok</button>
    <button type="button" class="btn btn-primary" ng-click="closeDialog()" translate>Common.Label.Cancel</button>
</div>