<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" translate=>Dashboard.AddWidget.Label.Header</h4>
</div>
<div class="modal-body">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li id="generalWidgetsTabWrapper" role="presentation" class="active"><a id="generalWidgetsTab" href="#Metrics" aria-controls="Metrics" role="tab" data-toggle="tab" translate>Dashboard.AddWidget.Label.GeneralTab</a></li>
            <li id="dailyWidgetsTabWrapper" role="presentation"><a id="dailyWidgetsTab" href="#MetricsByDay" aria-controls="MetricsByDay" role="tab" data-toggle="tab" translate>Dashboard.AddWidget.Label.DailyTab</a></li>
            <li id="weeklyWidgetsTabWrapper" role="presentation"><a id="weeklyWidgetsTab" href="#MetricsByWeek" aria-controls="MetricsByWeek" role="tab" data-toggle="tab" translate>Dashboard.AddWidget.Label.WeeklyTab</a></li>
            <!--<li role="presentation"><a href="#undefined" aria-controls="undefined" role="tab" data-toggle="tab">Others</a></li>-->
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane" id="{{key}}" ng-repeat="(key, value) in widgets | groupBy: 'category'" ng-class="{'active':$first}">
                <dl class="dl-horizontal">
                    <dt ng-repeat-start="widget in value | orderByPropertyTranslated:'title'" style="width: 400px;">
                        <!-- | filterBy: ['dashboard']: name-->
                        <a href="javascript:void(0);" id="{{key}}widget{{$index}}" ng-click="addWidget(widget.id)" translate>
                            {{widget.title}}
                        </a>
                    </dt>
                    <dd ng-repeat-end ng-if="widget.description" style="margin-left: 420px;" translate>
                        {{widget.description}}
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="addWidgetCloseBtn" type="button" class="btn btn-default" ng-click="closeDialog()" translate>Common.Label.Close</button>
</div>

<script>
    // This hack is hardcode here to avoid more modifications to the third party library
    // This is necessary because without it, the background gets lost.
    $('a[role="tab"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>