﻿<div>

	<div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" id="newScheduledJobAlert"close="alert.close()">{{ alert.msg }}</alert>
	</div>

	<form name="scheduledJobEditForm" class="form-horizontal" role="form" novalidate> <!-- novalidate causes the default chrome validation to not be displayed -->
		<div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newScheduledJobNameLabel" for="newScheduledJobName" class="col-md-3 control-label" title="{{'ScheduledJobs.Validation.NameRequired' | translate}}" translate>ScheduledJobs.Edit.ScheduledJobName</label>
			<div class="col-md-7">
				<input id="newScheduledJobName" class="form-control" name="Name" ng-model="selectedScheduledJob.Alias" size="29" focus-element required />
                <p id="newScheduledJobNameValidation" class="help-block" ng-if="scheduledJobEditForm.Name.$error.required" translate>ScheduledJobs.Validation.NameRequired</p>
			</div>
		</div>
		<div class="form-group">
		    <label for="newMachineDescription" class="col-md-3 control-label" translate>ScheduledJobs.Edit.Description</label>
			<div class="col-md-7">
				<textarea id="newMachineDescription" class="form-control" ng-model="selectedScheduledJob.Description" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-3"></div>
			<button class="btn btn-default" id="newScheduledJobSaveButton" ng-click="saveScheduledJob(scheduledJobEditForm)" translate>ScheduledJobs.Edit.SaveButton</button>
			<button class="btn btn-default" id="newScheduledJobCancelButton" ng-click="cancelNewEditScheduledJob()" translate>ScheduledJobs.Edit.CancelButton</button>
		</div>
	</form>
</div>