<div>
    <a ui-sref="ScheduledJobs.new">
        <button class="btn btn-default" id="newScheduledJob" translate>Pickzones.NewButton</button>
    </a>
    <button class="btn btn-default" id="deleteScheduledJob" ng-disabled="!canDelete()" ng-click="deleteScheduledJobs()" translate>Pickzones.DeleteButton</button>
    <button class="btn btn-default" id="editScheduledJob" ng-disabled="!canEdit()" ng-click="editScheduledJob()" translate>Pickzones.EditButton</button>
    <div>
        <alert id="scheduledJobAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="scheduledJobListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
    <!--<div ng-repeat="entity in gridApi.selection.getSelectedRows()">
        {{entity}}
    </div>-->
</div>
