<div ng-controller="ScheduledJobsCtrl" class="dashboard-content">
    <h4 id="pageHeading" translate>ScheduledJobs.Title</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/Scheduler/scheduledJobsList.html"></div>
        </div>
    </div>
</div>
