﻿<div class="dashboard-content">
    <h4>Create Support Incident Report</h4>
    <button id="saveSupportIncidentReport" ng-click="saveReport()" class="btn btn-default">Create</button><!--ng-disabled="!canSave" ng-class="{'disabled': !canSave || !allowChangeCorrugate()}"-->

    <a ui-sref="Dashboard">
        <button id="cancelIncidentReport" class="btn btn-default">Cancel</button>
    </a>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="incidentForm" id="incidentForm" class="form-horizontal" role="form">
        <h1>The following information will be submitted:</h1>
        <div class="form-group">
            <label class="col-md-3 text-left" for="userAgent">UserAgent:</label>
            <div class="col-md-9" id="userAgent">{{userAgent}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="cookiesEnabled">Cookies Enabled:</label>
            <div class="col-md-9" id="cookiesEnabled">{{cookiesEnabled}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="currentLanguage">Current Language:</label>
            <div class="col-md-9" id="currentLanguage">{{language}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="platform">Platform:</label>
            <div class="col-md-9" id="platform">{{platform}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="vendor">Vendor:</label>
            <div class="col-md-9" id="vendor">{{vendor}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="product">Product:</label>
            <div class="col-md-9" id="product">{{product}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="configuredPlugins">Plugins:</label>
            <div class="col-md-9" id="configuredPlugins">
                <ul>
                    <li ng-repeat="p in browserPlugins">{{p}}</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="configuredLanguages">Configured Languages:</label>
            <div class="col-md-9" id="configuredLanguages">
                <ul>
                    <li ng-repeat="l in languages">{{l}}</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-left" for="customerInformation">Please enter any additional information:</label>
            <textarea name="customerInformation" id="customerInformation" class="form-control" rows="5" ng-model="customerInformation"></textarea>
        </div>
    </form>
</div>
