﻿<div class="dashboard-content">
    <h4>{{'Support.Label.Header' | translate}}</h4>
    <br />
    <div class="row">
        <div class="col-md-12">{{'Support.Message.Introduction' | translate}}</div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="row"><b>{{'Support.Label.NorthAmerica' | translate}}</b></div>
            <div class="row"><div class="col-md-4 text-right">{{'Support.Label.NameSingular' | translate}}:</div><div class="col-md-8 text-left">+1 (801) 944-4814 ext. 3</div></div>
            <div class="row"><div class="col-md-4"></div><a class="col-md-8 text-left" href="mailto:support-us@packsize.com">support-us@packsize.com</a></div>
            <div class="row"><div class="col-md-4 text-right">{{'Support.Label.SpareParts' | translate}}:</div><a class="col-md-8 text-left" href="mailto:spareparts-us@packsize.com">spareparts-us@packsize.com</a></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="row"><b>{{'Support.Label.EuropeanUnion' | translate}}</b></div>
            <div class="row"><div class="col-md-4 text-right">{{'Support.Label.NameSingular' | translate}}:</div><div class="col-md-8 text-left">+49 5221 27602 20</div></div>
            <div class="row"><div class="col-md-4"></div><a class="col-md-8 text-left" href="mailto:hotline-eu@packsize.com">hotline-eu@packsize.com</a></div>
            <div class="row"><div class="col-md-4 text-right">{{'Support.Label.SpareParts' | translate}}:</div><a class="col-md-8 text-left" href="mailto:sparepart-eu@packsize.com">sparepart-eu@packsize.com</a></div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- TODO: Add this back in when we have defined stories and test it.
        <div ng-show="showDatabaseBackup">
        <accordion close-others="false">
            <accordion-group>
                <accordion-heading>
                    Database Actions
                </accordion-heading>
                <accordion-group ng-init="backupDbIsOpen = false" is-open="backupDbIsOpen">
                    <accordion-heading>
                        Database Backup
                    </accordion-heading>
                    <button ng-click="requestBackup()" class="btn btn-default">Backup Database</button>
                    <p>{{backupMessagesHeader}}</p>
                </accordion-group>
                <accordion-group id="accordionMachineQueue" ng-init="restoreDbIsOpen = false" is-open="restoreDbIsOpen">
                    <accordion-heading>
                        Restore Database
                    </accordion-heading>
                    <div dropdown>
                        <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="fileDropDownToggled" aria-expanded="true" dropdown-toggle>
                            {{selectedFile.Item1}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-repeat="dbFile in databaseRestoreFiles"><a role="menuitem" tabindex="-1" ng-click="selectFile(dbFile)" href="javascript:void(0);">{{dbFile.Item1}}</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" ng-click="restoreDatabase()">Restore database</button>
                </accordion-group>
                <accordion-group is-open="showLogs">
                    <accordion-heading>
                        Logs
                    </accordion-heading>
                    <accordion>
                        <p ng-repeat="message in messages">{{message}}</p>
                    </accordion>
                </accordion-group>
            </accordion-group>
        </accordion>
    </div>-->
</div>