<div ng-controller="ManageArticleCtrl" class="dashboard-content">
    <h4 id="articlesTitle" translate>Articles.Title</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div class="divArticleActionButtons">
                <new-article-button></new-article-button>
                <copy-article-button id="articleButtonCopy"></copy-article-button>
                <edit-article-button id="articleButtonEdit"></edit-article-button>
                <delete-article-button id="articleButtonDelete"></delete-article-button>
                <produce-article-button id="articleButtonProduce"></produce-article-button>
                <button id="exportAllButton" ng-disabled="awaitingArticles" ng-click="exportAll()" class="btn btn-default">{{ exportAllText }}</button>
                <import-article-button id="articleButtonImport"></import-article-button>
            </div>
            <div>
                <articles-list id="articleList" multi-select="true" show-row-qty="false" row-dbl-click="editRecord(x)" row-selection-changed="updateSelections(articles)" awaiting-update="awaitingUpdate"></articles-list>
            </div>

        </div>
    </div>
</div>
