﻿<form name="articleEditForm" class="form-horizontal" role="form">
   <div ng-show="displayArticleId" class="form-group" show-errors='{showSuccess: true}'>
       <label id="lblArticleId" for="ArticleId" class="col-md-3 control-label" title="{{ 'Articles.Validation.IdRequired' | translate}}" translate>Articles.Edit.ArticleId</label>
        <div class="col-md-9">
            <input class="form-control" name="ArticleId" tabindex="5" type="text" ng-model="ngModel.article.ArticleId" size="40" required ng-pattern="designIdRegex" focus-element />
            <p id="ArticleIdNotEmptyValidation" class="help-block" translate>Articles.Validation.IdNotEmpty</p>
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="col-md-3 control-label" translate>Articles.Edit.Description</label>
        <div class="col-md-9">
            <textarea class="form-control" name="Description" tabindex="10" type="text" ng-model="ngModel.article.Description" rows="4" cols="38"></textarea>
        </div>
    </div>

    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="DesignId" class="col-md-3 control-label" title="{{'Articles.Validation.DesignRequired' | translate}}" translate>Articles.Edit.Design</label>
        <div class="col-md-9">
            <select class="form-control" name="DesignId" tabindex="13" ng-model="selectedDesignId" ng-change="updateSelection(selectedDesignId)" ng-options="c.Id as c.Name for c in ngModel.designList" required></select>
        </div>
    </div>
    
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="Length" class="col-md-3 control-label" title="{{'Articles.Validation.LengthRequired' | translate}}" translate>Articles.Edit.Length</label>
        <div class="col-md-9">
            <input class="form-control" name="Length" tabindex="15" type="text" ng-model="ngModel.article.Length" size="15" required ng-pattern="floatingPointRegex" />
            <p class="help-block" ng-if="articleEditForm.Length.$error.pattern" translate>Articles.Validation.LengthMustBeNum</p>
        </div>
    </div>
    
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="Width" class="col-md-3 control-label" title="{{'Articles.Validation.WidthRequired' | translate }}" translate>Articles.Edit.Width</label>
        <div class="col-md-9">
            <input class="form-control" name="Width" tabindex="15" type="text" ng-model="ngModel.article.Width" size="15" required ng-pattern="floatingPointRegex" />
            <p class="help-block" ng-if="articleEditForm.Width.$error.pattern" translate>Articles.Validation.WidthMustBeNum</p>
        </div>
    </div>
    
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="Height" class="col-md-3 control-label" title="{{'Articles.Validation.HeightRequired' | translate }}" translate>Articles.Edit.Height</label>
        <div class="col-md-9">
            <input class="form-control" name="Height" tabindex="15" type="text" ng-model="ngModel.article.Height" size="15" required ng-pattern="floatingPointRegex" />
            <p class="help-block" ng-if="articleEditForm.Height.$error.pattern" translate>Articles.Validation.HeightMustBeNum</p>
        </div>
    </div>
    
    <design-parameters-form designparameters="ngModel.DesignParameters" size-class="9" pattern="floatingPointRegex" tabbing-index="16"></design-parameters-form>

    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="CorrugateQuality" class="col-md-3 control-label" translate>Articles.Edit.CorrugateQuality</label>
        <div class="col-md-9">
            <input class="form-control" name="CorrugateQuality" tabindex="40" type="text" ng-model="ngModel.article.CorrugateQuality" size="15" ng-pattern="intRegex" />
            <p class="help-block" ng-if="articleEditForm.CorrugateQuality.$error.pattern" translate>Articles.Validation.CorrugateQualityMustBeNum</p>
        </div>
    </div>
</form>
