﻿<div ng-controller="ManageArticleCtrl" ng-init="copyInit()">
    <div class="modal-header">
        <div class="modal-header-title" translate>
            Articles.CopyArticleHeader
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body" style="height: 350px; max-height: 350px; padding-top: 5px; overflow: auto">
        <article-form ng-model="formModel" display-article-id></article-form>
    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="newArticleAlert" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        </div>
        <button id="copyArticleButtonConfirm" ng-click="createArticle(false)" ng-disabled="awaitingUpdate || !isFormValid" tabindex="50" class="btn btn-default" translate>Articles.CopyButton</button>
        <button id="copyArticleButtonCancel" ng-click="closeWindow()" class="btn btn-default" translate>Articles.CloseButton</button>
    </div>
</div>
