<span ng-controller="CopyArticleOpenDialogCtrl" >
    <button id="articleButtonCopy" ng-disabled="copyDisabled" ng-click="openDialog()" class="btn btn-default" translate>Articles.CopyButton</button>
</span>
