﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            <!-- localize!! -->
            Delete Article(s)
        </div>
    </div>
    <div class="modal-body" style="height: 50px; padding-top: 5px; font-size: 14px; font-weight: bold;">
        <!-- localize!! -->
        Are you sure you want to delete {{ selectedArticlesCount }} article(s)?

    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="deleteArticleAlerts" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        </div>
        <button id="deleteArticleButtonConfirm" ng-click="confirmDelete()" tabindex="50" class="btn btn-default" translate>Common.Label.Delete</button>
        <button id="deleteArticleButtonCancel" ng-click="closeWindow()" class="btn btn-default" translate>Common.Label.Close</button>
    </div>
</div>
