<span ng-controller="EditArticleOpenDialogCtrl" >
    <button id="articleButtonEdit" ng-disabled="editDisabled" ng-click="openDialog()" class="btn btn-default" translate>Articles.EditButton</button>
</span>
