﻿<div ng-controller="ManageArticleCtrl" ng-init="editInit()">
    <div class="modal-header">
        <div class="modal-header-title" translate>
            Articles.EditArticleHeader
        </div>
    </div>
    <div class="modal-body" style="height: 350px; max-height: 350px; padding-top: 5px; overflow: auto">
        <div class="row">
            <div class="col-md-8">
                <article-form ng-model="formModel" display-article-id disabled-article-id></article-form>
            </div>
            <div class="col-md-4">
                <div id="previewContainer"></div>
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="editArticleAlert" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        </div>
        <button id="editArticleButtonSave" ng-click="createArticle(true)" ng-disabled="awaitingUpdate || !isFormValid" tabindex="50" class="btn btn-default" translate>Articles.UpdateButton</button>
        <button id="editArticleButtonClose" ng-click="closeWindow()" class="btn btn-default" translate>Articles.CloseButton</button>
    </div>
</div>
