﻿<div ng-controller="ImportArticleCtrl">
    <div class="modal-header">
        <div class="modal-header-title" translate>Articles.ImportExport.ImportButtonText
        </div>
        <div class="modal-header-content"></div>
    </div>
    

    <div class=" modal-body" style="height: 350px; max-height: 350px; padding-top: 5px; overflow: auto">
        <label>{{ translate('Terms.Common.UseHeaders') }} <input type="checkbox" ng-checked="usingHeaders" ng-model="usingHeaders" /></label>
        <span class="btn btn-default btn-file">{{ translate('Terms.Common.Browse') }} <input type="file" fileread="uploadme.src" ng-click="clearSelectedFile()"/></span>
        <div ng-grid="gridOptions" class="table-margin-top articlesTable" style="height: 280px;"></div>
    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="importArticleAlert" ng-repeat="alert in alerts" type="{{ alert.type }}">{{ alert.msg }}</alert>
        </div>
        <button id="importArticlesButtonConfirm" ng-click="importArticles()" ng-disabled="awaitingUpdate || !articlesToImport || !previewed || !canImport" tabindex="50" class="btn btn-default" translate>Terms.Common.Import</button>
        <button id="importArticlesButtonCancel" ng-click="closeWindow()" class="btn btn-default" translate>Terms.Common.Close</button>
    </div>
</div>
