<span ng-controller="ImportArticleOpenDialogCtrl" >
    <button id="articleButtonImport" ng-disabled="importDisabled" ng-click="openDialog()" class="btn btn-default">{{ ImportButtonText }}</button>
</span>
