﻿<div ng-controller="ManageArticleCtrl">
    <div class="modal-header">
        <div class="modal-header-title" translate>
            Articles.CreateArticleHeader
        </div>
    </div>    
    <div class="modal-body" style="height: 350px; max-height: 350px; padding-top: 5px; overflow: auto">
        <div class="row">
            <div class="col-md-8">
                <article-form ng-model="formModel" display-article-id></article-form>
            </div>
            <div id="previewWrapper" ng-show="isFormValid">
                <div class="col-md-4" ng-show="showDesignPreview">
                    <span translate>Terms.Common.Preview</span>
                    <div id="previewContainer"></div>
                </div>
                <button id="hidePreview" class="btn btn-default" ng-click="hidePreview()" tabindex="90" translate>Common.UI.Hide</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="newArticleAlert" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        </div>
        <button id="newArticleButtonSave" ng-click="createArticle(false)" tabindex="50" ng-disabled="awaitingUpdate || !isFormValid" class="btn btn-default" translate>Articles.SaveButton</button>
        <button id="newArticleButtonClose" ng-click="closeWindow()" class="btn btn-default" translate>Articles.CloseButton</button>
    </div>
</div>