<span ng-controller="NewArticleOpenDialogCtrl" >
    <button id="articleButtonNew" ng-disabled="newDisabled" ng-click="openDialog()" class="btn btn-default" translate>Articles.NewButton</button>
</span>
