<span ng-controller="ProduceArticleOpenDialogCtrl" >
    <button id="articleButtonProduce" ng-disabled="produceDisabled" ng-click="openDialog()" class="btn btn-default" translate>Articles.ProduceButton</button>
</span>
