﻿<div ng-controller="ProduceArticleCtrl" ng-init="currentDisplay ='operator'">
    <div class="modal-header">
        <div class="modal-header-title" translate>
            Articles.ProduceArticleHeader
        </div>
    </div>
    <div class="modal-body" style="height: 300px; max-height: 300px; padding-top: 5px; overflow: auto">
        <form name="produceMultipleForm">
            <div id="produceArticleTable" style="border: 1px solid rgb(212,212,212); margin-left: 10px; width: 98%; height: 295px; min-width: 800px;"
                 ng-grid="gridOptions"></div>
        </form>
    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="produceArticleAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
        </div>
        <button id="produceArticleButtonConfirm" ng-click="produce()" tabindex="200" ng-disabled="isProduceDisabled()" class="btn btn-default" translate>Articles.ProduceButton</button>
        <button id="produceArticleButtonCancel" ng-click="closeWindow()" class="btn btn-default" translate>Articles.CloseButton</button>
    </div>
</div>