﻿<div class="dashboard-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"><h4> {{'About.Label.Header' | translate}}: {{version.Major}}.{{version.Minor}}.{{version.Build}}.{{version.Revision}}</h4></div>
        </div>
        <div class="row">
            <div class="col-md-12"><alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert></div>
        </div>
        <div class="row">
            <div class="col-md-12"><button id="ViewReleaseNotes" ng-click="showReleaseNotes()" class="btn btn-default" ng-disabled="showingReleaseNotes">{{'About.Label.ReleaseNotes' | translate}}</button>
                <button id="ViewEULA" ng-click="showEULA()" class="btn btn-default" ng-disabled="showingEula">{{'About.Label.EULA' | translate}}</button></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="releaseNotes" class="embed-responsive-item" ng-src="{{'About.Path.ReleaseNotes' | translate}}" ng-if="showingReleaseNotes"></iframe>
                    <iframe id="eula" class="embed-responsive-item"  ng-src="{{'About.Path.EULA' | translate}}" ng-if="showingEula"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>