﻿<div>
    <h4 id="serverSettingsPageHeader" translate>Setting.Label.Header</h4>
    <div>
        <alert id="packNetServerSettingsAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="packNetServerSettingsForm" class="form-horizontal" role="form" novalidate>
        <tabset>
            <!--IMPORTANT! To access the scope of the controller inside a tabset within a form, use $parent.$parent-->
            <tab active="tabs.generalTabActive" id="generalTab" heading="{{'Setting.Label.General.Header' | translate}}">
                <div class="form-group" show-errors='{showSuccess: true}' style="margin-top: 10px">
                    <label id="callbackIPAddressLabel" for="callbackIPAddress" class="col-md-3 control-label" translate>Setting.Label.General.CallbackIpOrDnsName</label>
                    <div class="col-md-7">
                        <input id="callbackIPAddress" class="form-control" name="MachineCallbackIpAddress" ng-model="$parent.$parent.data.MachineCallbackIpAddress" maxlength="15" focus-element required ng-pattern="/^((0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)\.){3}(0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)$/" placeholder="###.###.###.###" />
                        <p id="callbackIpOrDnsNameErrorRequired" class="help-block" ng-show="packNetServerSettingsForm.MachineCallbackIpAddress.$error.required" translate>Common.Validation.Required</p>
                        <p id="callbackIpOrDnsNameErrorPattern" class="help-block" ng-if="packNetServerSettingsForm.MachineCallbackIpAddress.$error.pattern" translate>Common.Validation.InvalidFormat</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="callbackPort" class="col-md-3 control-label" translate>Setting.Label.General.CallbackPort</label>
                    <div class="col-md-7">
                        <numeric-up-down ng-init="data = this.data" id="callbackPort" ng-model="$parent.$parent.data.MachineCallbackPort" default-value="80" min-value="1" max-value="65535" horizontal="true"></numeric-up-down>
                    </div>
                </div>
                <div class="form-group">
                    <label for="workflowTrackingLevel" class="col-md-3 control-label" translate>Setting.Label.General.WorkflowTrackingLevel</label>
                    <div class="col-md-7">
                        <select class="form-control" id="workflowTrackingLevel" ng-model="$parent.$parent.data.WorkflowTrackingLevel" default-value="60" min-value="1" max-value="65535" horizontal="true">
                            <option value="TrackInstances" translate>Setting.Label.General.TrackInstances</option>
                            <option value="TrackWithoutArguments" translate>Setting.Label.General.TrackWithoutArguments</option>
                            <option value="TrackEverything" translate>Setting.Label.General.TrackEverything</option>
                        </select>
                    </div>
                </div>
            </tab>
            <tab active="tabs.fileImportTabActive" id="fileImportTab" heading="{{'Setting.Label.FileImport.Header' | translate}}">
                <div class="form-group" show-errors='{showSuccess: true}' style="margin-top: 10px">
                    <label id="defaultImportTypeLabel" for="defaultImportType" class="col-md-3 control-label" translate>Setting.Label.FileImport.DefaultImportType</label>
                    <div class="btn-group col-md-7">
                        <select class="form-control" name="ImportTypes" id="defaultImportType" ng-model="$parent.$parent.data.FileImportSettings.DefaultImportType" ng-options="obj.value as obj.label for obj in $parent.$parent.importTypes" autofocus="autofocus" required>
                            <option style="display: none" value="" translate>Common.Label.Unassigned</option>
                        </select>
                        <p id="newProductionGroupSelectionAlgorithmError" class="help-block" ng-if="packNetServerSettingsForm.ImportTypes.$error.required" translate>Common.Validation.Required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="monitoredFolderPath" class="col-md-3 control-label" translate>Setting.Label.FileImport.MonitoredFolderName</label>
                    <div class="col-md-7">
                        <input id="monitoredFolderPath" class="form-control" name="MonitoredFolderPath" ng-model="$parent.$parent.data.FileImportSettings.MonitoredFolderPath" maxlength="50" required />
                        <p id="monitoredFolderPathErrorRequired" class="help-block" ng-show="packNetServerSettingsForm.MonitoredFolderPath.$error.required" translate>Common.Validation.Required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="fileExtension" class="col-md-3 control-label" translate>Setting.Label.FileImport.FileExtension</label>
                    <div class="col-md-7">
                        <input id="fileExtension" class="form-control" name="FileExtension" ng-model="$parent.$parent.data.FileImportSettings.FileExtension" maxlength="4" required />
                        <p id="fileExtensionErrorRequired" class="help-block" ng-show="packNetServerSettingsForm.FileExtension.$error.required" translate>Common.Validation.Required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" translate>Setting.Label.FileImport.AccessToMonitoredFolder</label>
                    <div class="col-md-2">
                        <numeric-up-down id="timesToRetryToAccessMonitoredFilePath" ng-model="$parent.$parent.data.FileImportSettings.TimesToRetryToAccessMonitoredFilePath" default-value="5" min-value="0" max-value="10" horizontal="true"></numeric-up-down>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" translate>Setting.Label.FileImport.TimesToRetry</label>
                    </div>
                    <div class="col-md-2">
                        <numeric-up-down id="secondsToRetryToAccessMonitoredFilePath" ng-model="$parent.$parent.data.FileImportSettings.SecondsToRetryToAccessMonitoredFilePath" default-value="60" min-value="0" max-value="300" horizontal="true"></numeric-up-down>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" translate>Setting.Label.FileImport.Interval</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" translate>Setting.Label.FileImport.AccessToFile</label>
                    <div class="col-md-2">
                        <numeric-up-down id="timesToRetryLockedFile" ng-model="$parent.$parent.data.FileImportSettings.TimesToRetryLockedFile" default-value="5" min-value="0" max-value="10" horizontal="true"></numeric-up-down>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" translate>Setting.Label.FileImport.TimesToRetry</label>
                    </div>
                    <div class="col-md-2">
                        <numeric-up-down id="secondsToRetryLockedFile" ng-model="$parent.$parent.data.FileImportSettings.SecondsToRetryLockedFile" default-value="15" min-value="0" max-value="300" horizontal="true"></numeric-up-down>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" translate>Setting.Label.FileImport.Interval</label>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="fieldDelimiter" class="col-md-3 control-label" translate>Setting.Label.Common.DefaultDelimiter</label>
                    <div class="col-md-7">
                        <input id="fieldDelimiter" class="form-control" name="FieldDelimiter" ng-model="$parent.$parent.data.FileImportSettings.FieldDelimiter" maxlength="1" placeholder="{{'Common.Label.Delimiter' | translate}}" required />
                        <p id="fieldDelimiterErrorRequired" class="help-block" ng-show="packNetServerSettingsForm.FieldDelimiter.$error.required" translate>Common.Validation.Required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="commentIndicator" class="col-md-3 control-label" translate>Setting.Label.Common.DefaultCommentIndicator</label>
                    <div class="col-md-7">
                        <input id="commentIndicator" class="form-control" name="CommentIndicator" ng-model="$parent.$parent.data.FileImportSettings.CommentIndicator" maxlength="1" placeholder="{{'Common.Label.CommentIndicator' | translate}}" required />
                        <p id="commentIndicatorErrorRequired" class="help-block" ng-show="packNetServerSettingsForm.CommentIndicator.$error.required" translate>Common.Validation.Required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" translate>Common.Label.HeaderFields</label>
                    <div class="col-md-7">
                        <tags-input id="headerFields" ng-model="$parent.$parent.headerFields" min-length="2" placeholder="{{'Common.Label.AddHeader' | translate}}"></tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-7" id="deleteImportedFiles">
                        <label>
                            <input type="checkbox" ng-model="$parent.$parent.deleteImportedFiles" />{{'Setting.Label.FileImport.DeleteImportedFiles' | translate}}
                        </label>
                    </div>
                </div>
            </tab>
            <tab ng-if="SLDServiceAvaliable" active="tabs.sldSettingsTabActive" id="sldSettingsTab" heading="{{'SLD.Label.NameSingular' | translate}}">
                <sld-settings></sld-settings>
            </tab>
            <tab ng-if="ArticleServiceAvaliable" active="tabs.articleImportSettingsTabActive" id="articleImportSettingsTab" heading="{{'Article.Label.NameSingular' | translate}}">
                <article-service-settings></article-service-settings>
            </tab>
        </tabset>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <button class="btn btn-default" id="packNetServerSettingsSaveButton" ng-click="save(packNetServerSettingsForm)" translate>Common.Label.Save</button>
                <button class="btn btn-default" id="packNetServerSettingsCancelButton" ng-click="cancel()" translate>Common.Label.Cancel</button>
            </div>
        </div>
    </form>
</div>