﻿@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/montserrat-regular-webfont.eot');
  src: url('../../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/montserrat-regular-webfont.woff') format('x-font-woff'),
       url('../../fonts/montserrat-regular-webfont.ttf') format('truetype'),
       url('../../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'Montserrat';
      src: url('../../fonts/montserrat-regular-webfont.svg') format('svg');
    }
}
