<span ng-controller="DeleteUserOpenDialogCtrl" >
    <button id="deleteUser" ng-disabled="!canDelete()" ng-click="openDialog()" class="btn btn-default" translate>Common.Label.Delete</button>
</span>