﻿<div class="dashboard-content">
    <h4 translate>Login.Label.Header</h4>
    <!--
        Hack to make angular work with browser authentication providers
        https://medium.com/opinionated-angularjs/techniques-for-authentication-in-angularjs-applications-7bbf0346acec
        -->
    <div>
        <alert id="loginDialogAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>

    <form name="loginForm"
          ng-controller="LoginCtrl"
          class="form-horizontal"
          novalidate form-autofill-fix>
        <div>
            <div class="form-group">
                <label class="col-md-3 control-label" title="Username is required" for="username" translate>User.Label.Username</label>
                <div class="col-md-7">
                    <input type="text" id="username" ng-model="username" class="form-control" focus-element>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="password" title="Password is required" translate>User.Label.Password</label>
                <div class="col-md-7">
                    <input type="password" id="password" ng-model="password" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="language" class="col-md-3 control-label" title="Log level" translate>Language.Label.NameSingular</label>
                <div class="btn-group col-md-7" dropdown is-open="languageIsOpen">
                    <button id="language" type="button" class="btn btn-default" dropdown-toggle>
                        <span>{{selectedLanguageName()}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="languageUnorderedList" role="menu">
                        <li ng-repeat="l in languages">
                            <a click="javascript:void(0);" ng-click="selectLanguage(l.code)" id="{{l.code}}" ng-show="l.code !== preferences_new.PreferredLocale">{{l.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox col-md-3"></div>

                <div class="col-md-7">
                    <button ng-click="login(username,password)" type="submit" class="btn btn-default" id="loginButton" translate>Login.Label.Login</button>
                </div>
            </div>
        </div>
    </form>
</div>