﻿<div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="userEditForm" class="form-horizontal" role="form" novalidate> <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newUserUserNameLabel" for="newUserUserName" class="col-md-3 control-label" translate>User.Label.Username</label>
            <div class="col-md-7">
                <input id="newUserUserName" class="form-control" name="Name" ng-model="selectedUser.UserName" ng-disabled="!selectedUser.IsNewUser" size="29" ng-minlength="2" ng-maxlength="12" required focus-element />
                <p id="newUserUserNameValidation" class="help-block" ng-if="userEditForm.Name.$error.required" translate>Common.Validation.Required</p>
                <p class="help-block" ng-if="userEditForm.Name.$error.minlength" translate>{{'Common.Validation.MustBeBetween' | translate:{ min: 2, max: 12} }}</p>
                <p class="help-block" ng-if="userEditForm.Name.$error.maxlength" translate>{{'Common.Validation.MustBeBetween' | translate:{ min: 2, max: 12 } }}</p>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="Password" class="col-md-3 control-label" translate>User.Label.Password</label>
            <div class="col-md-7">
                <input id="newUserPassword" class="form-control" type="password" name="Password" ng-model="selectedUser.Password" size="29" ng-minlength="2" ng-maxlength="12" required />
                <p class="help-block" ng-if="userEditForm.Password.$error.required" translate>Common.Validation.Required</p>
                <p class="help-block" ng-if="userEditForm.Password.$error.minlength" translate>{{'Common.Validation.MustBeBetween' | translate:{ min: 2, max: 12} }}</p>
                <p class="help-block" ng-if="userEditForm.Password.$error.maxlength" translate>{{'Common.Validation.MustBeBetween' | translate:{ min: 2, max: 12 } }}</p>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="ConfirmPassword" class="col-md-3 control-label" translate>User.Label.RetypePassword</label>
            <div class="col-md-7">
                <input id="newUserPasswordConfirm" class="form-control" type="password" name="ConfirmPassword" ng-model="selectedUser.confirmPassword" size="29" required />
                <p class="help-block" ng-if="userEditForm.ConfirmPassword.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="checkbox col-md-7">
                <label id="newUserAutoLoginLabelContainer">
                    <input id="newUserAutoLogin" type="checkbox" name="autoLoginCheckbox" ng-model="selectedUser.IsAutoLogin" ng-disabled="selectedUser.DisableAutoLogin()"/> {{'User.Label.AutoLogin' | translate}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="checkbox col-md-7">
                <label id="newUserAdminContainer">
                    <input id="newUserAdmin" type="checkbox" name="adminCheckbox" ng-model="selectedUser.IsAdmin" ng-disabled="selectedUser.DisableAdmin()"/> {{'Common.Label.Administrator' | translate}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newUserSaveButton" ng-click="saveUser(userEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newUserCancelButton" ng-click="cancelNewEditUser()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>