﻿<div class="dashboard-content">
    <h4 translate>UserPreferences.Title</h4>

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="form-group col-md-12">
            <label for="currentLogLevel" class="col-md-2 control-label" title="Log level" translate>UserPreferences.LogLevel</label>
            <div class="btn-group col-md-9" dropdown is-open="logLevelIsOpen">
                <button name="currentLogLevel" type="button" class="btn btn-default" dropdown-toggle translate>{{'UserPreferences.LogLevels.' + preferences_new.LogLevel}}</button>
                <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="level in logLevels">
                        <a click="javascript:void(0);" ng-click="selectLogLevel(level)" ng-show="level !== preferences_new.LogLevel" translate>{{'UserPreferences.LogLevels.' + level}}</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="form-group col-md-12">
            <label for="NumberOfMessagesToRecord" class="col-md-2 control-label" title="Number of log messages to keep" translate>UserPreferences.LogMessagesToKeep</label>
            <div class="col-md-2 row">
                <input type="text" class="form-control col-md-9" name="NumberOfMessagesToRecord" ng-model="preferences_new.MaximumNumberOfLogMessagesToRecord" />
            </div>
        </div>
        <!--<div class="form-group col-md-12">
            <label for="language" class="col-md-2 control-label" title="Log level" translate>UserPreferences.Language</label>
            <div class="btn-group col-md-9" dropdown is-open="languageIsOpen">
                <button name="language" type="button" class="btn btn-default" dropdown-toggle translate>{{'Localization.Languages.' +preferences_new.PreferredLocale}}</button>
                <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="language in languages">
                        <a click="javascript:void(0);" ng-click="selectLanguage(language)" ng-show="language !== preferences_new.PreferredLocale" translate>{{'Localization.Languages.' +language}}</a>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
    <div class="form-group ">
        <div class="col-md-1"></div>
        <button id="SaveChanges" ng-click="saveChanges()" class="btn btn-default" translate>Terms.Common.Save</button>
        <button class="btn btn-default" ng-click="cancel()" id="preferencesCancelButton" translate>Terms.Common.Cancel</button>
    </div>
</div>