<div ng-controller="UserCtrl" class="dashboard-content">
    <h4 id="userManagementPageHeader" translate>User.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/UserManagement/userList.html"></div>
        </div>
    </div>
</div>