<div>
    <a ui-sref="Users.new">
        <button class="btn btn-default" id="newUser" translate>Common.Label.New</button>
    </a>
    <delete-user-button id="deleteUserButton" ></delete-user-button>
    <button class="btn btn-default" id="editUser" ng-disabled="!canEdit()" ng-click="editUser()" translate>Common.Label.Edit</button>
    <div>
        <alert id="userListAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="userListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>