<login permission="manager" use-token="true"/>
<div>
    <adf-dashboard id="dashboard" name="{{name}}" structure="4-8" adf-model="model"/>
</div>
<div ng-show="displayWelcomeMessage">
    <br />
    <span translate>Dashboard.Main.Message.Welcome</span>
</div>