﻿<div class="row" style="margin-bottom: 10px">
    <box-last-operator-trigger-interface></box-last-operator-trigger-interface>
</div>
<div class="row">
    <div class="panel-body">
        <div class="panel panel-default" id="operatorOpenOrders">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{'MachineProduction.Order.Label.OpenOrders' | translate}}
                    <span class="pull-right">
                        <a href="" ng-click="refreshOrdersList()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <orders-list operator-view></orders-list>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="panel panel-default" id="manualOperatorPanelJobsSent">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{'MachineProduction.Label.ItemsInProduction' | translate}}
                    <span class="pull-right">
                        <a href="" ng-click="refreshProductionList()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <machine-production></machine-production>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="panel panel-default" id="manualOperatorPanelCompletedJobs">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{'MachineProduction.Order.Label.ClosedOrders' | translate}}
                    <span class="pull-right">
                        <a href="" ng-click="refreshOrdersHistoryList()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <orders-history></orders-history>
            </div>
        </div>
    </div>
</div>
