﻿<div>
    <div>
        <alert id="machinesManagementZebraPrinterTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="machineEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group">
            <label for="newMachineDescription" class="col-md-3 control-label" translate>Machine.ZebraPrinter.Label.PrinterModel</label>
            <div class="col-md-7">
                <select id="newMachineModel" class="form-control" name="Model" ng-model="selectedMachine.model" ng-change="changeDefaultsForModel()" ng-options="model as model.Value for model in Models" focus-element></select>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newMachineAliasLabel" for="newMachineAlias" class="col-md-3 control-label" translate>Machine.ZebraPrinter.Label.PrinterName</label>
            <div class="col-md-7">
                <input id="newMachineAlias" class="form-control" name="Alias" ng-model="selectedMachine.Alias" size="29" required />
                <p class="help-block" id="newMachineAliasErrorRequired" ng-if="machineEditForm.$dirty && machineEditForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachineDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newMachineDescription" class="form-control" ng-model="selectedMachine.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newMachineIpOrDnsName" class="col-md-3 control-label" translate>Machine.Label.IPAddress</label>
            <div class="col-md-7">
                <input id="newMachineIpOrDnsName" class="form-control" name="IpOrDnsName" ng-model="selectedMachine.Data.IpOrDnsName" size="29" required ng-pattern="/^((0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)\.){3}(0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)$/" placeholder="###.###.###.###" />
                <p id="newMachineIpOrDnsErrorRequired" class="help-block" ng-if="machineEditForm.IpOrDnsName.$error.required" translate>Common.Validation.Required</p>
                <p id="newMachineIpOrDnsNameErrorPattern" class="help-block" ng-if="machineEditForm.IpOrDnsName.$error.pattern" translate>Common.Validation.InvalidFormat</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachinePortNUD" class="col-md-3 control-label" translate>Machine.Label.Port</label>
            <div class="col-md-7">
                <numeric-up-down id="newMachinePortNUD" ng-model="selectedMachine.Data.Port" default-value="9100" min-value="1" max-value="65535" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group">
            <label for="nextPrintOn" class="col-md-3 control-label" translate>Machine.ZebraPrinter.Label.PrinterMode</label>
            <div id="printerModeOptions" class="col-md-7">
                <input type="radio" name="printerMode" ng-value="true" ng-model="isPeelOff" />{{'Machine.ZebraPrinter.Label.PeelOff' | translate}}
                <br />
                <input type="radio" name="printerMode" ng-value="false" ng-model="isPeelOff" />{{'Machine.ZebraPrinter.Label.TearOff' | translate}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div id="machinePriorityPrinterContainer" class="col-md-7">
                <label>
                    <input id="newMachinePriorityPrinter" type="checkbox" ng-model="isPriorityPrinter" />{{'Machine.ZebraPrinter.Label.PriorityPrinter' | translate}}
                </label>
            </div>
        </div>
        <div class="form-group" collapse="!showAdvanceSettings">
            <label for="retryCount" class="col-md-3 control-label" translate>Machine.ZebraPrinter.Label.RetryCount</label>
            <div class="col-md-7">
                <numeric-up-down id="retryCount" ng-model="selectedMachine.Data.RetryCount" default-value="5" min-value="1" max-value="50" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" collapse="!showAdvanceSettings">
            <label for="pollInterval" class="col-md-3 control-label" translate>Machine.ZebraPrinter.Label.PollInterval</label>
            <div class="col-md-7">
                <numeric-up-down id="pollInterval" ng-model="selectedMachine.Data.PollInterval" default-value="200" min-value="50" max-value="9999" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" collapse="!showAdvanceSettings">
            <label for="labelSecondCheckWaitTime" class="col-md-3 control-label" translate>Machine.ZebraPrinter.Label.LabelSecondCheckWaitTime</label>
            <div class="col-md-7">
                <numeric-up-down id="labelSecondCheckWaitTime" ng-model="selectedMachine.Data.LabelSecondCheckWaitTime" default-value="100" min-value="0" max-value="9999" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <a id="toggleAdvancedSettings" class="col-md-7" ng-click="toggleAdvanceSettings()">{{labelAdvanceSettings}}</a>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newMachineSaveButton" ng-disabled="machineEditForm.$invalid" ng-click="saveMachine(machineEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newMachineCancelButton" ng-click="cancelNewEditMachine()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>