﻿<div>
    <div>
        <alert id="machinesFootPedalTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="footPedalEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newFootPedalName" class="col-md-3 control-label" translate>Machine.Accessory.FootPedal.Label.Name</label>
            <div class="col-md-7">
                <input id="newFootPedalName" class="form-control" name="Alias" ng-model="selectedDevice.Alias" size="29" focus-element required />
                <p class="help-block" id="newFootPedalNameErrorRequired" ng-if="footPedalEditForm.$dirty && footPedalEditForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newFootPedalDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newFootPedalDescription" class="form-control" ng-model="selectedDevice.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="newFootPedalPurpose" class="col-md-3 control-label" tra translate>Common.Label.Purpose</label>
            <div class="col-md-3">
                <select class="form-control" id="newFootPedalPurpose" ng-model="selectedDevice.Purpose" ng-options="purpose.Value as purpose.DisplayName for purpose in footPedalPurposes"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="newFootPedalIoModuleNUD" class="col-md-3 control-label" translate>Machine.Accessory.Label.Module</label>
            <div class="col-md-7">
                <numeric-up-down id="newFootPedalIoModuleNUD" ng-model="selectedDevice.Module" default-value="1" min-value="1" max-value="2" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group">
            <label for="newFootPedalPortNUD" class="col-md-3 control-label"  translate>Machine.Label.Port</label>
            <div class="col-md-7">
                <numeric-up-down id="newFootPedalPortNUD" ng-model="selectedDevice.Port" default-value="10" min-value="1" max-value="12" horizontal="true"></numeric-up-down>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="btn btn-default" id="newFootPedalSaveButton" ng-disabled="footPedalEditForm.$invalid" ng-click="saveFootPedal(footPedalEditForm)" translate>Common.Label.Save</button>
                <button class="btn btn-default" id="newFootPedalCancelButton" ng-click="cancelNewEditFootPedal()" translate>Common.Label.Cancel</button>
            </div>
        </div>
    </form>
</div>