﻿<div ng-controller="EditAccessoryCtrl">
    <div class="modal-header">
        my modal
    </div>
    <div class="modal-body">
        teh stuff..
        <div ng-if="ioDeviceForMachine == null">
            blah..
        </div>
        <div ng-repeat="input in ioDeviceForMachine.Inputs track by $index">
            <label ng-if="input != null">{{input.Description}}</label>
            <label ng-if="input == null">empty</label>
        </div>
    </div>
    <div class="modal-footer">
        footer
    </div>
</div>