﻿<div class="form-group" ng-controller="IoDeviceCtrl">
    <label class="col-md-3 control-label" translate>Machine.Accessory.Label.NamePlural</label>

    <div class="col-md-7">
        <div class="well well-sm">
            <div class="btn-group" dropdown>
                <button type="button" ng-disabled="selectedMachine.IsNewMachine" id="newAccessoryButton" class="btn btn-default" dropdown-toggle>
                    <span translate>Common.Label.New</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="ConveyorOption" ui-sref="^.newConveyor" id="machinesNewConveyor" translate><i class="fa fa-male"></i> Machine.Accessory.Conveyor.Label.NameSingular</a></li>
                    <li><a id="FootPedalOption" ui-sref="^.newFootPedal" id="machinesNewFootPedal" translate><i class="fa fa-male"></i> Machine.Accessory.FootPedal.Label.NameSingular</a></li>
                </ul>
            </div>
            <button class="btn btn-default" id="deleteAccessory" ng-disabled="!canDelete()" ng-click="deleteDevices() || selectedMachine.IsNewMachine" translate>Common.Label.Delete</button>
            <button class="btn btn-default" id="editAccessory" ng-disabled="!canEdit() || selectedMachine.IsNewMachine" ng-click="editDevice()" translate>Common.Label.Edit</button>
            <div ng-disabled="selectedMachine.IsNewMachine" id="AccessoriesGridDiv" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
        </div>
    </div>
</div>