<div>
    <a ui-sref="MachineGroups.new">
        <button class="btn btn-default" id="newMachineGroup" translate>Common.Label.New</button>
    </a>
    <button class="btn btn-default" id="deleteMachineGroup" ng-disabled="!canDelete()" ng-click="deleteMachineGroup()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editMachineGroup" ng-disabled="!canEdit()" ng-click="editMachineGroup()" translate>Common.Label.Edit</button>
    <div>
        <alert id="MachineGroupAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="machineGroupListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>