<div ng-controller="MachineGroupsCtrl" class="dashboard-content">
    <h4 id="machineGroupPageTitleHeader" translate>MachineGroup.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/MachineGroups/machineGroupsList.html"></div>
        </div>
    </div>
</div>