﻿<div>
    <div>
        <alert ng-repeat="alert in alerts" id="newMachineGroupAlert" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="machineGroupEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newMachineGroupAliasLabel" for="newMachineGroupAlias" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="newMachineGroupAlias" class="form-control" name="Name" ng-model="selectedMachineGroup.Alias" size="29" focus-element required />
                <p id="newMachineGroupAliasValidation" class="help-block" ng-if="machineGroupEditForm.Name.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachineDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newMachineDescription" class="form-control" ng-model="selectedMachineGroup.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newMachineGroupWorkflowPath" class="col-md-3 control-label" translate>MachineGroup.Label.WorkflowPath</label>
            <div class="col-md-7">
                <select id="newMachineGroupWorkflowPath" class="form-control" name="WorkflowPath" ng-model="selectedMachineGroup.WorkflowPath" ng-options="file.Value as file.Key for file in machineGroupWorkflowPaths" required>
                    <option value="" translate>Common.Label.SelectOne</option>
                </select>
                <p class="help-block" ng-if="machineGroupEditForm.WorkflowPath.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachineGroupQueueLengthNUD" class="col-md-3 control-label" translate>MachineGroup.Label.QueueLength</label>
            <div class="col-md-7">
                <numeric-up-down id="newMachineGroupQueueLengthNUD" ng-model="selectedMachineGroup.MaxQueueLength" default-value="2" min-value="1" max-value="9999" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Machine.Label.NamePlural</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div id="newMachineGroupMachinesList" class="row">
                        <label class="col-md-3" ng-repeat="machine in availableMachines | orderBy : ['MachineType', 'Alias']">
                            <input type="checkbox" ng-model="machine.Included" id="{{machine.Alias}}">
                            <i class="fa" ng-class="{
                                'fa-barcode': (machine.MachineType == 'WifiBarcodeScanner'),
                                'fa-dropbox': (machine.MachineType == 'Fusion' || machine.MachineType == 'Em'),
                                'fa-print': (machine.MachineType == 'ZebraPrinter')}">
                            </i>
                            {{machine.Alias}}
                        </label>
                    </div>
                    <div class="row" collapse="!showUnavailableMachines" style="margin-top: 5px; margin-bottom: 5px;">
                        <label class="col-md-3" ng-repeat="machine in unavailableMachines | orderBy : ['MachineType', 'MachineAlias']">
                            <span popover-placement="top" popover="{{machine.MachineGroupAlias}}" popover-title="{{'Common.Label.AssignedTo' | translate}}">
                                <span class="menu-icon fa fa-info-circle"></span>
                                <i class="fa" ng-class="{
                                    'fa-barcode': (machine.MachineType == 'WifiBarcodeScanner'),
                                    'fa-dropbox': (machine.MachineType == 'Fusion' || machine.MachineType == 'Em'),
                                    'fa-print': (machine.MachineType == 'ZebraPrinter')}">
                                </i>
                                {{machine.MachineAlias}}
                            </span>
                        </label>
                    </div>
                    <div class="row" ng-show="unavailableMachines.length > 0" style="margin-top: 5px; margin-bottom: 5px;">
                        <a class="col-md-12" ng-click="toggleUnavailableMachines()">{{labelUnavailableMachines}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newMachineGroupSaveButton" ng-click="saveMachineGroup(machineGroupEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newMachineGroupCancelButton" ng-click="cancelNewEditMachineGroup()" translate>Common.Label.Cancel</button>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>MachineGroup.Label.EffectiveCapabilities</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div id="newEffectiveCapabilities" class="row">
                        <span class="col-md-10" ng-repeat="cap in effectiveCapabilities()| unique:'DisplayValue'|orderBy:'DisplayValue'" translate>
                            {{cap.DisplayValue}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>