﻿<div class="ui-grid-cell-contents">
    <span ng-if="COL_FIELD.ProducibleType == 'Kit'">
        {{COL_FIELD.CustomerUniqueId}}
    </span>
    <a href ng-click="grid.appScope.editArticle(row.entity)" ng-if="COL_FIELD.ProducibleType != 'Kit'">
        {{COL_FIELD.CustomerUniqueId}}
    </a>
</div>