﻿<div class="dashboard-content">
    <h4 translate>Connecting.Message.Connecting</h4>
    <alert id="loginDialogAlerts" ng-repeat="alert in alerts" type="{{alert.type}}">
        {{alert.msg}}
        <span ng-show="canReconnect" align="center">
            <button id="reconnectButton" ng-click="connectToServer()" class="btn btn-default" style="margin-top: -2px;" translate>Connecting.Label.Reconnect</button>
        </span>
    </alert>
    <div ng-hide="connectionFailed">
        <progressbar class="progress-striped active" value="progress" type="{{progressType}}" />
        {{ 'Connecting.Message.PleaseWait' | translate:{ currentlyConnectingTo: currentlyConnectingTo } }}
    </div>
</div>