﻿<div ng-controller="deleteCartonsCtrl">
    <br />
    <label>Start date</label>
    <date-time-picker ng-model="beginDate"></date-time-picker>
    <br />
    <label>End Date</label>
    <date-time-picker ng-model="endDate"></date-time-picker><br />
    <input type="button" value="Request Delete" ng-disabled="isDisabled()" class="btn btn-default" ng-click="requestCartonDelete();" />
</div>