﻿<div ng-repeat="d in designparameters | orderBy:'Alias'">
    <ng-form name="{{d.Alias}}Form">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="{{d.Alias}}InputBox" class="col-md-3 control-label" title="{{d.Alias}} is not Required">{{d.Alias}}</label>
            <div class="col-md-{{sizeClass}}">
                <input class="form-control" name="{{d.Alias}}InputBox" id="Parameter{{d.Alias}}InputBox" ng-model="d.Value" tabindex="{{tabbingIndex}}" type="number" size="15" ng-pattern="pattern" autocomplete="off" required="" select-on-click />
                <p class="help-block">{{d.Alias}} must be a number</p>
            </div>
        </div>
    </ng-form>
</div>