﻿<div class="numpad">
    <div class="button-wrapper">
        <button class="btn btn-default" data-ng-key="1">1</button>
        <button class="btn btn-default" data-ng-key="2">2</button>
        <button class="btn btn-default" data-ng-key="3">3</button>
        <button class="btn btn-default" data-ng-key="4">4</button>
        <button class="btn btn-default" data-ng-key="5">5</button>
        <button class="btn btn-default" data-ng-key="6">6</button>
        <button class="btn btn-default" data-ng-key="7">7</button>
        <button class="btn btn-default" data-ng-key="8">8</button>
        <button class="btn btn-default" data-ng-key="9">9</button>


        <button class="btn btn-default smaller" data-ng-key="[CLEAR]">Clear</button>
        <button class="btn btn-default" data-ng-key="0">0</button>
        <button class="btn btn-default" data-ng-key=".">.</button>
    </div>
    <div class="drag-indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <button class="close ui-grid-icon-cancel" data-ng-click="close()"></button>
</div>