﻿<div class="{{divClass}}">
    <span ng-disabled="currentPage == 1" class="pagingControl" ng-click="goTo({x:'First'})" title="First Page">
        <i ng-class="{pagingControlDisabled: currentPage == 1}" class="icon-chevron-left" style="margin-top: 6px;"/>
        <i ng-class="{pagingControlDisabled: currentPage == 1}" class="icon-chevron-left" style="margin-left: -12px; margin-top: 6px;"/>
    </span>
    <i ng-disabled="currentPage == 1" ng-class="{pagingControlDisabled: currentPage == 1}" class="pagingControl icon-chevron-left" ng-click="goTo({x:'Previous'})" title="Previous Page" style="margin-top: -1px;"/>
    
    <span class="pagingText">{{currentPageText}}</span>

    <i ng-disabled="currentPage == lastPage" ng-class="{pagingControlDisabled: currentPage == lastPage}" class="pagingControl icon-chevron-right" ng-click="goTo({x:'Next'})" title="Next Page" style="margin-top: -1px;"/>
    <span ng-disabled="currentPage == lastPage" class="pagingControl" ng-click="goTo({x:'Last'})" title="Last Page">
        <i ng-class="{pagingControlDisabled: currentPage == lastPage}" class="icon-chevron-right" style="margin-top: 6px;"/>
        <i ng-class="{pagingControlDisabled: currentPage == lastPage}" class="icon-chevron-right" style="margin-left: -12px; margin-top: 6px;"/>
    </span>
</div>