﻿<div class="{{divClass}}">
    <span style="font-size: 14px; margin-top: 10px;">Filter by:</span>
    <select class="form-control" ng-model="searchType" ng-options="type.code as type.name for type in searchTypes"></select>
    <input class="form-control searchText" type="text" ng-model="searchValue">
    <button style="margin-top: -7px;" class="btn btn-default" ng-disabled="isSearching" ng-click="search()">{{searchButtonText}}</button>
</div>
