﻿<div class="btn-group btn-block">
    <label class="btn btn-success col-md-6"
           ng-class="{'ui-grid-icon-ok': row.entity.ImportAction == 'Import', 'ui-grid-icon-cancel': row.entity.ImportAction != 'Import', 'btn':true, 'btn-default': true}"
           ng-if="grid.appScope.importActionCanImport(row.entity)"
           ng-model="row.entity.ImportAction" btn-radio="'Import'" radio>
        <span translate>Common.Label.Import</span>
    </label>
    <label class="btn btn-success col-md-6"
           ng-class="{'ui-grid-icon-ok': row.entity.ImportAction == 'Update', 'ui-grid-icon-cancel': row.entity.ImportAction != 'Update', 'btn':true, 'btn-default': true}"
           ng-if="grid.appScope.importActionCanUpdate(row.entity)"
           ng-model="row.entity.ImportAction" btn-radio="'Update'" radio>
        <span translate>Common.Label.Update</span>
    </label>
    <label class="btn btn-warning col-md-6"
           ng-class="{'ui-grid-icon-ok': row.entity.ImportAction == 'Ignore', 'ui-grid-icon-cancel': row.entity.ImportAction != 'Ignore', 'btn':true, 'btn-default': true}"
           ng-model="row.entity.ImportAction" btn-radio="'Ignore'" radio>
        <span translate>Common.Label.Ignore</span>
    </label>
</div>