﻿<div ng-controller="UPCNewEditCtrl">
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" id="newUPCAlert" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="UPCEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newUPCLabel" for="UPCIdentifierInput" class="col-md-3 control-label" translate>UPC.Label.NameSingular</label>
            <div class="col-md-7">
                <input id="UPCIdentifierInput" class="form-control" name="UPC" ng-model="selectedUPC.UPC" ng-disabled="!selectedUPC.IsNewUPC" size="29" focus-element required />
                <p id="newUPCNameValidation" class="help-block" ng-if="UPCEditForm.UPC.$invalid" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="UPCDescriptionInput" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="UPCDescriptionInput" class="form-control" ng-model="selectedUPC.Description" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="Parsed" class="col-md-3 control-label" translate>UPC.Label.Parse</label>
            <div class="col-md-7">
                <input class="form-control" id="ParseInput" name="Parsed" type="text" ng-model="selectedUPC.Parsed" size="15" focus-element />
            </div>
        </div>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="Length" class="col-md-3 control-label" translate>Common.Label.Length</label>
            <div class="col-md-7">
                <input class="form-control" id="UPCLengthInput" name="Length" type="number" ng-model="selectedUPC.Length" size="15" ng-pattern="floatingPointRegex" ng-keypad-input="numericKeyPad" required/>
                <p id="newUPCNameValidation" class="help-block" ng-if="UPCEditForm.Length.$invalid" translate>Common.Validation.Required</p>
            </div>
        </div>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="Width" class="col-md-3 control-label" translate>Common.Label.Width</label>
            <div class="col-md-7">
                <input class="form-control" name="Width" id="UPCWidthInput" type="number" ng-model="selectedUPC.Width" size="15" ng-pattern="floatingPointRegex" ng-keypad-input="numericKeyPad" required/>
                <p id="newUPCNameValidation" class="help-block" ng-if="UPCEditForm.Width.$invalid" translate>Common.Validation.Required</p>
            </div>
        </div>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="Height" class="col-md-3 control-label" translate>Common.Label.Height</label>
            <div class="col-md-7">
                <input class="form-control" name="Height" id="UPCHeightInput" type="number" ng-model="selectedUPC.Height" size="15" ng-pattern="floatingPointRegex" ng-keypad-input="numericKeyPad" required/>
                <p id="newUPCNameValidation" class="help-block" ng-if="UPCEditForm.Height.$invalid" translate>Common.Validation.Required</p>
            </div>
        </div>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="Weight" class="col-md-3 control-label" translate>Common.Label.Weight</label>
            <div class="col-md-7">
                <input class="form-control" name="Weight" id="UPCWeightInput" type="number" ng-model="selectedUPC.Weight" size="15" ng-pattern="floatingPointRegex" ng-keypad-input="numericKeyPad" />
            </div>
        </div>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="DesignId" class="col-md-3 control-label" translate>Common.Label.Design</label>
            <div class="col-md-7">
                <select class="form-control" name="DesignId" id="UPCDesignDropDown" ng-model="selectedUPC.DesignId" ng-options="c.Id as c.Name for c in designList" required></select>
                <p id="newUPCNameValidation" class="help-block" ng-if="UPCEditForm.DesignId.$invalid" translate>Common.Validation.Required</p>
            </div>
        </div>
        
        <div ng-if="editingScannedRow" class="form-group" show-errors='{showSuccess: true}'>
            <label for="Quantity" class="col-md-3 control-label" translate>Common.Label.Quantity</label>
            <div class="col-md-7">
                <input class="form-control" name="Quantity" id="UPCQuantityInput" type="number" ng-model="selectedUPC.Quantity" size="15" ng-pattern="intRegex" ng-keypad-input="numericKeyPad" />
                <p class="help-block" ng-if="UPCEditForm.Quantity.$invalid" translate>Common.Validation.MustBeInteger</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <button class="btn btn-default" id="NewUPCSaveButton" ng-disabled="UPCEditForm.Quantity.$invalid || UPCEditForm.UPC.$invalid" ng-click="saveUPC(UPCEditForm)" translate>{{editingScannedRow ? 'SLD.Label.UpdateRow' : 'Common.Label.Save'}}</button>
                <button class="btn btn-default" id="NewUPCCancelButton" ng-click="cancelNewEditUPC()" translate>Common.Label.Cancel</button>
            </div>
        </div>
    </form>
</div>