﻿<form name="sldSettingsForm" class="form-horizontal" role="form">
    <div class="form-group" style="margin-top: 10px" show-errors='{showSuccess: true}'>
        <label for="conflictResolutionMethodDropDown" class="col-md-3 control-label" translate>Setting.Label.SLD.ImportWorkflow</label>
        <div class="col-md-7">
            <select class="form-control" name="ImportWorkflowDropdown" id="importWorkflowDropdown" ng-model="configurationOptions.ImportWorkflow"
                    ng-options="m as m.WorkflowName for m in workflows.ImportWorkflows track by m.WorkflowPath" required ng-pattern="notEmptyPattern">
            </select>
            <p class="help-block" ng-if="sldSettingsForm.ImportWorkflowDropdown.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="conflictResolutionMethodDropDown" class="col-md-3 control-label" translate>Setting.Label.SLD.UPCImportWorkflow</label>
        <div class="col-md-7">
            <select class="form-control" name="UpcImportWorkflowDropdown" id="upcImportWorkflowDropdown" ng-model="configurationOptions.UPCImportWorkflow"
                    ng-options="m as m.WorkflowName for m in workflows.UPCImportWorkflows track by m.WorkflowPath" required ng-pattern="notEmptyPattern">
            </select>
            <p class="help-block" ng-if="sldSettingsForm.UpcImportWorkflowDropdown.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="conflictResolutionMethodDropDown" class="col-md-3 control-label" translate>Setting.Label.SLD.UPCExportWorkflow</label>
        <div class="col-md-7">
            <select class="form-control" name="UpcExportWorkflowDropdown" id="upcExportWorkflowDropdown" ng-model="configurationOptions.UPCExportWorkflow"
                    ng-options="m as m.WorkflowName for m in workflows.UPCExportWorkflows track by m.WorkflowPath" required ng-pattern="notEmptyPattern">
            </select>
            <p class="help-block" ng-show="sldSettingsForm.UpcExportWorkflowDropdown.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="conflictResolutionMethodDropDown" class="col-md-3 control-label" translate>Setting.Label.SLD.ConflictResolutionMethod</label>
        <div class="col-md-7">
            <select class="form-control" name="ConflictResolutionMethodDropDown" id="conflictResolutionMethodDropDown" ng-model="configurationOptions.ConflictResolutionMethod" required ng-pattern="notEmptyPattern">
                <option value="Ignore" translate>Common.Label.Ignore</option>
                <option value="Update" translate>Common.Label.Update</option>
            </select>
            <p class="help-block" ng-if="sldSettingsForm.ConflictResolutionMethodDropDown.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="DefaultDelimiterInput" class="col-md-3 control-label" translate>Setting.Label.Common.DefaultDelimiter</label>
        <div class="col-md-7">
            <input id="defaultDelimiterInput" class="form-control" name="DefaultDelimiterInput" ng-model="configurationOptions.ImportFileDelimeter" placeholder="{{'Common.Label.Delimiter' | translate}}" required ng-pattern="notEmptyPattern" />
            <p class="help-block" ng-if="sldSettingsForm.DefaultDelimiterInput.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="DefaultCommentPrefixInput" class="col-md-3 control-label" translate>Setting.Label.Common.DefaultCommentIndicator</label>
        <div class="col-md-7">
            <input id="defaultCommentPrefixInput" class="form-control" name="DefaultCommentPrefixInput" ng-model="configurationOptions.ImportFileCommentPrefix" placeholder="{{'Common.Label.CommentIndicator' | translate}}" required ng-pattern="notEmptyPattern" />
            <p class="help-block" ng-if="sldSettingsForm.DefaultCommentPrefixInput.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
</form>