﻿<div>
    <div class="modal-header">
        <div class="modal-header-title" translate>
            UPC.DeleteDialog.Label.Header
        </div>
    </div>
    <div class="modal-body">
        {{ 'UPC.DeleteDialog.Message.Body' | translate }}
        <br />
        {{ 'Common.Message.CantBeUndone' | translate }}
    </div>
    <div class="modal-footer">
        <button id="UPCDeleateConfirmButton" ng-click="deleteOk()" tabindex="10" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="UPCDeleteConfirmClose" ng-click="deleteCancel()" tabindex="20" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>