<div>
    <div>
        <alert id="UPCAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <span translate>SLD.Label.Scanning</span>
    <div class="well well-sm">
        <form name="UPCEditForm" class="form-horizontal" role="form" novalidate>
            <!-- novalidate causes the default chrome validation to not be displayed -->
            <div class="form-group row">
                <!--  show-errors='{showSuccess: true}'> -->
                <label id="newUPCLabel" for="UPCInput" class="col-md-2 control-label" translate>UPC.Label.NameSingular</label>
                <div class="col-md-7">
                    <input id="UPCInput" class="form-control" name="UPC" ng-model="searchUPC.UPC" size="29" focus-element required />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" id="SendUPCButton" ng-click="send()" translate>Common.Label.Send</button>
                </div>
            </div>
            <div class="form-group row" show-errors='{showSuccess: true}'>
                <label for="DesignId" class="col-md-2 control-label" translate>Common.Label.Design</label>
                <div class="col-md-7">
                    <select class="form-control" id="DesignDropDown" name="DesignId" ng-model="searchUPC.defaultDesignId" ng-options="c.Id as c.Name for c in designList">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label id="UPC.Edit.Quantity" for="UPCQuantity" class="col-md-2 control-label" translate>Common.Label.Quantity</label>
                <div class="col-md-2" id="UPCQuantity">
                    <numeric-up-down ng-model="searchUPC.Quantity" default-value="1" min-value="1" max-value="65535" horizontal="true"></numeric-up-down>
                </div>
            </div>
        </form>

        <span translate>SLD.Label.ScannedItems</span>
        <div id="ScannedUPCsGrid">
            <div id="UPCListTable" ui-grid="gridOptions" external-scopes="gridScope" ui-grid-resize-columns class="table-margin-top"></div>
        </div>
    </div>
    <span translate>Common.Label.Administration</span>
    <div class="well well-sm">
        <button class="btn btn-default" id="ManageUPCsButton" ng-click="goToManagementPage()" translate>SLD.Label.ManageUPCs</button>
    </div>
</div>