<div ng-controller="UPCCtrl" class="dashboard-content">
    <h4 id="pageHeading">{{'SLD.Label.NameSingular' | translate}} {{currentMachineGroup ? '- ' + labelMachineGroup + ': ' + currentMachineGroup.Alias + ' - ' + labelStatus + ':' : ''}} {{currentMachineGroup ? 'MachineGroupStatus.Label.' + currentMachineGroup.CurrentStatus : '' | translate}}</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/SLD/UPCItemsList.html"></div>
        </div>
    </div>
</div>