﻿<div ng-controller="ImportUPCCtrl">
    <h4 translate>UPC.Import.Label.Header</h4>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" id="newUPCAlert" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div>
        <div>
            <span translate>UPC.Import.Label.UPCsUnderImport</span>
            <div id="CurrentUPCItemsList" ui-grid="importGridOptions" ui-grid-resize-columns class="table-margin-top"></div>
        </div>
        <div ng-show="awaitingUpdate">
            <br />
            <h4 class="pagination-centered row" translate>Common.Import.Message.Processing</h4>
            <progressbar class="progress-striped active row" value="progress" type="success" />
        </div>
        <br />
        <form class="form-horizontal">
            <div class="well well-sm">
                <div class="form-group">
                    <label class="col-md-1" translate>Common.Import.Label.HeadersInFile</label>
                    <div class="col-md-7">
                        <button type="button" id="importHeadersInFileSelectionBox" ng-class="{'ui-grid-icon-ok': useHeadersInFile, 'ui-grid-icon-cancel': !useHeadersInFile, 'btn':true, 'btn-default': true}" ng-model="useHeadersInFile" btn-checkbox></button>
                    </div>
                </div>
                <div class="form-group" ng-show="!useHeadersInFile">
                    <label class="col-md-1" translate>Common.Label.HeaderFields</label>
                    <div class="col-md-7">
                        <tags-input id="headerFields" ng-model="headerFields" min-length="2" placeholder="{{'Common.Label.AddHeader' | translate}}"></tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1" translate>Common.Label.Delimiter</label>
                    <div class="col-md-7">
                        <input class="form-control" id="UPCImportDelimiter" ng-model="configuration.ImportFileDelimeter" placeholder="{{'Common.Label.SelectDelimiter' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1" translate>Common.Label.CommentIndicator</label>
                    <div class="col-md-7">
                        <input class="form-control" id="UPCImportCommentPrefix" ng-model="configuration.ImportFileCommentPrefix" placeholder="{{'Common.Label.SelectCommentIndicator' | translate}}" />
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                <span class="btn btn-default btn-file" id="UPCImportBrowseFile" ng-disabled="cantBrowse()" ng-mousedown="resetImport()">
                    <span translate>Common.Label.BrowseFile</span>
                    <input type="file" fileread="uploadme.src" />
                </span>
                <button class="btn btn-default" id="UPCImportProcessFile" ng-disabled="cantProcess()" ng-click="processFile()" translate>Common.Import.Label.ProcessFile</button>
                <button class="btn btn-default" id="UPCImportFinalizeImport" ng-disabled="cantFinalize()" ng-click="finalizeImport()" translate>Common.Import.Label.FinalizeImport</button>
                <button class="btn btn-default" id="UPCImportCancelImport" ng-click="cancelButtonClick()" translate>Common.Label.Cancel</button>
            </div>
        </form>
    </div>
</div>