﻿<div ng-controller="UPCManagementCtrl">
    <span class="h5" translate>UPC.Label.Header</span>
    <div class="well well-sm">
        <div>
            <a ui-sref="SLD.new">
                <button class="btn btn-default" id="newUPC" translate>Common.Label.New</button>
            </a>
            <a>
                <button class="btn btn-default" id="deleteUPC" ng-disabled="!canDelete()" ng-click="deleteUPC()" translate>Common.Label.Delete</button>
            </a>
            <a>
                <button class="btn btn-default" id="editUPC" ng-disabled="!canEdit()" ng-click="editUPC()" translate>Common.Label.Edit</button>
            </a>
            <a ui-sref="SLD.import" ng-if="isAdmin()">
                <button class="btn btn-default" id="importUPCs" translate>Common.Label.Import</button>
            </a>
            <a ng-if="isAdmin()">
                <button class="btn btn-default" id="exportUPCs" ng-click="exportUPCs()" translate>Common.Label.Export</button>
            </a>
        </div>
    </div>
    <alert id="SLDManagementAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    <div class="well well-sm">
        <a id="ToggleFiltersLabel" ng-click="toggleFilters()">{{toggleFilterMessage}}</a>

        <div class="form-horizontal" collapse="!showFilters">
            <div class="row form-group">
                <label for="upc" class="control-label col-md-1" translate>UPC.Label.NameSingular</label>
                <input class="form-control" style="width: 25%" id="UpcFilterInput" ng-model="searchOptions.UPC" />
            </div>
            <div class="row form-group">
                <label for="upc" class="control-label col-md-1" translate>Common.Label.CreatedDateRange</label>
                <button type="button" id="enableCreatedDateFilteringCheckBox"
                        style="width: 50px"
                        class="col-md-1 btn btn-primary"
                        ng-class="{'ui-grid-icon-ok': filterCreated, 'ui-grid-icon-cancel': !filterCreated, 'btn':true, 'btn-default': true}"
                        ng-model="filterCreated" btn-checkbox></button>
                <div class="col-md-5">
                    <div class="col-md-6" id="UPCCreatedFromDateWrapper">
                        <div dropdown>
                            <a id="UPCCreatedFromDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                                <div class="input-group">
                                    <label type="text" class="form-control" style="white-space: nowrap">{{searchOptions.createdDateRange.from | date:'medium'}}</label>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="searchOptions.createdDateRange.from" data-datetimepicker-config="{minView:'hour',startView:'day', dropdownSelector: '#UPCCreatedFromDate' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" id="UPCCreatedToDateWrapper">
                        <div dropdown>
                            <a id="UPCCreatedToDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                                <div class="input-group">
                                    <label type="text" class="form-control" style="white-space: nowrap">{{searchOptions.createdDateRange.to | date:'medium'}}</label>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="searchOptions.createdDateRange.to" data-datetimepicker-config="{minView:'hour',startView:'day', dropdownSelector: '#UPCCreatedToDate' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label for="upc" class="control-label col-md-1" translate>UPC.Label.EditedDateRange</label>
                <button type="button" id="enableEditedDateFilteringCheckBox"
                        style="width: 50px"
                        class="col-md-1 btn btn-primary"
                        ng-class="{'ui-grid-icon-ok': filterEdited, 'ui-grid-icon-cancel': !filterEdited, 'btn':true, 'btn-default': true}"
                        ng-model="filterEdited" btn-checkbox></button>
                <div class="col-md-5">
                    <div class="col-md-6" id="UPCEditedFromDateWrapper">
                        <div dropdown>
                            <a id="UPCEditedFromDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                                <div class="input-group">
                                    <label type="text" class="form-control" style="white-space: nowrap">{{searchOptions.editedDateRange.from | date:'medium'}}</label>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="searchOptions.editedDateRange.from" data-datetimepicker-config="{minView:'hour',startView:'day', dropdownSelector: '#UPCEditedFromDate' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" id="UPCEditedToDateWrapper">
                        <div dropdown>
                            <a id="UPCEditedToDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                                <div class="input-group">
                                    <label type="text" class="form-control" style="white-space: nowrap">{{searchOptions.editedDateRange.to | date:'medium'}}</label>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="searchOptions.editedDateRange.to" data-datetimepicker-config="{minView:'hour',startView:'day', dropdownSelector: '#UPCEditedToDate' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-1" for="DesignSelectionDropDown" translate>Common.Label.Design</label>
                <div class="col-md-1">
                    <select class="form-control" id="DesignSelectionDropDown" ng-model="searchOptions.DesignId" ng-options="c.Id as c.Name for c in packagingDesigns">
                        <option value="">All</option>
                    </select>
                </div>
                <label for="LengthFilterInput" class="control-label col-md-1" translate>Common.Label.Length</label>
                <div class="col-md-1">
                    <input class="form-control" id="LengthFilterInput" ng-keypad-input="numericKeyPad" ng-model="searchOptions.Length" />
                </div>
                <label for="WidthFilterInput" class="control-label col-md-1" translate>Common.Label.Width</label>
                <div class="col-md-1">
                    <input class="form-control" id="WidthFilterInput" ng-keypad-input="numericKeyPad" ng-model="searchOptions.Width" />
                </div>
                <label for="HeightFilterInput" class="control-label col-md-1" translate>Common.Label.Height</label>
                <div class="col-md-1">
                    <input class="form-control" id="HeightFilterInput" ng-keypad-input="numericKeyPad" ng-model="searchOptions.Height" />
                </div>
                <label for="WeightFilterInput" class="control-label col-md-1" translate>Common.Label.Weight</label>
                <div class="col-md-1">
                    <input class="form-control" id="WeightFilterInput" ng-keypad-input="numericKeyPad" ng-model="searchOptions.Weight" />
                </div>
                <div class="col-md-2">
                    <label class="col-md-2"></label>
                    <button class="btn btn-default col-md-4" id="FilterButton" ng-click="filter()" translate>Common.Label.Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="well well-sm" id="UpcGrid">
        <span translate>UPC.Label.UPCsInSystem</span>
        <div id="CurrentUPCItemsList" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection class="table-margin-top"></div>
    </div>
    <div class="well well-sm" ng-if="shouldShowCloseButton()">
        <a>
            <button class="btn btn-default" id="upcManagementCloseButton" ng-click="close()" translate>Common.Label.Close</button>
        </a>
    </div>
</div>