﻿<div class="text-center" style="margin-top:1px">
    <button class="btn btn-default" value="remove" ng-click="grid.appScope.removeRow(row)" title="{{'SLD.Label.RemoveRow' | translate}}">
        &nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-trash"></i>&nbsp;&nbsp;&nbsp;
    </button>
    <button class="btn btn-default" style="margin-left: 5px" value="edit" ng-click="grid.appScope.editRow(row)" title="{{'SLD.Label.UpdateRow' | translate}}">
        &nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-edit"></i>&nbsp;&nbsp;&nbsp;
    </button>
</div>