<div>
    <a ui-sref="Corrugates.new">
        <button class="btn btn-default" id="newCorrugate" translate>Common.Label.New</button>
    </a>
    <button class="btn btn-default" id="deleteCorrugate" ng-disabled="!canDelete()" ng-click="deleteCorrugates()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editCorrugate" ng-disabled="!canEdit()" ng-click="editCorrugate()" translate>Common.Label.Edit</button>
    <div>
        <alert id="CorrugateAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="corrugateListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>