<div ng-controller="CorrugatesController" class="dashboard-content">
    <h4 id="corrugatesTitleHeader" translate >Corrugate.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/Corrugates/corrugatesList.html"></div>
        </div>
    </div>
</div>