﻿<div>
    <div>
        <alert id="newCorrugateAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="corrugateEditForm" class="form-horizontal" role="form" novalidate> <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            
            <label id="newCorrugateCorrugateNameLabel" for="newCorrugateCorrugateName" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="newCorrugateCorrugateName" class="form-control" name="Name" ng-model="selectedCorrugate.Alias" size="29" focus-element required/>
                <p id="newCorrugateCorrugateNameValidation" class="help-block" ng-if="corrugateEditForm.Name.$error.required" translate>Common.Validation.Required</p>

            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newCorrugateWidth" class="col-md-3 control-label" translate>Common.Label.Width</label>
            <div class="col-md-7">
                <input id="newCorrugateWidth" class="form-control" name="Width" ng-model="selectedCorrugate.Width" type="number" min="0" max="99999" ng-pattern="floatingPointRegex" required />
                <p class="help-block" ng-if="corrugateEditForm.Width.$error.required" translate>Common.Validation.Required</p>
                <p class="help-block" ng-if="corrugateEditForm.Width.$error.pattern" translate>Common.Validation.MustBeNumber</p>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newCorrugateThickness" class="col-md-3 control-label" translate>Common.Label.Thickness</label>
            <div class="col-md-7">
                <input id="newCorrugateThickness" class="form-control" name="Thickness" ng-model="selectedCorrugate.Thickness" type="number" min="0" max="99999" ng-pattern="floatingPointRegex" required />
                <p class="help-block" ng-if="corrugateEditForm.Thickness.$error.required" translate>Common.Validation.Required</p>
                <p class="help-block" ng-if="corrugateEditForm.Thickness.$error.pattern" translate>Common.Validation.MustBeNumber</p>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newCorrugateQualityNUD" class="col-md-3 control-label" translate>Common.Label.Quality</label>
            <div class="col-md-7">
                <input id="newCorrugateQualityNUD" class="form-control" name="Quality" ng-model="selectedCorrugate.Quality" type="number" min="0" max="99999" ng-pattern="intRegex" required />
                <p class="help-block" ng-if="corrugateEditForm.Quality.$error.required" translate>Common.Validation.Required</p>
                <p class="help-block" ng-if="corrugateEditForm.Quality.$error.pattern" translate>Common.Validation.MustBeInteger</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newCorrugateSaveButton" ng-click="saveCorrugate(corrugateEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newCorrugateCancelButton" ng-click="cancelNewEditCorrugate()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>