<div align="center">
    <div class="row">
        <div class="col-md-6">
            <label for="productionGroupSelectorCPGMetric">
                <span translate>ProductionGroup.Label.NameSingular</span>
                <select class=" form-control" id="productionGroupSelectorCPGMetric" ng-model="selectedProductionGroup" ng-change="getCPGsForSelectedPG()" ng-options="pg.Alias for pg in productionGroups"></select>
            </label>
        </div>
        <div class="col-md-6">
            <label for="cpgMetricSelectorMetric">
                <span translate>Common.Label.Metric</span>
                <select class="form-control" id="cpgMetricSelectorMetric" ng-model="selectedMetric" ng-change="getSelectedMetric()" ng-options="metric as (metric.LocalizationKey | translate) for metric in availableMetrics"></select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="targetCartonCountbyCPGChart">
                <div translate>Dashboard.Widgets.CartonCountByCPG.Label.TargetMix</div>
                <canvas piechart options="options" data="targetCartonCountByCPG" id="targetCartonCountbyCPGChart" height="200"></canvas>
            </label>
        </div>
        <div class="col-md-6">
            <label for="actualCartonCountbyCPGChart">
                <div translate>Dashboard.Widgets.CartonCountByCPG.Label.ActualMix</div>
                <canvas piechart options="options" data="actualCartonCountByCPG" id="actualCartonCountbyCPGChart" height="200"></canvas>
            </label>
        </div>
    </div>

    <div class="row">
        <accordion close-others="true">
            <accordion-group is-open="showDetails">
                <accordion-heading ng-click="toggleDetails()"> <span translate>
                    Dashboard.Widgets.CartonCountByCPG.Label.ShowHideDetails</span>
                </accordion-heading>
                <div class="row">
                    <div class="col-md-6">
                        <div ng-repeat="cartonPropertyGroup in cartonPropertyGroups">
                            <div class="row">
                                <label class="col-md-6">
                                    {{cartonPropertyGroup.Alias}}: <label>{{((cartonPropertyGroup.MixQuantity  / totalMix) * 100)| number:0}}%</label>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div ng-repeat="metric in metrics">
                            <div class="row">
                                <label class="col-md-6">
                                    {{metric.Value.Key}}: <label>{{((metric.Value.Value / totalProducedForMetric) * 100)| number:0}}%</label>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>