<div>
    <div>{{'Dashboard.Widgets.CartonPropertyGroups.Label.TotalCartons' | translate}}: {{totals.Total}}</div>
    <div>{{'Dashboard.Widgets.CartonPropertyGroups.Label.ExpeditedCartons' | translate}}: {{totals.Expedited}}</div>
    <div>{{'Dashboard.Widgets.CartonPropertyGroups.Label.StoppedCartons' | translate}}: {{totals.Stopped}}</div>
    <div>{{'Dashboard.Widgets.CartonPropertyGroups.Label.LastCartons' | translate}}: {{totals.Last}}</div>
    <br/>
    <div ui-grid="gridOptions" ui-grid-resize-columns></div>
</div>