<div class="row">
    <div class="pull-left">
        <canvas piechart options="options" data="corrugateStatus" id="pieChart"></canvas>
    </div>
    <div class="span5 right">
        <table>
            <tr><td ng-style="{backgroundColor: corrugateStatus[0].color}">&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span ng-bind="corrugateStatus[0].status"></span> (<span ng-bind="corrugateStatus[0].value"></span>)</td></tr>
            <tr><td ng-style="{backgroundColor: corrugateStatus[1].color}">&nbsp;&nbsp;</td><td><span ng-bind="corrugateStatus[1].status"></span> (<span ng-bind="corrugateStatus[1].value"></span>)</td></tr>
            <tr><td ng-style="{backgroundColor: corrugateStatus[2].color}">&nbsp;&nbsp;</td><td><span ng-bind="corrugateStatus[2].status"></span> (<span ng-bind="corrugateStatus[2].value"></span>)</td></tr>
        </table>
    </div>
</div>
<div>
    <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns></div>
</div>
<br/>