<style>
    .tooltip {
        font-size: 1em;
        opacity: 1;
        padding: 0;
        position: absolute;
        z-index: 12;
        color: #888;
        background: #fff;
        border: 1px solid #aaa;
        -moz-box-shadow: 0px 1px 1px #ddd;
        -webkit-box-shadow: 0px 1px 1px #ddd;
        box-shadow: 0px 1px 2px #ddd;
    }

    .tooltip div {
        position: relative;
        text-align: center;
        margin: 3px;
        max-width: 100px;
    }

    .tooltip span {
        font-size: 0.7em;
        display: block;
    }

    .tooltip span.series {
        color: #333;
    }

    .tooltip:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -5px;
        bottom: -10px;
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: #aaa transparent transparent transparent;
    }
</style>
<div ng-controller="corrugateEfficiencyCtrl" id="wrapper">
    <div id="efficiency-div" style="height:300px"></div>
</div>