<form class="form-inline" role="form">
    
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="addLineClick()" translate>
                Dashboard.Widgets.General.CorrugateEfficiencyEdit.AddLine
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="removeLineClick()" translate>
                Dashboard.Widgets.General.CorrugateEfficiencyEdit.RemoveLine
            </button>
        </div>
    </div>
    <br />
    <div>
        <div class="row">
            <label class="col-md-4" translate>Dashboard.Widgets.General.CorrugateEfficiencyEdit.DataType</label>
            <select class="noHandle" ng-model="config.graph.Configuration.DataType" ng-options="d.key as (d.LocalizationKey | translate) for d in config.graph.DataTypes"></select>
        </div>
        <br />
        
        <div class="row">
            <label class="col-md-4" translate>Dashboard.Widgets.General.CorrugateEfficiencyEdit.StartDate</label>
            <div class="col-md-8">
                <div dropdown>
                    <a id="waveSearchDateDropdown" role="button" toggle="dropdown" target="" href="" dropdown-toggle>
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="config.graph.Configuration.FromDate">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker ng-model="config.graph.Configuration.FromDate" datetimepicker-config="{ dropdownSelector: '#waveSearchDateDropdown' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <hr />
        </div>
        <br />

        <div ng-repeat="currentLine in config.graph.Configuration.Lines" class="row">
            <div class="row">
                <div class="col-md-4">
                    <label>Filters for </label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="currentLine.LineName" />
                </div>
            </div>
            <div class="row" ng-repeat="filter in currentLine.Filters">
                <div class="col-md-4">
                    <select class="form-control" ng-model="filter.Type" ng-options="filterType as filterType for filterType in  config.graph.FilterTypes"></select>
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="filter.Value" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default form-control" ng-click="deleteFilter(filter, currentLine)">-</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-1">
                    <button class="btn btn-default form-control" ng-click="addFilter(currentLine)">+</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <button type="button" class="btn btn-primary col-md-12" ng-click="saveFiltersClick()" translate>Dashboard.Widgets.General.CorrugateEfficiencyEdit.Save</button>
    </div>
    <br />
</form>