﻿<div ng-controller="deleteCartonsCtrl" style="min-height: 350px;">
    <div class="right">
        <div>
            <p class="help-block alert alert-danger" ng-show="isDateRangeInvalid" translate>Search.Common.Validation.CreatedDateRange</p>
        </div>
        <div style="width: 50%; float: left;" dropdown>
            <a id="beginDateDropDown" role="button" toggle="dropdown" target="#" href="#" dropdown-toggle>
                <label for="beginDate" translate>
                    Common.Label.BeginDate
                </label>
                <div class="input-group">
                    <label type="text" class="form-control">{{beginDate | date:'medium'}}</label>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="beginDate" datetimepicker-config="{minView:'hour', startView:'day', dropdownSelector: '#beginDateDropDown' }"></datetimepicker>
            </ul>
        </div>
        <div style="width: 50%; float: left;" dropdown>
            <a id="endDateDropDown" role="button" toggle="dropdown" target="" href="" dropdown-toggle>
                <label for="endDate" translate>
                    Common.Label.EndDate
                </label>
                <div class="input-group">
                    <label type="text" class="form-control">{{endDate | date:'medium'}}</label>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker ng-model="endDate" datetimepicker-config="{ dropdownSelector: '#endDateDropDown',startView:'day', minView:'hour' }"></datetimepicker>
            </ul>
        </div>
        <div>{{cartonRemovalMessage}}</div>
        <button id="btnDoBoxLastSearch" ng-disabled="isDisabled()" ng-click="requestCartonDelete()" class="btn btn-default" translate>Dashboard.Widgets.DeleteBoxLastCartons.Label.DeleteCartons</button>
    </div>
</div>