﻿<form role="form">
    <div class="form-group">
        <label class="control-label" title="TODO" for="widgetHeight" translate>Common.Label.Height</label>
        <input type="text" id="widgetHeight" ng-model="config.widgetHeight" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label" title="TODO" for="graphFillColor" translate>Dashboard.Widgets.Edit.Label.FillColor</label>
        <div id="graphFillColor">
            <input minicolors="colorPickerSettings" class="form-control" type="text" ng-model="config.graphFillColor" alpha='config.graphFillColorOpacity' rgba-string='config.graphFillColorRGBA'>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" title="TODO" for="graphStrokeColor" translate>Dashboard.Widgets.Edit.Label.StrokeColor</label>
        <div id="graphStrokeColor">
            <input minicolors="colorPickerSettings" class="form-control" type="text" ng-model="config.graphStrokeColor" alpha="config.graphStrokeColorOpacity" rgba-string="config.graphStrokeColorRGBA">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" title="TODO" for="graphHighlightFillColor" translate>Dashboard.Widgets.Edit.Label.HighlightFillColor</label>
        <div id="graphHighlightFillColor">
            <input minicolors="colorPickerSettings" class="form-control" type="text" ng-model="config.graphHighlightFillColor" alpha="config.graphHighlightFillColorOpacity" rgba-string="config.graphHighlightFillColorRGBA">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" title="TODO" for="graphHighlightStrokeColor" translate>Dashboard.Widgets.Edit.Label.HighlightStrokeColor</label>
        <div id="graphHighlightStrokeColor">
            <input minicolors="colorPickerSettings" class="form-control" type="text" ng-model="config.graphHighlightStrokeColor" alpha="config.graphHighlightStrokeColorOpacity" rgba-string="config.graphHighlightStrokeColorRGBA">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="applyDefaults()" translate>Dashboard.Widgets.Edit.Label.ApplyDefaults</button>
    </div>
</form>