<div class="row">
    <div class="pull-left">
        <canvas piechart options="options" data="machineStatus" id="pieChart"></canvas>
    </div>
    <div class="span5 right">
        <table>
            <tr><td ng-style="{backgroundColor: machineStatus[0].color}">&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span ng-bind="machineStatus[0].status"></span> (<span ng-bind="machineStatus[0].value"></span>)</td></tr>
            <tr><td ng-style="{backgroundColor: machineStatus[1].color}">&nbsp;&nbsp;</td><td><span ng-bind="machineStatus[1].status"></span> (<span ng-bind="machineStatus[1].value"></span>)</td></tr>
            <tr><td ng-style="{backgroundColor: machineStatus[2].color}">&nbsp;&nbsp;</td><td><span ng-bind="machineStatus[2].status"></span> (<span ng-bind="machineStatus[2].value"></span>)</td></tr>
            <tr><td ng-style="{backgroundColor: machineStatus[3].color}">&nbsp;&nbsp;</td><td><span ng-bind="machineStatus[3].status"></span> (<span ng-bind="machineStatus[3].value"></span>)</td></tr>
            <tr><td ng-style="{backgroundColor: machineStatus[4].color}">&nbsp;&nbsp;</td><td><span ng-bind="machineStatus[4].status"></span> (<span ng-bind="machineStatus[4].value"></span>)</td></tr>
        </table>
    </div>
</div>
<div>
    <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns></div>
</div>