﻿<div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                {{row.entity.Message}}
            </div>
            <div class="row">
                <label class="control-label" translate>Notification.Label.DismissedBy</label>:
                <br/>
                <ul style="margin: 0; padding: 0; list-style-type: none; list-style-image: none;">
                    <li ng-repeat="user in row.entity.DismissedByUsers | orderBy:'UserName'" style="float: left; margin: 0 10px 0 0; width: 200px;">
                        <span class="label label-success" style="font-size: larger;">{{user.UserName}}</span>
                    </li>
                </ul>
                <span class="label label-danger" style="font-size: larger;" ng-show="row.entity.DismissedByUsers.length == 0" translate>Notification.Message.NotificationNotDismissedByUser</span>
            </div>
        </div>
        <div class="form-group" ng-hide="row.entity.NotifiedMachineGroups.length == 0">
            <div class="row">
                <label class="control-label" translate>MachineGroup.Label.NamePlural</label>:
                <br />
                <ul style="margin: 0; padding: 0; list-style-type: none; list-style-image: none;">
                    <li ng-repeat="machineGroup in row.entity.NotifiedMachineGroups | orderBy:'Alias'" style="float: left; margin: 0 10px 0 0; width: 200px;">
                        <span class="label label-primary" style="font-size: larger;">{{machineGroup.Alias}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>