﻿<div>
    <div>
        <alert id="searchUserNotificationAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
        <p class="help-block alert alert-danger" ng-show="isDateRangeInvalid" translate>Search.Common.Validation.CreatedDateRange</p>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6 col-sm-12">
                <label class="col-md-3 control-label" translate>Common.Label.DateFrom</label>
                <div class="col-md-8">
                    <div dropdown>
                        <a id="fromDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                            <div class="input-group">
                                <label type="text" class="form-control">{{dateFrom | date:'medium'}}</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker data-ng-model="dateFrom" data-datetimepicker-config="{minView:'hour', startView:'day', dropdownSelector: '#fromDate' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="col-md-4 control-label" translate>Notification.Label.Type</label>
                <div class="col-md-8">
                    <div class="btn-group">
                        <button type="button" class="btn" ng-click="selectAllNotificationTypes()" translate>Common.Label.All</button>
                        <label class="btn btn-primary" ng-model="notificationTypeMachineGroup" btn-checkbox>
                            <i class="fa fa-sitemap"></i>
                            <span translate>MachineGroup.Label.NameSingular</span>
                        </label>
                        <label class="btn btn-primary" ng-model="notificationTypeProductionGroup" btn-checkbox>
                            <i class="fa fa-th"></i>
                            <span translate>ProductionGroup.Label.NameSingular</span>
                        </label>
                        <label class="btn btn-primary" ng-model="notificationTypeSystem" btn-checkbox>
                            <i class="fa fa-cogs"></i>
                            <span translate>Common.Label.System</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-12">
                <label class="col-md-3 control-label" translate>Common.Label.DateTo</label>
                <div class="col-md-8">
                    <div dropdown>
                        <a id="toDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                            <div class="input-group">
                                <label type="text" class="form-control">{{dateTo | date:'medium'}}</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker data-ng-model="dateTo" data-datetimepicker-config="{minView:'hour', startView:'day', dropdownSelector: '#toDate' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="col-md-4 control-label" translate>Notification.Label.Severity</label>
                <div class="col-md-8">
                    <div class="btn-group">
                        <button type="button" class="btn" ng-click="selectAllNotificationSeverities()" translate>Common.Label.All</button>
                        <label class="btn btn-info" ng-model="notificationSeverityInfo" btn-checkbox>
                            <span translate>Common.Label.Info</span>
                        </label>
                        <label class="btn btn-success" ng-model="notificationSeveritySuccess" btn-checkbox>
                            <span translate>Common.Label.Success</span>
                        </label>
                        <label class="btn btn-warning" ng-model="notificationSeverityWarning" btn-checkbox>
                            <span translate>Common.Label.Warning</span>
                        </label>
                        <label class="btn btn-danger" ng-model="notificationSeverityError" btn-checkbox>
                            <span translate>Common.Label.Error</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" ng-click="search()" translate>Common.Label.Search</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">{{status}}</div>
        </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-expandable ui-grid-resize-columns ui-grid-move-columns></div>
</div>