﻿<div>
    <div ng-repeat="incident in unSentIncidents">
        <div class="container-fluid">
            <label for="messageContents" class="col-md-12" ng-show="messageContents" translate>Dashboard.Widgets.General.SupportIncidents.LogMessage</label>
            <textarea name="messageContents" ng-model="messageContents" ng-show="messageContents"></textarea>
        </div>
        <a href="javascrit:void(0);" ng-click="viewMessage(Id)" translate>Dashboard.Widgets.General.SupportIncidents.LogMessage.CopyToClipboard</a>
    </div>
</div>