<form name="form" class="form-inline">
    <div class="dashboard-content">
        <h4 translate>ChangeCorrugate.Label.Header</h4>
        <button id="SaveCorrugateButton" ng-click="saveCorrugates(currentMachineGroup.Machines)" class="btn btn-default" ng-disabled="!canSave" translate>Common.Label.Save</button>

        <a ui-sref="OperatorConsole.Console">
            <button id="CloseCorrugateButton" ng-click="leaveChangeCorrugate(currentMachineGroup.Machines)" class="btn btn-default" translate>Common.Label.Cancel</button>
        </a>
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
        </div>
        <br />
        <br />
        <div id="machines">
            <div ng-repeat="machine in currentMachineGroup.Machines" id="{{machine.Alias}}" class="well">

                <div class="row" ng-show="isMachinePacksizeTrackBasedMachine(machine)">
                    
                    <div class="col-sm-2 col-md-2">
                        <i class="fa fa-2x fa-dropbox"></i>
                        <span id="machineName{{$index}}">{{machine.Alias}}</span>
                    </div>
                    <div class="col-sm-10 col-md-10">
                        <button class="btn btn-default" id="pauseMachine{{$index}}" ng-click="pauseMachine(machine)" ng-disabled="shouldMachineDisableChangeCorrugateButton(machine)" ng-show="shouldMachineDisplayPauseButton(machine) && machine.MachineType == 'Fusion'">
                            <span translate>ChangeCorrugate.Label.NameSingular</span>
                        </button>
                        <div ng-show="isMachineInitializing(machine)">
                            <i class="fa fa-exclamation-triangle fa-2x fa-fw" style="color: orange; padding-top: 5px; padding-right: 5px;"></i>
                            <span translate>Machine.Message.Initializing</span>
                        </div>
                        <div ng-show="isMachineOffline(machine)">
                            <i class="fa fa-exclamation-triangle fa-2x fa-fw" style="color: red; padding-top: 5px; padding-right: 5px;"></i>
                            <span translate>Machine.Message.Offline</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div id="machineTracks{{$index}}" ng-repeat="track in machine.Data.Tracks" class="col-sm-6 col-md-6 img-thumbnail row-margin">
                        <br />
                        <div id="machine{{$parent.$index}}track{{track.TrackNumber}}div">
                            <div class="row" ng-show="machine.MachineType == 'Em'">
                                <div class="col-sm-4 col-md-4">
                                    <br /><br />
                                </div>
                                <div class="btn-group col-sm-8 col-md-8">
                                    <button class="btn btn-default" id="pauseMachine{{$index}}track{{track.TrackNumber}}" ng-click="pauseMachineTrack(machine, track)" ng-show="shouldMachineDisplayPauseButton(machine, track)">
                                        <span translate>ChangeCorrugate.Label.NameSingular</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row row-margin">
                                <div class="col-sm-4 col-md-4">
                                    <span>{{'Machine.Label.TrackNumber' | translate}} {{track.TrackNumber}}:</span>
                                </div>
                                <div class="btn-group col-sm-8 col-md-8" dropdown is-open="status.isopen">
                                    <button id="machineTracks{{$parent.$index}}Track{{track.TrackNumber}}" type="button" class="btn form-control  btn-default" ng-disabled="!allowChangeCorrugate(machine.Data, track)" dropdown-toggle>
                                        <span ng-show="track.LoadedCorrugate"></span>{{track.LoadedCorrugate.Alias}}<span ng-show="!track.LoadedCorrugate" translate>Common.Label.NotLoaded</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" ng-show="showDropDown()">
                                        <li ng-repeat="corrugate in corrugates">
                                            <a ng-click="assignCorrugateToTrack(machine, track, corrugate)" href="javascript:void(0);">{{corrugate.Alias}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row row-margin" ng-if="machine.MachineType == 'Em'">
                                <div class="col-sm-4 col-md-4">
                                    <span translate>{{'ChangeCorrugate.Label.Offset' | translate}}:</span>
                                </div>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control btn-block" id="track{{track.TrackNumber}}OffsetBox" ng-model="track.TrackOffset" ng-disabled="!allowChangeCorrugate(machine.Data, track)" ng-change="offsetChange()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</form>