<div id="operatorConsoleChangeProductionGroups" class="dashboard-content">
    <h4>
        {{'ChangeProductionGroup.Label.Header' | translate}}
        <i>
            ({{'ProductionGroup.Label.Current' | translate}}: {{selectedProductionGroup.Alias}})
        </i>
    </h4>
    <div>
        <alert id="changeProductionGroupAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>

    <button ng-click="saveProductionGroup()" ng-disabled="!canSave()" class="btn btn-default" id="ProductionGroupsSaveButton" translate>Common.Label.Save</button>
    <a ui-sref="OperatorConsole.Console">
        <button id="ProductionGroupsCloseButton" class="btn btn-default" translate>Common.Label.Cancel</button>
    </a>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div id="productionGroupsWrapper" class="btn-group-vertical col-md-12">
                <div class="row" id="ProductionGroups" ng-repeat="pg in productionGroups">
                    <div class="col-md-1"></div>
                    <div id="{{pg.Alias}}" class="btn btn-default btn-toggle col-md-10" ng-model="selectedProductionGroupModel.selectedProductionGroupId" btn-radio="pg.Id">
                        <div class="container-fluid">
                            <h4 class="row">{{pg.Alias}}</h4>
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    {{'Common.Label.ProductionMode' | translate}}:
                                </div>
                                <div class="col-md-9 text-left">
                                    {{'SelectionAlgorithm.Label.' + pg.SelectionAlgorithm | translate}}
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-3 text-right">{{'ChangeProductionGroup.Label.AssignedMachineGroups' | translate}}:</div>
                                <div class="col-md-9 text-left">
                                    <ul style="margin: 0; padding: 0; list-style-type: none; list-style-image: none;" ng-show="pg.MachineGroups.length > 0">
                                        <li ng-repeat="m in pg.MachineGroups" style="float: left; margin: 0 10px 0 0;">{{m.Alias}}<span ng-hide="$last">,&nbsp;</span></li>
                                    </ul>
                                    <span ng-show="pg.MachineGroups.length == 0">
                                        {{'ChangeProductionGroup.Message.NoMachineGroupsAssigned' | translate}}
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                </div>
            </div>
        </div>
    </div>
</div>