<div class="dashboard-content">
    <h4>
        {{'MachineCommand.Label.Header' | translate}}
        <i>
            ({{'MachineGroup.Label.Current' | translate}}: {{currentMachineGroup.Alias}})
        </i>
    </h4>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <br />
    <div id="machines">
        <div ng-repeat="machine in currentMachineGroup.Machines">
            <div id="{{machine.Alias}}" class="container-fluid panel panel-default" ng-show="isMachinePacksizeTrackBasedMachine(machine)">
                <div class="col-md-12 row" style="margin-top: 15px; margin-bottom: 15px;">
                    <div class="col-md-2" style="padding-top: 10px;">
                        {{machine.Alias}}
                    </div>
                    <div id="pauseMachineWrapper{{$index}}" class="col-md-9" ng-show="(machine.Data.MachineType === 'Em' || machine.Data.MachineType === 'Fusion') && (machine.Data.CurrentStatus !== 'MachineInitializing' && machine.Data.CurrentStatus !== 'MachineOffline')">
                        <button class="btn btn-default"
                                id="pauseMachine{{$index}}"
                                ng-click="pauseMachine(machine)"
                                ng-disabled="machine.Data.CurrentStatus == 'MachinePaused' || machine.Data.CurrentStatus == 'MachineOffline'  || machine.Data.CurrentStatus == 'MachineInitializing'"
                                style="padding-left: 40px; padding-right: 40px;">
                            &nbsp;<i class="fa fa-pause"></i>&nbsp;
                        </button>
                    </div>
                    <div class="col-md-9">
                        <div ng-show="machine.Data.MachineType === 'Em' && machine.Data.CurrentStatus === 'MachineInitializing'">
                            <i class="fa fa-exclamation-triangle fa-2x fa-fw" style="color: orange; padding-top: 5px; padding-right: 5px;"></i>
                            <span translate>Machine.Message.Initializing</span>
                        </div>
                        <div ng-show="machine.Data.MachineType !== 'Em'">
                            <i class="fa fa-exclamation-triangle fa-2x fa-fw" style="color: yellow; padding-top: 5px; padding-right: 5px;"></i>
                            <span translate>MachineCommand.Message.NotSupported</span>
                        </div>
                        <div ng-show="machine.Data.MachineType === 'Em' && machine.Data.CurrentStatus === 'MachineOffline'">
                            <i class="fa fa-exclamation-triangle fa-2x fa-fw" style="color: red; padding-top: 5px; padding-right: 5px;"></i>
                            <span translate>Machine.Message.Offline</span>
                        </div>
                    </div>
                </div>
                <div id="machineTracksWrapper{{$index}}" class="row col-md-12" ng-show="machine.Data.MachineType === 'Em' && (machine.Data.CurrentStatus !== 'MachineInitializing' && machine.Data.CurrentStatus !== 'MachineOffline')">
                    <div id="machineTracks{{$index}}" ng-repeat="track in machine.Data.Tracks" class="row col-md-12">
                        <div class="col-md-2"></div>
                        <div id="track{{track.TrackNumber}}div" class="row col-md-10 well">
                            <label for="forwardFeedTrack{{track.TrackNumber}}Machine{{$parent.$index}}" class="col-md-2 control-label" title=""><span translate>Machine.Label.TrackNumber</span> {{track.TrackNumber}}</label>

                            <div ng-if="hasCorrugateLoaded(track)">
                                <div class="col-md-3">
                                    <button name="forwardFeedTrack{{track.TrackNumber}}Machine{{$parent.$index}}"
                                            id="forwardFeedTrack{{track.TrackNumber}}Machine{{$parent.$index}}"
                                            ng-click="sendCommand(machine.Id, track.TrackNumber, 'ForwardFeed')"
                                            class="btn btn-default form-control"
                                            ng-disabled="!allowNewCommand(machine.Id) || machine.MachineType !== 'Em' || !allowMachineCommands(machine)">
                                        <span translate>MachineCommand.Label.RollForward</span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button name="backwardFeedTrack{{track.TrackNumber}}Machine{{$parent.$index}}"
                                            id="backwardFeedTrack{{track.TrackNumber}}Machine{{$parent.$index}}"
                                            ng-click="sendCommand(machine.Id, track.TrackNumber, 'ReverseFeed')"
                                            class="btn btn-default form-control"
                                            ng-disabled="!allowNewCommand(machine.Id) || machine.MachineType !== 'Em' || !allowMachineCommands(machine)">
                                        <span translate>MachineCommand.Label.RollBackward</span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button name="cleanCutTrack{{track.TrackNumber}}Machine{{$parent.$index}}"
                                            id="cleanCutTrack{{track.TrackNumber}}Machine{{$parent.$index}}"
                                            ng-click="sendCommand(machine.Id, track.TrackNumber, 'CleanCut')"
                                            class="btn btn-default form-control"
                                            ng-disabled="!allowNewCommand(machine.Id) || machine.MachineType !== 'Em' || !allowMachineCommands(machine)">
                                        <span translate>MachineCommand.Label.CleanCut</span>
                                    </button>
                                </div>

                            </div>
                            <div ng-if="!hasCorrugateLoaded(track)">
                                <span translate>MachineCommand.Message.NotAvailable</span>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>