<login permission="operator" use-token="false"></login>
<div class="dashboard-content">
    <div ng-controller="MachineGroupDetailsCtrl" id="divMachineDetails" class="row">
        <div class="row">
            <alert id="attachMachineAlerts" ng-repeat="alert in alerts" type="{{alert.type}}">
                {{alert.msg}}
            </alert>
        </div>
        <div class="pull-left col-md-8">
            <h4>
                <span id="divMachineAlias">
                    <span id="currentMachineGroupAlias" class="col-md-3"><i class="fa fa-sitemap"></i> {{currentMachineGroup.Alias}}</span>
                    <span id="currentMachineGroupAssignedOperator" class="col-md-3"><i class="fa fa-user"></i> {{currentMachineGroup.AssignedOperator}}</span>
                    <span id="currentMachineGroupStatus" class="col-md-4">
                        <i class="fa fa-info-circle"></i>
                        <span id="divMachineStatus" ng-class="{'lblMachineDisconnected': (CanChangeMachineStatus == false)}">
                            {{'MachineGroupStatus.Label.' + currentMachineGroup.CurrentStatus | translate}}
                            <a id="MoreInfoToggle" ng-click="$parent.showMachineGroupDetails = !$parent.showMachineGroupDetails" ng-show="canShowMachineGroupDetails()">
                                {{$parent.showMachineGroupDetails ? 'MachineProduction.Label.LessInformation' : 'MachineProduction.Label.MoreInformation' | translate}}
                            </a>
                        </span>
                    </span>
                </span>
                <div id="divMachineError" ng-show="currentMachineGroup.Errors.length > 0">
                    <img ng-click=" showerror(false)" id="errorIcon" src="img/error_16px.png">
                    <a ng-click="showError(false)" title="Click to display error">{{currentMachineGroup.errorAbbreviated}}</a>
                </div>

            </h4>
        </div>
        <div class="col-md-4">
            <div id="operatorSwitchControls" class="pull-right" ng-show="CanChangeMachineStatus">
                <div class="btn-group" id="playPauseSwitch" ng-show="CanChangeMachineStatusPausePlay">
                    <label id="machinePause" class="btn btn-default btn-toggle" ng-disabled="isPausing" ng-model="isPaused" btn-radio="true"><i style="margin-left: 15px; margin-right: 15px;" class='fa fa-pause fa-2x'></i></label>
                    <label id="machinePlay" class="btn btn-default btn-toggle" ng-disabled="isPausing" ng-model="isPaused" btn-radio="false"><i style="margin-left: 15px; margin-right: 15px;" class='fa fa-play fa-2x'></i></label>
                </div>

                <div id="autoManualSwitch" class="btn-group">
                    <label id="machineAuto" class="btn btn-default btn-toggle" ng-model="isAuto" btn-radio="true" style="font-size: large; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px;">{{'MachineProduction.Label.Auto' | translate }}</label>
                    <label id="machineManual" class="btn btn-default btn-toggle" ng-model="isAuto" btn-radio="false" style="font-size: large; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px;">{{'MachineProduction.Label.Manual' | translate }}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="view-margin" ng-if="shouldShowWaveView()">
            <wave-operator-view></wave-operator-view>
        </div>
        <div class="view-margin" ng-if="shouldShowOrderView()">
            <orders-operator-view></orders-operator-view>
        </div>
        <div class="view-margin" ng-if="shouldShowMachineGroupDetails()">
            <div class="dashboard-content col-md-12">
                <h4 translate>MachineProduction.Label.MachineDetails</h4>
                <div class="nested-page-content">
                    <div ui-view class="table-margin-top">
                        <div class="row col-md-12 well" id="productionGroupDetails">
                            <h4 translate>ProductionGroup.Label.Current</h4>
                            <div class="row img-thumbnail col-md-12" style="padding:15px;">
                                <div class="col-md-12 img-rounded bg-danger" ng-hide="currentMachineGroup.ProductionGroup" style="padding-top:10px;font-weight: bold; height:40px;" translate>MachineProduction.Message.ProductionGroupNotAssigned</div>
                                <div class="col-md-4" id="productionGroupAlias" ng-show="currentMachineGroup.ProductionGroup">
                                    {{currentMachineGroup.ProductionGroup.Alias}}
                                </div>
                                <div id="currentProductionGroupSelectionAlgorithm" class="col-md-8" ng-if="currentMachineGroup.ProductionGroup.SelectionAlgorithm">
                                    {{'Common.Label.ProductionMode' | translate}}:
                                    {{'SelectionAlgorithm.Label.' + currentMachineGroup.ProductionGroup.SelectionAlgorithm | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 well" id="configuredMachinesDetails">
                            <h4 translate>MachineGroup.Label.ConfiguredMachines</h4>
                            <div class="row img-thumbnail col-md-12" ng-repeat="machine in currentMachineGroup.Machines | orderBy: 'Alias'" style="padding:15px;">
                                <div class="col-md-1">
                                    <i class="fa fa-2x pull-right" ng-class="{'fa-dropbox': (machine.Data.MachineType == 'Fusion' || machine.Data.MachineType == 'Em'), 'fa-print': (machine.Data.MachineType == 'ZebraPrinter')}"></i>
                                </div>
                                <div class="col-md-11">
                                    <div class="row img-rounded" ng-class="{'bg-danger':machine.Data.CurrentStatus==='MachineOffline', 'bg-danger':machine.Data.Errors.length > 0, 'bg-warning':machine.Data.CurrentStatus==='MachineInitializing', }">
                                        <div class="row">
                                            <span class="col-md-4" style="padding:5px;font-size: 20px;">
                                                {{machine.Data.Alias}}
                                            </span>
                                            <div class="col-md-4" style="padding-top: 10px;">
                                                {{'MachineProduction.Label.MachineStatus' | translate}}:
                                                {{'MachineStatus.Label.' + machine.Data.CurrentStatus | translate}}
                                            </div>
                                            <div class="col-md-4" style="padding-top: 10px;">
                                                {{'Common.Label.ProductionStatus' | translate}}:
                                                {{'MachineProductionStatus.Label.' + machine.Data.CurrentProductionStatus | translate}}
                                            </div>
                                        </div>
                                        <div class="row col-md-12" style="margin: 15px; font-weight: bold; font-size: larger;" ng-show="machine.Data.Errors.length > 0" ng-repeat="error in machine.Data.Errors">
                                            {{'Common.Label.Error' | translate}}:
                                            {{machine.getReadableErrorCode(error)}}
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="row" translate>
                                                MachineProduction.Label.Capabilities
                                            </div>
                                            <div class="row" ng-repeat="mcap in machine.Data.CurrentCapabilities|orderBy:'DisplayValue'">
                                                <span class="col-md-12" translate>
                                                    {{mcap.DisplayValue}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 well" id="machineGroupCapabilitiesDetails">
                            <h4 translate>MachineProduction.Label.MachineGroupCapabilities</h4>
                            <div class="row img-thumbnail col-md-12" ng-repeat="cap in currentMachineGroup.AllMachineCapabilitiesClean" translate>
                                {{cap}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>