﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            <span translate>MachineProduction.Common.ReproduceDialog.Label.Header</span>
        </div>
    </div>
    <div class="modal-body">
        <span>
            {{'MachineProduction.Wave.ReproduceDialog.Message.Body' | translate:{ customerUniqueId: currentCarton.CustomerUniqueId } }}
        </span>
    </div>
    <div class="modal-footer">
        <button id="deleteMachineButtonConfirm" ng-click="ok()" tabindex="50" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="deleteMachineButtonCancel" ng-click="cancel()" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>