<div class="dashboard-content" ng-show="showInterface">
    <h4 translate>ChangeMachineGroup.Message.Select</h4>
    <br />
    <div>
        <alert id="MachinesAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="divMachineSelectionList">

        <span ng-repeat="x in machineGroups| orderBy:'Alias'">
            <button id="machine{{x.Id}}Button"
                    class="btn machineSelection"
                    ng-click="openEndState(x.Id)"
                    title="{{x.CurrentStatus | machineGroupStatus}}"
                    ng-class="{
                    'btn-danger' : (x.CurrentStatus == 'MachineGroupOffline'),
                    'btn-success' : (x.CurrentStatus == 'MachineGroupOnline'),
                    'btn-warn' : (x.CurrentStatus == 'MachineGroupPaused'),
                    'btn-info' : (x.CurrentStatus == 'MachineGroupInitializing')}">
                <h2>
                    <i class="fa fa-sitemap"></i> {{x.Alias}}<br />
                    <small>{{x.CurrentStatus | machineGroupStatus}}</small>
                </h2>
            </button>
        </span>
    </div>
</div>