<div ng-controller="ClassificationsController" class="dashboard-content">
    <h4 id="ClassificationsAdminTitle" translate>Classification.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/Classifications/classificationsList.html"></div>
        </div>
    </div>
</div>