<div>
    <a ui-sref="Classifications.new">
        <button class="btn btn-default" id="newClassification" translate>Common.Label.New</button>
    </a>
    <button class="btn btn-default" id="deleteClassification" ng-disabled="!canDelete()" ng-click="deleteClassifications()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editClassification" ng-disabled="!canEdit()" ng-click="editClassification()" translate>Common.Label.Edit</button>
    <div>
        <alert id="ClassificationAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="classificationListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>