﻿<div>
    <div>
        <alert id="ClassificationAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="classificationEditForm" class="form-horizontal" role="form" novalidate> <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="ClassificationNameLbl" for="newClassificationClassificationName" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="newClassificationClassificationName" class="form-control" name="Name" ng-model="selectedClassification.Alias" size="29" focus-element required/>
                <p id="ClassificationNameValidation" class="help-block" ng-if="classificationEditForm.Name.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newClassificationNumberNUD" class="col-md-3 control-label" translate>Common.Label.Number</label>

            <div class="col-md-7">
                <numeric-up-down id="newClassificationNumberNUD" ng-model="selectedClassification.Number" default-value="1" min-value="1" max-value="99999" horizontal="true"></numeric-up-down>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newClassificationSaveButton" ng-click="saveClassification(classificationEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newClassificationCancelButton" ng-click="cancelNewEditClassification()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>