﻿<div id="OperatorConsoleCustomJobDialog" class="dashboard-content">
    <h4 id="CustomJobPageHeader">
        {{'CustomJob.Label.Header' | translate}}
        <i>
            ({{'MachineGroup.Label.Current' | translate}}: {{currentMachine.Alias}})
        </i>
    </h4>
    <div>
        <alert id="produceCustomJobAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div class="col-md-8">
        <form name="customJobForm" id="customJobForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group" id="customJobQuantity" show-errors='{showSuccess: true}'>
                <label id="quantityLabel" for="quantityInputBox" class="col-md-3 control-label" translate>Common.Label.Quantity</label>
                <div class="col-md-7">
                    <input id="quantityInputBox" class="form-control" name="Quantity" type="number" min="1" max="9999" ng-model="model.Quantity" tabindex="28" focus-element autocomplete="off" required ng-pattern="intRegex" select-on-click />
                    <p class="help-block" ng-if="customJobForm.Quantity.$error.required" translate>Common.Validation.Required</p>
                    <p class="help-block" ng-if="customJobForm.Quantity.$error.pattern" translate>Common.Validation.MustBeInteger</p>
                    <p class="help-block" ng-if="customJobForm.Quantity.$error.min" translate>Common.Validation.MustBeGreaterThanZero</p>
                </div>
            </div>

            <div class="form-group" id="customerUniqueId">
                <label for="CustomerUniqueId" class="col-md-3 control-label" title="Order Id" translate>Order.Label.Number</label>
                <div class="col-md-7">
                    <input class="form-control" id="CustomJob" type="text" name="CustomerUniqueId" ng-model="customerUniqueId" autocomplete="off" tabindex="29" select-on-click />
                </div>
            </div>

            <div class="form-group" show-errors='{showSuccess: true}' id="designId">
                <label for="DesignId" class="col-md-3 control-label" title="Design is Required" translate>Common.Label.Design</label>
                <div class="col-md-7">
                    <select class="form-control" id="CustomJobDesignIdButton" name="DesignId" ng-disabled="action == 'produce'" tabindex="30" ng-model="selectedDesignId" ng-change="updateSelection(selectedDesignId)" ng-options="c.Id as c.Name for c in designList" required></select>
                    <p class="help-block" ng-if="customJobForm.DesignId.$error.required" translate>Common.Validation.Required</p>
                </div>
            </div>

            <div class="form-group" show-errors='{showSuccess: true}' id="length">
                <label for="Length" class="col-md-3 control-label" title="Length is Required" translate>Common.Label.Length</label>
                <div class="col-md-7">
                    <input class="form-control" name="Length" id="customJobLengthInputBox" tabindex="31" type="number" ng-model="model.Length" size="15" ng-pattern="floatingPointRegex" required autocomplete="off" ng-keyup="onFieldKeyup('Length', 'customJobWidthInputBox', $event)" select-on-click />
                    <p class="help-block" ng-if="customJobForm.Length.$error.required" translate>Common.Validation.Required</p>
                    <p class="help-block" id="customJobLengthValidationMessage" ng-if="customJobForm.Length.$error.pattern" translate>Common.Validation.MustBeNumber</p>
                </div>
            </div>

            <div class="form-group" show-errors='{showSuccess: true}' id="width">
                <label for="Width" class="col-md-3 control-label" title="Width is Required" translate>Common.Label.Width</label>
                <div class="col-md-7">
                    <input class="form-control" name="Width" id="customJobWidthInputBox" tabindex="32" type="number" ng-model="model.Width" size="15" ng-pattern="floatingPointRegex" required autocomplete="off" ng-keyup="onFieldKeyup('Width', 'customJobHeightInputBox', $event)" select-on-click />
                    <p class="help-block" ng-if="customJobForm.Width.$error.required" translate>Common.Validation.Required</p>
                    <p class="help-block" id="customJobWidthValidationMessage" ng-if="customJobForm.Width.$error.pattern" translate>Common.Validation.MustBeNumber</p>
                </div>
            </div>

            <div class="form-group" show-errors='{showSuccess: true}' id="height">
                <label for="Height" class="col-md-3 control-label" title="Height is Required" translate>Common.Label.Height</label>
                <div class="col-md-7">
                    <input class="form-control" name="Height" id="customJobHeightInputBox" tabindex="33" type="number" ng-model="model.Height" size="15" ng-pattern="floatingPointRegex" required autocomplete="off" ng-keyup="onFieldKeyup('Height', 'produce', $event)" select-on-click />
                    <p class="help-block" ng-if="customJobForm.Height.$error.required" translate>Common.Validation.Required</p>
                    <p class="help-block" id="customJobHeightValidationMessage" ng-if="customJobForm.Height.$error.pattern" translate>Common.Validation.MustBeNumber</p>
                </div>
            </div>

            <design-parameters-form designparameters="model.DesignParameters" size-class="7" pattern="floatingPointRegex" tabbing-index="34"></design-parameters-form>
                      
            <div class="form-group" show-errors='{showSuccess: true}' ng-show="model.AllowedRotations != null">
                <label for="AllowedRotations" class="col-md-3 control-label" translate>Rotation.Label.NameSingular</label>
                <div class="col-md-7" id="AllowedRotations">                    
                    <select class="form-control" id="AllowedRotationsDropDown" name="AllowedRotationsDropDown" ng-disabled="" tabindex="79" ng-model="model.selectedRotation">
                        <option value="" translate>Rotation.Label.Optimal</option>
                        <option value="Degree0" ng-if="model.AllowedRotations.Degree0.Allowed == 1" translate>Rotation.Label.Degree0</option>
                        <option value="Degree90" ng-if="model.AllowedRotations.Degree90.Allowed == 1" translate>Rotation.Label.Degree90</option>
                        <option value="Degree180" ng-if="model.AllowedRotations.Degree180.Allowed == 1" translate>Rotation.Label.Degree180</option>
                        <option value="Degree270" ng-if="model.AllowedRotations.Degree270.Allowed == 1" translate>Rotation.Label.Degree270</option>
                        <option value="Degree0Flip" ng-if="model.AllowedRotations.Degree0Flip.Allowed == 1" translate>Rotation.Label.Degree0Flip</option>
                        <option value="Degree90Flip" ng-if="model.AllowedRotations.Degree90Flip.Allowed == 1" translate>Rotation.Label.Degree90Flip</option>
                        <option value="Degree180Flip" ng-if="model.AllowedRotations.Degree180Flip.Allowed == 1" translate>Rotation.Label.Degree180Flip</option>
                        <option value="Degree270Flip" ng-if="model.AllowedRotations.Degree270Flip.Allowed == 1" translate>Rotation.Label.Degree270Flip</option>
                    </select>
                </div>
            </div>

            <div class="form-group" show-errors='{showSuccess: true}' id="corrugateQuality">
                <label for="CorrugateQuality" class="col-md-3 control-label" translate>Corrugate.Label.Quality</label>
                <div class="col-md-7">
                    <input class="form-control" name="CorrugateQuality" id="customJobCorrugateQualityInputBox" tabindex="80" type="number" ng-model="model.CorrugateQuality" size="15" ng-pattern="intRegex" autocomplete="off" select-on-click />
                    <p class="help-block" id="customJobCorrugateQualityValidationMessage" ng-if="customJobForm.CorrugateQuality.$error.pattern" translate>Common.Validation.MustBeInteger</p>
                </div>
            </div>
            <div class="form-group" show-errors='{showSuccess: true}' id="conveyorPickZone" ng-show="showCrossConveyorPickzone">
                <label for="crossConveyorPickZone" class="col-md-3 control-label" translate>Machine.Accessory.Conveyor.Label.PickZone</label>
                <div class="col-md-7">
                    <select class="form-control" id="crossConveyorPickZone" tabindex="81" name="PickZone" ng-model="selectedPickZone" ng-options="pickZone as pickZone.Alias for pickZone in pickZones track by pickZone.Id" ng-required="showCrossConveyorPickzone"></select>
                    <p class="help-block" ng-if="customJobForm.PickZone.$error.required" translate>Common.Validation.Required</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3" ></div>
                <div class="col-md-7">
                    <input  id="UseKeyboardWedgeScanner" tabindex="81" type="checkbox" ng-model="useKeyboardWedgeScanner" />{{'CustomJob.Label.UseScanner' | translate}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <button id="produce" class="btn btn-default" ng-click="produce(customJobForm)" ng-disabled="isProduceDisabled()" tabindex="82" translate>Common.Label.Produce</button>
                <a ui-sref="OperatorConsole.Console">
                    <button id="cancel" class="btn btn-default" ng-disabled="isCancelDisabled()" tabindex="83" translate>Common.Label.Cancel</button>
                </a>
            </div>
        </form>
    </div>
    <div class="col-md-4" id="preview" ng-show="showPreviewContainer">
        <div id="previewWrapper" ng-show="showDesignPreview">
            <span translate>Common.Label.Preview</span>
            <div id="previewContainer"></div>
        </div>
        <a id="hidePreview" ng-click="hidePreview()" tabindex="90">{{labelPackageDesignPreview}}</a>
    </div>    
</div>