﻿<div ng-controller="ScanToCreateSelectionAlgorithmOptionsController">
    <form name="scanToCreateOptionsForm" class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12"></div>
                <input type="checkbox" style="margin-left: 15px;" name="showTriggerInterface" id="stq_showTriggerInterface" ng-model="selectedProductionGroup.Options.ShowTriggerInterface" ng-true-value="'True'" ng-false-value="'False'" />
                <span translate>ProductionGroup.Label.ScanToCreate.ShowTriggerInterfaceOnOperatorPanel</span>
                <div class="fa item help" dropdown>
                    <a href="#" class="fa-question-circle" aria-expanded="True" aria-haspopup="true" dropdown-toggle></a>
                    <ul class="dropdown-menu dropdown-menu-left btn">
                        <li class="fa-help">
                            <span translate>ProductionGroup.Label.ScanToCreate.ShowTriggerInterfaceOnOperatorPanelHelp</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label for="newBarcodeParsingWorkflowPath" class="col-md-3 control-label" title="Machine Group Workflow Path is required">{{'ProductionGroup.Label.ScanToCreate.BarcodeParsingWorkflow' | translate}}:</label>
                <div class="col-md-7">
                    <select id="newBarcodeParsingWorkflowPath" class="form-control" name="barcodeParsingWorkflow" ng-model="selectedProductionGroup.Options.BarcodeParsingWorkflow" ng-options="file.Value as file.Key for file in barcodeParsingWorkflowPaths" required></select>
                    <p class="help-block" ng-if="productionGroupEditForm.barcodeParsingWorkflow.$error.required" translate>ProductionGroup.Label.ScanToCreate.BarcodeParsingWorkflowRequired</p>
                </div>
            </div>
        </div>
    </form>
</div>