﻿<div>
    <div>
        <alert id="machinesConveyorTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="conveyorEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newConveyorName" class="col-md-3 control-label" translate>Machine.Accessory.Conveyor.Label.Name</label>
            <div class="col-md-7">
                <input id="newConveyorName" class="form-control" name="Alias" ng-model="selectedDevice.Alias" size="29" focus-element required />
                <p class="help-block" id="newConveyorNameErrorRequired" ng-if="conveyorEditForm.$dirty && conveyorEditForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newConveyorDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newConveyorDescription" class="form-control" ng-model="selectedDevice.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Type</label>
            <div class="col-md-7">
                <select class="form-control" id="conveyorTypeSelection" ng-change="updateIntro()" ng-model="selectedDevice.ConveyorType" ng-options="conveyorType as ('Machine.Accessory.Conveyor.Label.Types.' + conveyorType | translate) for conveyorType in conveyorTypes"></select>
            </div>
        </div>
        <div ng-if="selectedDevice.ConveyorType == 'WasteConveyor'">
            <div class="form-group">
                <label class="col-md-3 control-label" title=""></label>
                <label for="wasteConveyorModule" class="col-md-2" translate>Machine.Accessory.Label.Module</label>
                <label for="wasteConveyorPort" class="col-md-2" translate>Machine.Accessory.Label.Output</label>
            </div>
            <div class="form-group">
                <div class="col-md-3 control-label"></div>
                <div class="col-md-2">
                    <numeric-up-down id="wasteConveyorModule" ng-model="selectedDevice.FirstMoveCapability.Module" default-value="1" min-value="1" max-value="2" horizontal="true"></numeric-up-down>
                </div>
                <div class="col-md-2">
                    <numeric-up-down id="wasteConveyorPort" ng-model="selectedDevice.FirstMoveCapability.Port" default-value="2" min-value="1" max-value="12" horizontal="true"></numeric-up-down>
                </div>
            </div>
        </div>
        <div ng-if="selectedDevice.ConveyorType == 'CrossConveyor'">
            <div class="form-group">
                <label class="col-md-3 control-label" title=""></label>
                <label class="col-md-1" translate>Machine.Accessory.Label.Enable</label>
                <label for="crossConveyorFirstModule" class="col-md-2" translate>Machine.Accessory.Label.Module</label>
                <label for="crossConveyorFirstPort" class="col-md-2" translate>Machine.Accessory.Label.Output</label>
                <label for="crossConveyorFirstPickZoneSelection" class="col-md-2" translate>Machine.Accessory.Conveyor.Label.PickZone</label>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" translate>Machine.Accessory.Conveyor.Label.FirstPickZone</label>
                <label class="col-md-1 btn-group">
                    <button type="button" id="crossConveyorFirstFeedEnabled" ng-class="{'ui-grid-icon-ok': selectedDevice.FirstMoveCapability.Enabled, 'ui-grid-icon-cancel': !selectedDevice.FirstMoveCapability.Enabled, 'btn':true, 'btn-default': true}" ng-model="selectedDevice.FirstMoveCapability.Enabled" btn-checkbox></button>
                </label>
                <div class="col-md-2">
                    <numeric-up-down id="crossConveyorFirstModule" ng-model="selectedDevice.FirstMoveCapability.Module" default-value="1" min-value="1" max-value="2" horizontal="true"></numeric-up-down>
                </div>
                <div class="col-md-2">
                    <numeric-up-down id="crossConveyorFirstPort" ng-model="selectedDevice.FirstMoveCapability.Port" default-value="1" min-value="1" max-value="12" horizontal="true"></numeric-up-down>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="crossConveyorFirstPickZoneSelection" ng-model="selectedDevice.FirstMoveCapability.PickZone" ng-options="pickZone as pickZone.Alias for pickZone in pickZones track by pickZone.Id"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" translate>Machine.Accessory.Conveyor.Label.SecondPickZone</label>
                <label class="col-md-1 btn-group">
                    <button type="button" id="crossConveyorSecondFeedEnabled" ng-class="{'ui-grid-icon-ok': selectedDevice.SecondMoveCapability.Enabled, 'ui-grid-icon-cancel': !selectedDevice.SecondMoveCapability.Enabled, 'btn':true, 'btn-default': true}" ng-model="selectedDevice.SecondMoveCapability.Enabled" btn-checkbox></button>
                </label>
                <div class="col-md-2">
                    <numeric-up-down id="crossConveyorSecondModule" ng-model="selectedDevice.SecondMoveCapability.Module" default-value="1" min-value="1" max-value="2" horizontal="true"></numeric-up-down>
                </div>
                <div class="col-md-2">
                    <numeric-up-down id="crossConveyorSecondPort" ng-model="selectedDevice.SecondMoveCapability.Port" default-value="1" min-value="1" max-value="12" horizontal="true"></numeric-up-down>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="crossConveyorSecondPickZoneSelection" ng-model="selectedDevice.SecondMoveCapability.PickZone" ng-options="pickZone.Alias for pickZone in pickZones track by pickZone.Id"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <p class="text-danger" id="newConveyorOneDirectionNeedsToBeEnabled" ng-if="conveyorEditForm.$dirty && oneDirectionIsEnabled() == false" translate>Machine.Accessory.Conveyor.Validation.OneFeedingDirectionRequired</p>
                    <p class="text-danger" id="newConveyorNoPickzonesConfigured" ng-if="showNoPickzoneError()" translate>Machine.Accessory.Conveyor.Validation.NoPickZonesConfigured</p>
                    <p class="text-danger" id="newConveyorAllDirectionsNeedsAPickzone" ng-if="conveyorEditForm.$dirty && enabledDirectionsHasPickzone() == false" translate>Machine.Accessory.Conveyor.Validation.AllFeedingDirectionsNeedPickZone</p>
                    <p class="text-danger" id="newConveyorPickzonesNeedToBeDifferent" ng-if="conveyorEditForm.$dirty && arePortsDifferent() == false" translate>Machine.Accessory.Conveyor.Validation.PortsNeedToBeDifferent</p>
                    <p class="text-danger" id="newConveyorPickzonesNeedToBeDifferent" ng-if="conveyorEditForm.$dirty && isPickzonesDifferent() == false" translate>Machine.Accessory.Conveyor.Validation.PickZonesNeedToBeDifferent</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="btn btn-default" id="newConveyorSaveButton" ng-disabled="saveDisabled(conveyorEditForm)" ng-click="saveConveyor(conveyorEditForm)" translate>Common.Label.Save</button>
                <button class="btn btn-default" id="newConveyorCancelButton" ng-click="cancelNewEditConveyor()" translate>Common.Label.Cancel</button>
            </div>
        </div>
    </form>
</div>