<div ng-controller="AboutPackNetServerCtrl">
    <div class="modal-header">
        <div class="modal-header-title">
            About PackNet.Server
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body" style="text-align:center">
        <p id="packnetServerVersion">
            <br>
            <b>Version: {{version.Major}}.{{version.Minor}}.{{version.Build}}.{{version.Revision}}</b>
        </p>
        <p id="packnetServerReleaseNotes">
            <br>
            <a href="javascript:void(0)" ng-click="openReleaseNotes()">Click to view release notes.</a>
        </p>
        <p id="packnetServerEula">
            <br>
            <a href="javascript:void(0)" ng-click="openEula()">Click to view licensing information (EULA)</a>
            <br>
        </p>
        <br>
        {{userAgent}}
        <br>
        <b>Copyright PACKSIZE L.L.C. 2014</b><br>
        <br>
    </div>
    <div class="modal-footer">
        <button id="closeAboutWindowButton" ng-click="closeWindow()" class="btn btn-default">Close</button>
    </div>
</div>

