﻿<div ng-show="shouldShowTriggerInterface()">
    <div class="col-md-6" style="padding-left:0">
        <input class="form-control pull-left" id="triggeredSerialNo" name="triggeredSerialNo" type="text" data-ng-model="TriggerData.serialNumber" placeholder="{{'MachineProduction.Wave.Label.EnterBarcodeData' | translate}}" ui-keyup="{'enter':'sendBarcodeData()'}" />
    </div>
    <div class="col-md-6 pull-left" style="padding-left: 0">
        <button class="btn btn-default" id="triggerInterfaceSubmitBtn" ng-click="sendBarcodeData()" translate>MachineProduction.Wave.Label.TriggerData</button>
    </div>
</div>