﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            {{'MachineProduction.Order.CancelDialog.Label.Header' | translate}}
        </div>
    </div>
    <div class="modal-body" style="text-align: center">
        {{'MachineProduction.Order.CancelDialog.Message.Body' | translate}}:
        <br/><br/>
        <div ng-repeat="order in selectedOrders">
            {{'MachineProduction.Order.CancelDialog.Message.Detail' | translate:{ orderId: order.OrderId, remainingQuantity: order.RemainingQuantity, originalQuantity: order.OriginalQuantity } }}
            <br/>
        </div>
        <br/>
        {{'MachineProduction.Order.CancelDialog.Message.Confirmation' | translate}}
    </div>
    <div class="modal-footer">
        <button id="CancelOrderConfirmBtn" ng-click="confirmCancelOrders()" class="btn btn-default" ng-disabled="canConfirmCancel()" translate>Common.Label.Confirm</button>
        <button id="CancelOrderCloseBtn" ng-click="closeOrdersDialogWindow()" class="btn btn-default" focus-element translate>Common.Label.Close</button>
    </div>
</div>