﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            {{'MachineProduction.Order.CreateNextDialog.Label.Header' | translate:{ orderList: getOrdersList() } }}
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <span>
            {{'MachineProduction.Order.CreateNextDialog.Message.Body' | translate:{ orderList: getOrdersList() } }}
        </span>
    </div>
    <div class="modal-footer">
        <button id="btnContinueCreateNext" ng-click="createNext()" tabindex="10" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="btnCloseCreateNext" ng-click="closeDialogWindow()" tabindex="20" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>