<div>
    <div class="modal-header" >
        <div class="modal-header-title">
            Delete Cartons
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body" ui-keyup="{'enter':'removeRequests()'}" tabindex="0">
        Are you sure you want to delete cartons from the system?
    </div>
    <div class="modal-footer">
        <button id="deleteCartonsButton" focus-element ng-click="removeRequests()" class="btn btn-default">Delete Cartons</button>
        <button id="closeButton" ng-click="closeDialog()" class="btn btn-default">Close</button>
    </div>
</div>
