<div ng-controller="LogOffCtrl">
    <div class="modal-header">
        <div class="modal-header-title">
            Log Off User
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        Are you sure you want to log off?
    </div>
    <div class="modal-footer">
        <button id="logOffButton" focus-element ui-keyup="{'enter':'logOff()'}" ng-click="logOff()" class="btn btn-default">Log Off</button>
        <button id="closeButton" ng-click="closeDialog()" class="btn btn-default">Close</button>
    </div>
</div>
