﻿<div ng-controller="OnlineIndicatorCtrl">
    <div id="expandCollapseOnlineIndicator" class="online-indicator" ng-class="{
        'online-indicator-off': (currentMachineGroup.CurrentStatus == 'MachineGroupOffline'),
        'online-indicator-on': (currentMachineGroup.CurrentStatus != 'MachineGroupOffline' && currentMachineGroup.CurrentStatus != 'MachineGroupPaused'),
        'online-indicator-pause': (currentMachineGroup.CurrentStatus == 'MachineGroupPaused')}"
         ng-if="currentMachineGroup != null" dropdown>
        <a href="#" dropdown-toggle>
            <i class="fa fa-sitemap"></i>
            <span class="machine-group-name">{{currentMachineGroup.Alias}}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dialog">
            <li id="listOfMachines" class="online-indicator-container">
                <!--The container is for scrolling-->
                <div class="online-indicator-item" ng-repeat="machine in currentMachineGroup.Machines | orderBy: machine.Data.Alias">
                    <div>
                        <div class="icon" ng-class="{
                            'online-indicator-off': (machine.Data.CurrentStatus == 'MachineOffline'),
                            'online-indicator-on': (machine.Data.CurrentStatus != 'MachineOffline' && machine.Data.CurrentStatus != 'MachinePaused'),
                            'online-indicator-pause': (machine.Data.CurrentStatus == 'MachinePaused')}">
                            <i class="fa" ng-class="{
                                'fa-barcode': (machine.Data.MachineType == 'WifiBarcodeScanner'),
                                'fa-dropbox': (machine.Data.MachineType == 'Fusion' || machine.Data.MachineType == 'Em'),
                                'fa-print': (machine.Data.MachineType == 'ZebraPrinter')}">
                            </i>
                        </div>
                    </div>
                    <div>
                        <span id="machineName">
                            {{machine.Data.Alias}}
                        </span>
                        <br />
                        <span id="machineType" class="small-text">
                            {{machine.Data.CurrentStatus | machineStatus}}
                        </span>
                    </div>
                    <div></div>
                </div>
            </li>
        </ul>
    </div>
</div>