<div id="ProductionGroupsDialog">
    
    <div class="modal-body">
       
    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="ProductionGroupAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                {{alert.msg}}
            </alert>
        </div>
        <button ng-click="saveProductionGroup(productionGroups)" ng-disabled="!canSave()" class="btn btn-default">Save</button>
    </div>
</div>