<div ng-controller="SearchCtrl" id="divProduction" class="fixed-table">
    <div class="historyTableContainer fixed-table-container">
        <div class="header-background"> </div>
        <div class="fixed-table-container-inner">
            <table cellspacing="0">
                <thead>
                <tr >
                    <th ng:repeat="(i,th) in head" class="{{th.class}}" >

                        <div class="th-inner"  ng:click="changeSorting(th.column)">
                            <span ng:class="selectedCls(th.column)">&nbsp;</span>
                            {{th.title}}
                        </div>
                    </th>
                </tr>
                </thead>
            <tbody>
            <tr ng-repeat='x in history| orderBy:sort.column:sort.descending' ng-class-even="'altRow'">
                <td>{{carton.serialNumber}}</td>
                <td>{{carton.name}}</td>
                <td class="center">{{carton.length}}{{carton.units}}</td>
                <td class="center">{{carton.height}}{{carton.units}}</td>
                <td>{{carton.classificationNumber}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
