﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            Create Order(s) '{{getOrdersList()}}' Next
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <span style="text-align: center; font-size: larger; font-weight: bolder; margin-right: 5px">Order(s) '{{getOrdersList()}}' will be moved to the top of the queue and will be produced as soon as the currently queued cartons complete.</span>

    </div>
    <div class="modal-footer">
        <button ng-click="createNext()" tabindex="10" class="btn btn-default">Continue</button>
        <button ng-click="closeDialogWindow()" tabindex="20" class="btn btn-default">Close</button>
    </div>
</div>
