<div ng-controller="SearchCartonRequestOpenDialogCtrl">
    <div id="divOperatorSearchButton" ng-show="!adminSearch">
        <button id="btnOperatorSearch" class="btnOperatorMenu btn btn-default" ng-disabled="currentMachine.ProductionGroupAlias == ''" ng-click="openDialog()">Search</button>
    </div>
    <div style="position: absolute; width: 180px; white-space: nowrap" ng-show="adminSearch">
        <div style="position: absolute;height: 30px;top: 1px;">
            <input id="AdminSearchText" class="form-control" ng-model="searchText" ui-event="{ focus : 'clearSearchText()' } ">
        </div>
        <div style="position: absolute; left: 182px; top: 1px">
            <button class="btn btn-default btn-sm" id="AdminSearchButton" ng-click="openDialog()">Search</button>
        </div>
    </div>
</div>
