﻿<div>
    <div class="modal-header">
        <div class="modal-header-title" translate>
            Search.BoxFirst.RemoveDialog.Label.Header
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <span ng-hid="cancelling" ng-bind-html="message"></span>
    </div>
    <div class="modal-footer">
        <button id="ReproduceItemsSave" ng-click="remove()" tabindex="10" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="ReproduceItemsClose" ng-click="closeBreakOrdersDialogWindow()" tabindex="20" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>