﻿<div ng-controller="BoxFirstSelectionAlgorithmOptionsController">
    <form role="form">
        <div id="cartonPropertyGroupsDiv" class="form-group">
            <div class="row">
                <label class="col-md-7 control-label">{{'ProductionGroup.Label.BoxFirst.CartonPropertyGroupProductionRatio' | translate}}:</label>
            </div>
            <div style="text-align: right" ng-if="showGraph">
                <span class="col-md-6">
                    <br />
                    {{ratioMessage}}
                </span>
                <span class="col-md-6">
                    <canvas piechart options="options" data="cpgRatio" id="pieChart"></canvas>
                </span>
            </div>
            <span class="col-md-1"></span>
            <div class="col-md-10 well well-sm" style="margin-left: 15px;background: rgba(255, 255, 255, .8);">
                <div ng-repeat="cartonPropertyGroup in cartonPropertyGroups | orderBy:['-Included','Alias']">
                    <div class="row" style="padding: 2px;">
                        <label class="checkbox-inline col-md-6">
                            <input type="checkbox" ng-click="checkedChanged(cartonPropertyGroup)" ng-model="cartonPropertyGroup.Included" id="{{cartonPropertyGroup.Alias}}">{{cartonPropertyGroup.Alias}}
                        </label>
                        <!--<div class="col-md-7" ng-disabled="!cartonPropertyGroup.Included" range-slider min="1" max="100" model-max="cartonPropertyGroup.MixQuantity" pin-handle="min" style="margin-bottom: 20px;"></div>-->
                        <div class="form-group col-md-4" style="margin-bottom: 0px;">
                            <div>
                                <numeric-up-down id="newCPGMixQuantityNUD" ng-model="cartonPropertyGroup.MixQuantity" default-value="1" min-value="1" max-value="99999" horizontal="true" ng-show="cartonPropertyGroup.Included"></numeric-up-down>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-top: 7px;" ng-if="cartonPropertyGroup.Included">{{(cartonPropertyGroup.MixQuantity / totalMixCount)*100 | number:2}} %</div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-md-1"></span>
                <div class="col-md-10 well well-sm" style="margin-left: 15px;background: rgba(255, 255, 255, .8);">

                    <label class="col-md-5">{{'ProductionGroup.Label.BoxFirst.SurgeCount' | translate}}:</label>
                    <div class="form-group col-md-7">
                        <numeric-up-down id="pgSurgeCountNUD" ng-model="surgeCount" default-value="1" min-value="1" max-value="99999" horizontal="true"></numeric-up-down>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>