﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            {{cancelOrReproduceTitle}}
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <ul ng-repeat="model in selectedProducibles" style="padding-left: 0;">
            {{model.message}}
        </ul>
    </div>
    <div class="modal-footer">
        <button id="ReproduceItemsSave" ng-click="reproduce()" tabindex="10" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="ReproduceItemsClose" ng-click="closeBreakOrdersDialogWindow()" tabindex="20" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>