﻿<div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" id="pickZoneAlerts" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="pickZoneEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newPickZonePickZoneNameLabel" for="newPickZonePickZoneName" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="newPickZonePickZoneName" class="form-control" name="Name" ng-model="selectedPickZone.Alias" size="29" focus-element required />
                <p id="newPickZonePickZoneNameValidation" class="help-block" ng-if="pickZoneEditForm.Name.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachineDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newMachineDescription" class="form-control" ng-model="selectedPickZone.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newPickZoneSaveButton" ng-click="savePickZone(pickZoneEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newPickZoneCancelButton" ng-click="cancelNewEditPickZone()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>