<div ng-controller="PickZonesCtrl" class="dashboard-content">
    <h4 id="pageHeading" translate>PickZone.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/PickZones/pickZonesList.html"></div>
        </div>
    </div>
</div>