<div>
    <a ui-sref="PickZones.new">
        <button class="btn btn-default" id="newPickZone" translate>Common.Label.New</button>
    </a>
    <button class="btn btn-default" id="deletePickZone" ng-disabled="!canDelete()" ng-click="deletePickZones()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editPickZone" ng-disabled="!canEdit()" ng-click="editPickZone()" translate>Common.Label.Edit</button>
    <div>
        <alert id="pickZoneAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="pickZoneListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
    <!--<div ng-repeat="entity in gridApi.selection.getSelectedRows()">
        {{entity}}
    </div>-->
</div>