﻿<div>
    <div>
        <alert id="machinesManagementScannerTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="machineEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newMachineAlias" class="col-md-3 control-label" translate>Machine.NetworkScanner.Label.Name</label>
            <div class="col-md-7">
                <input id="newMachineAlias" class="form-control" name="Alias" ng-model="selectedMachine.Alias" size="29" focus-element required />
                <p class="help-block" id="newMachineAliasErrorRequired" ng-if="machineEditForm.$dirty && machineEditForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachineDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newMachineDescription" class="form-control" ng-model="selectedMachine.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="newMachinePortNUD" class="col-md-3 control-label" translate>Machine.Label.Port</label>
            <div class="col-md-7">
                <numeric-up-down id="newMachinePortNUD" ng-model="selectedMachine.Data.Port" default-value="8000" min-value="1" max-value="65535" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" collapse="!showAdvanceSettings">
            <div class="col-md-3"></div>
            <div id="machinePriorityPrinterContainer" class="col-md-7">
                <label>
                    <input id="newMachineAutoTabBetweenFields" type="checkbox" ng-model="notifyBarcodeToUIOnManualMode" />{{'Machine.NetworkScanner.Label.AutoTabBetweenFields' | translate}}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <a id="toggleAdvancedSettings" class="col-md-7" ng-click="toggleAdvanceSettings()">{{labelAdvanceSettings}}</a>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newMachineSaveButton" ng-disabled="machineEditForm.$invalid" ng-click="saveMachine(machineEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newMachineCancelButton" ng-click="cancelNewEditMachine()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>