﻿<div>
    <div>
        <alert id="machinesManagementExternalSystemTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="externalSystemEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newExternalSystemAlias" class="col-md-3 control-label" translate>Machine.ExternalSystem.Label.Name</label>
            <div class="col-md-7">
                <input id="newExternalSystemAlias" class="form-control" name="Alias" ng-model="selectedMachine.Alias" size="29" focus-element required />
                <p class="help-block" id="newExternalSystemAliasErrorRequired" ng-if="externalSystemEditForm.$dirty && externalSystemEditForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newExternalSystemDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newExternalSystemDescription" class="form-control" ng-model="selectedMachine.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newExternalSystemIPAddress" class="col-md-3 control-label" translate>Machine.Label.IPAddress</label>
            <div class="col-md-7">
                <input id="newExternalSystemIPAddress" class="form-control" name="IpOrDnsName" ng-model="selectedMachine.Data.IpOrDnsName" size="29" required ng-pattern="/^((0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)\.){3}(0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)$/" placeholder="###.###.###.###" />
                <p class="help-block" id="newExternalSystemIPAddressErrorRequired" ng-show="externalSystemEditForm.IpOrDnsName.$error.required" translate>Common.Validation.Required</p>
                <p id="newExternalSystemIpOrDnsNameErrorPattern" class="help-block" ng-if="externalSystemEditForm.IpOrDnsName.$error.pattern" translate>Common.Validation.InvalidFormat</p>
            </div>
        </div>
        <div class="form-group">
            <label for="newExternalSystemPortNUD" class="col-md-3 control-label" translate>Machine.Label.Port</label>
            <div class="col-md-7">
                <numeric-up-down id="newExternalSystemPortNUD" ng-model="selectedMachine.Data.Port" default-value="80" min-value="1" max-value="65535" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newExternalSystemWorkflowPath" class="col-md-3 control-label" translate>Machine.ExternalSystem.Label.Workflow</label>
            <div class="col-md-7">
                <select id="newExternalSystemWorkflowPath" class="form-control" name="externalSystemWorkflow" ng-model="selectedMachine.Data.WorkflowPath" ng-options="file.Value as file.Key for file in workflowPaths" required></select>
                <p class="help-block" ng-if="externalSystemEditForm.externalSystemWorkflow.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newExternalSystemSaveButton" ng-disabled="machineEditForm.$invalid" ng-click="saveExternalSystem(externalSystemEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newExternalSystemCancelButton" ng-click="cancelNewEditExternalSystem()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>