﻿<div>
    <div>
        <alert id="machinesManagementEmTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>

    <form name="machineEditForm" class="form-horizontal" role="form" novalidate ng-if="!awaitingUpdate">
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newMachineAliasLabel" for="newMachineAlias" class="col-md-3 control-label" translate>Machine.Em.Label.MachineName</label>
            <div class="col-md-7">
                <input id="newMachineAlias" class="form-control" name="Name" ng-model="selectedMachine.Alias" size="29" focus-element required />
                <p id="newMachineAliasErrorRequired" class="help-block" ng-if="machineEditForm.$dirty && machineEditForm.Name.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label id="Machines.Admin.Edit.DescriptionLabel" for="newMachineDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newMachineDescription" class="form-control" ng-model="selectedMachine.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="Machines.Admin.Edit.IpOrDnsNameLabel" for="newMachineIpOrDnsName" class="col-md-3 control-label" translate>Machine.Label.IPAddress</label>
            <div class="col-md-7">
                <input id="newMachineIpOrDnsName" class="form-control" name="IpOrDnsName" ng-model="selectedMachine.Data.IpOrDnsName" size="29" required ng-pattern="/^((0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)\.){3}(0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)$/" placeholder="###.###.###.###" />
                <p id="newMachineIpOrDnsNameErrorRequired" class="help-block" ng-if="machineEditForm.$dirty && machineEditForm.IpOrDnsName.$error.required" translate>Common.Validation.Required</p>
                <p id="newMachineIpOrDnsNameErrorPattern" class="help-block" ng-if="machineEditForm.IpOrDnsName.$error.pattern" translate>Common.Validation.InvalidFormat</p>
            </div>
        </div>

        <!-- Subnet Mask address conditionally shown when discovered -->
        <div class="form-group" show-errors='{showSuccess: true}' ng-if="selectedMachine.Data.MacAddress">
            <label id="Machines.Edit.Discover.Admin.SubnetMaskLabel" for="newMachineIpV4SubnetMask" class="col-md-3 control-label" translate>Machine.Label.SubnetMask</label>
            <div class="col-md-7">
                <input id="newMachineIpV4SubnetMask" class="form-control" name="IpV4SubnetMask" ng-model="selectedMachine.Data.IpV4SubnetMask" size="29" required ng-pattern="/^((0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)\.){3}(0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)$/" placeholder="###.###.###.###" />
                <p id="newMachineIpV4SubnetMaskErrorRequired" class="help-block" ng-if="machineEditForm.$dirty && machineEditForm.IpV4SubnetMask.$error.required" translate>Common.Validation.Required</p>
                <p id="newMachineIpV4SubnetMaskErrorPattern" class="help-block" ng-if="machineEditForm.IpV4SubnetMask.$error.pattern" translate>Common.Validation.InvalidFormat</p>
            </div>
        </div>

        <!-- Default gateway conditionally shown when discovered -->
        <div class="form-group" show-errors='{showSuccess: true}' ng-if="selectedMachine.Data.MacAddress">
            <label id="Machines.Edit.Discover.DefaultGatewayLabel" for="newMachineIpV4DefaultGateway" class="col-md-3 control-label" translate>Machine.Label.DefaultGateway</label>
            <div class="col-md-7">
                <input id="newMachineIpV4DefaultGateway" class="form-control" name="IpV4DefaultGateway" ng-model="selectedMachine.Data.IpV4DefaultGateway" size="29" required ng-pattern="/^((0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)\.){3}(0|1[0-9]{0,2}|2[0-9]?|2[0-4][0-9]|25[0-5]|[3-9][0-9]?)$/" placeholder="###.###.###.###" />
                <p id="newMachineIpV4DefaultGatewayErrorRequired" class="help-block" ng-if="machineEditForm.$dirty && machineEditForm.IpV4DefaultGateway.$error.required" translate>Common.Validation.Required</p>
                <p id="newMachineIpV4DefaultGatewayErrorPattern" class="help-block" ng-if="machineEditForm.IpV4DefaultGateway.$error.pattern" translate>Common.Validation.InvalidFormat</p>
            </div>
        </div>

        <!-- MAC address conditionally shown when discovered -->
        <div class="form-group" show-errors='{showSuccess: true}' ng-if="selectedMachine.Data.MacAddress">
            <label id="Machines.Admin.Edit.MACAddressLabel" for="newMachineMacAddress" class="col-md-3 control-label" translate>Machine.Label.MACAddress</label>
            <div class="col-md-7">
                <input id="newMachineMacAddress" class="form-control" name="IpOrDnsName" ng-model="selectedMachine.Data.MacAddress" size="29" ng-readonly="selectedMachine.Data.MacAddress" required/>
                <p id="newMachineMacAddressRequired" class="help-block" ng-if="machineEditForm.MacAddress.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        
        <div class="form-group">
            <label id="Machines.Admin.Edit.PortLabel" for="newMachinePortNUD" class="col-md-3 control-label" translate>Machine.Label.Port</label>
            <div class="col-md-7">
                <numeric-up-down id="newMachinePortNUD" ng-model="selectedMachine.Data.Port" default-value="80" min-value="1" max-value="65535" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group">
            <label id="Machines.Admin.Edit.NumberOfTracksLabel" for="newMachineTracksNUD" class="col-md-3 control-label" translate>Machine.Label.NumberOfTracks</label>
            <div class="col-md-7">
                <numeric-up-down id="newMachineTracksNUD" ng-model="selectedMachine.Data.NumTracks" default-value="2" min-value="1" max-value="4" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="Machines.Admin.Edit.PhysicalMachineSettingsFileLabel" for="newMachinePhysicalSettings" class="col-md-3 control-label" translate>Machine.Label.PhysicalMachineSettingsFile</label>
            <div class="col-md-7">
                <select id="newMachinePhysicalSettings" class="form-control" name="PhysicalSettingsFilePath" ng-model="selectedMachine.Data.PhysicalSettingsFilePath" ng-options="file.Value as file.Key for file in emMachineSettingsFileNames" required></select>
                <p id="newMachinePhysicalSettingsErrorRequired" class="help-block" ng-show="machineEditForm.PhysicalSettingsFilePath.$error.required" translate>Common.Validation.Required</p>
                <button id="newMachinePhysicalSettingsEditButton" class="btn btn-default" ng-click="editPhysicalMachineSettings()" ng-disabled="selectedMachine.Data.PhysicalSettingsFilePath == null" translate>Common.Label.Edit</button>
            </div>
        </div>
        
        <!-- IO Device Configuration -->
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <span ng-if="selectedMachine.IsNewMachine" translate>Machine.Message.CanOnlyAddAccessoriesWhenEditing</span>
            </div>
        </div>
        <span ng-disabled="selectedMachine.IsNewMachine" ng-include="'partials/Machines/IoDevice/ioDevice.html'"></span>

        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newMachineSaveButton" ng-disabled="machineEditForm.$invalid" ng-click="saveMachine(machineEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newMachineCancelButton" ng-click="cancelNewEditMachine()" translate>Common.Label.Cancel</button>
            <!-- Disabling discovery based on current bug count and functionality.  Refactor in 3.2. -->
            <!-- <button class="btn btn-default" id="discoverBrMachinesButton" ng-click="discoverBrMachines()" translate>Machine.Label.Discover</button> -->
        </div>
    </form>

    <div ng-if="awaitingUpdate">
        <span translate>Machine.Message.SavingInformation</span>
        <progressbar class="progress-striped active" value="progress" type="{{progressType}}"/>
    </div>
</div>