﻿<div class="row col-md-12">
    <div class="col-md-4">
        <input type="radio" id="cpg-normal-button-{{row.entity.Alias}}" value="Normal" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Normal',row.entity)" style="width: auto;">
        <label for="cpg-normal-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Normal
        </label>
    </div>
    <div class="col-md-4">
        <input type="radio" id="cpg-surge-button-{{row.entity.Alias}}" value="Surge" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Surge',row.entity)" style="width: auto;">
        <label for="cpg-surge-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Surge
        </label>
    </div>
    <div class="col-md-4">
        <input type="radio" id="cpg-stop-button-{{row.entity.Alias}}" value="Stop" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Stop',row.entity)" style="width: auto;">
        <label for="cpg-stop-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Stop
        </label>
    </div>
</div>