﻿<div class="row col-md-12">
    <div class="col-md-3">
        <input type="radio" id="classification-expedite-button-{{row.entity.Alias}}" value="Expedite" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Expedite', row.entity)" style="width: auto;">
        <label for="classification-expedite-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Expedite
        </label>
    </div>
    <div class="col-md-3">
        <input type="radio" id="classification-normal-button-{{row.entity.Alias}}" value="Normal" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Normal', row.entity)" style="width: auto;">
        <label for="classification-normal-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Normal
        </label>
    </div>
    <div class="col-md-3">
        <input type="radio" id="classification-last-button-{{row.entity.Alias}}" value="Last" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Last', row.entity)" style="width: auto;">
        <label for="classification-last-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Last
        </label>
    </div>
    <div class="col-md-3">
        <input type="radio" id="classification-stop-button-{{row.entity.Alias}}" value="Stop" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Stop', row.entity)" style="width: auto;">
        <label for="classification-stop-button-{{row.entity.Alias}}" class="widget-label noselect" translate>
            Common.Label.Stop
        </label>
    </div>
</div>