﻿<div class="gridActionIcon" style="border-left: 0">
    <img class="imageButton" src="img/connect.png" id="{{row.entity.Id}}connect" ui-if="row.entity.Status=='ManualProductionMode' && row.entity.Type!='EM'" title="Change to Auto mode" ng-click="changeMachineProductionStatus(row.entity.Id,'AutoProductionMode')" />
    <img class="imageButton " src="img/disconnect.png" id="{{row.entity.Id}}disconnect" ui-if="row.entity.Status=='AutoProductionMode' && row.entity.Type!='EM'" title="Change to Manual mode" ng-click="changeMachineProductionStatus(row.entity.Id,'ManualProductionMode')" />
</div>