﻿<div class="row col-md-12">
    <div class="col-md-6">
        <input type="radio" id="pickzone-normal-button-{{row.entity.Alias}}" value="Normal" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Normal',row.entity)" style="width: auto;">
        <label for="pickzone-normal-button-{{row.entity.Alias}}" class="widget-label noselect" translate>Common.Label.Normal</label>
    </div>
    <div class="col-md-6">
        <input type="radio" id="pickzone-stop-button-{{row.entity.Alias}}" value="Stop" ng-model="row.entity.Status" ng-click="$parent.grid.api.updateStatus('Stop',row.entity)" style="width: auto;">
        <label for="pickzone-stop-button-{{row.entity.Alias}}" class="widget-label noselect" translate>Common.Label.Stop</label>
    </div>
</div>