<div ng-controller="CartonPropertyGroupsController" class="dashboard-content">
    <h4 id="cpgPageTitle" translate>CartonPropertyGroup.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/CartonPropertyGroups/cartonPropertyGroupsList.html"></div>
        </div>
    </div>
</div>