<div>
    <a ui-sref="CartonPropertyGroups.new">
        <button ng-click="setOptions('CartonPropertyGroups.new')" class="btn btn-default" id="newCartonPropertyGroup" translate>Common.Label.New</button>
    </a>
    <button class="btn btn-default" id="deleteCartonPropertyGroup" ng-disabled="!canDelete()" ng-click="deleteCartonPropertyGroups()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editCartonPropertyGroup" ng-disabled="!canEdit()" ng-click="editCartonPropertyGroup()" translate>Common.Label.Edit</button>
    <div >
        <alert id="cpgAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="cartonPropertyGroupListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>