﻿<div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" id="cpgAlerts" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="cartonPropertyGroupEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="lblEditCartonPropertyGroupName" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-9">
                <input class="form-control" type="text" id="cartonPropertyGroupAliasInputBox" name="cartonPropertyGroupAliasInputBox" ng-model="selectedCartonPropertyGroup.Alias" focus-element required />
                <p id="cpgNameRequired" class="help-block" ng-if="cartonPropertyGroupEditForm.cartonPropertyGroupAliasInputBox.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newCartonPropertyGroupSaveButton" ng-click="saveCartonPropertyGroup(cartonPropertyGroupEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newCartonPropertyGroupCancelButton" ng-click="cancelNewEditCartonPropertyGroup()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>