﻿<div class="row" style="margin-bottom: 10px">
    <box-last-operator-trigger-interface></box-last-operator-trigger-interface>
</div>
<div class="row">
    <div class="panel-body">
        <div class="panel panel-default" id="autoOperatorPanelJobsSent">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{'MachineProduction.Label.ItemsInProduction' | translate}}
                    <span class="pull-right">
                        <a href="" ng-click="refreshProductionList()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <machine-production></machine-production>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="panel panel-default whitesmoke-background" id="autoOperatorPanelCompletedJobs">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{'MachineProduction.Wave.Label.CompletedItems' | translate}}
                    <span class="pull-right">
                        <a href="" ng-click="refreshProductionHistoryList()">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <machine-history></machine-history>
            </div>
        </div>
    </div>
</div>