﻿<div>
    <div>
        <alert id="emPhysicalMachineSettingsTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="emPhysicalMachineSettingsForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <label class="control-label">{{emPhysicalMachineSettingsFileName}}</label>
            </div>
        </div>
        <!--Crosshead-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Crosshead</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Movement Data-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMovementDataSpeed" class="col-md-3 control-label" translate>Movement Data Speed %</label>
                        <div class="col-md-7">
                            <input id="crossheadMovementDataSpeed" class="form-control" name="CrossheadMovementDataSpeed" ng-model="emPhysicalMachineSettings.CrossHeadParameters.MovementData.NormalMovement.SpeedInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="crossheadMovementDataSpeedRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataSpeed.$error.required" translate>Common.Validation.Required</p>
                            <p id="crossheadMovementDataSpeedMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataSpeed.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="crossheadMovementDataSpeedMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataSpeed.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMovementDataAcceleration" class="col-md-3 control-label" translate>Movement Data Acceleration %</label>
                        <div class="col-md-7">
                            <input id="crossheadMovementDataAcceleration" class="form-control" name="CrossheadMovementDataAcceleration" ng-model="emPhysicalMachineSettings.CrossHeadParameters.MovementData.NormalMovement.AccelerationInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="crossheadMovementDataAccelerationRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataAcceleration.$error.required" translate>Common.Validation.Required</p>
                            <p id="crossheadMovementDataAccelerationMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataAcceleration.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="crossheadMovementDataAccelerationMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataAcceleration.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMovementDataTorque" class="col-md-3 control-label" translate>Movement Data Torque</label>
                        <div class="col-md-7">
                            <input id="crossheadMovementDataTorque" class="form-control" name="CrossheadMovementDataTorque" ng-model="emPhysicalMachineSettings.CrossHeadParameters.MovementData.NormalMovement.Torque" type="number" required />
                            <p id="crossheadMovementDataTorqueRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadMovementDataTorque.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Connect Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadConnectDelayOff" class="col-md-3 control-label" translate>Connect Delay Off</label>
                        <div class="col-md-7">
                            <input id="crossheadConnectDelayOff" class="form-control" name="CrossheadConnectDelayOff" ng-model="emPhysicalMachineSettings.CrossHeadParameters.ConnectDelayOff" type="number" required />
                            <p id="crossheadConnectDelayOffRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadConnectDelayOff.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadConnectDelayOn" class="col-md-3 control-label" translate>Connect Delay On</label>
                        <div class="col-md-7">
                            <input id="crossheadConnectDelayOn" class="form-control" name="CrossheadConnectDelayOn" ng-model="emPhysicalMachineSettings.CrossHeadParameters.ConnectDelayOn" type="number" required />
                            <p id="crossheadConnectDelayOnRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadConnectDelayOn.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Crease Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCreaseDelayOff" class="col-md-3 control-label" translate>Crease Delay Off</label>
                        <div class="col-md-7">
                            <input id="crossheadCreaseDelayOff" class="form-control" name="CrossheadCreaseDelayOff" ng-model="emPhysicalMachineSettings.CrossHeadParameters.CreaseDelayOff" type="number" required />
                            <p id="crossheadCreaseDelayOffRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadCreaseDelayOff.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCreaseDelayOn" class="col-md-3 control-label" translate>Crease Delay On</label>
                        <div class="col-md-7">
                            <input id="crossheadCreaseDelayOn" class="form-control" name="CrossheadCreaseDelayOn" ng-model="emPhysicalMachineSettings.CrossHeadParameters.CreaseDelayOn" type="number" required />
                            <p id="crossheadCreaseDelayOnRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadCreaseDelayOn.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Cut Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCutDelayOff" class="col-md-3 control-label" translate>Cut Delay Off</label>
                        <div class="col-md-7">
                            <input id="crossheadCutDelayOff" class="form-control" name="CrossheadCutDelayOff" ng-model="emPhysicalMachineSettings.CrossHeadParameters.CutDelayOff" type="number" required />
                            <p id="crossheadCutDelayOffRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadCutDelayOff.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCutDelayOn" class="col-md-3 control-label" translate>Cut Delay On</label>
                        <div class="col-md-7">
                            <input id="crossheadCutDelayOn" class="form-control" name="CrossheadCutDelayOn" ng-model="emPhysicalMachineSettings.CrossHeadParameters.CutDelayOn" type="number" required />
                            <p id="crossheadCutDelayOnRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadCutDelayOn.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Reference Quantity-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadReferenceQuantity" class="col-md-3 control-label" translate>Reference Quantity</label>
                        <div class="col-md-7">
                            <input id="crossheadReferenceQuantity" class="form-control" name="CrossheadReferenceQuantity" ng-model="emPhysicalMachineSettings.CrossHeadParameters.ReferenceQuantity" type="number" required />
                            <p id="crossheadReferenceQuantityRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadReferenceQuantity.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Tool Position to Sensor-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadToolPositionToSensor" class="col-md-3 control-label" translate>Tool Position to Sensor</label>
                        <div class="col-md-7">
                            <input id="crossheadToolPositionToSensor" class="form-control" name="CrossheadToolPositionToSensor" ng-model="emPhysicalMachineSettings.CrossHeadParameters.ToolPositionToSensor" type="number" required />
                            <p id="crossheadToolPositionToSensorRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadToolPositionToSensor.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Out of Position Warning Threshold-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadOutOfPositionWarningThreshold" class="col-md-3 control-label" translate>Out of Position Warning Threshold</label>
                        <div class="col-md-7">
                            <input id="crossheadOutOfPositionWarningThreshold" class="form-control" name="CrossheadOutOfPositionWarningThreshold" ng-model="emPhysicalMachineSettings.CrossHeadParameters.OutOfPositionWarningThreshold" type="number" required />
                            <p id="crossheadOutOfPositionWarningThresholdRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.CrossheadOutOfPositionWarningThreshold.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Longhead-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Longhead</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Movement Data-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadMovementDataSpeed" class="col-md-3 control-label" translate>Movement Data Speed %</label>
                        <div class="col-md-7">
                            <input id="longheadMovementDataSpeed" class="form-control" name="LongheadMovementDataSpeed" ng-model="emPhysicalMachineSettings.LongHeadParameters.MovementData.NormalMovement.SpeedInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="longheadMovementDataSpeedRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataSpeed.$error.required" translate>Common.Validation.Required</p>
                            <p id="longheadMovementDataSpeedMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataSpeed.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="longheadMovementDataSpeedMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataSpeed.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadMovementDataAcceleration" class="col-md-3 control-label" translate>Movement Data Acceleration %</label>
                        <div class="col-md-7">
                            <input id="longheadMovementDataAcceleration" class="form-control" name="LongheadMovementDataAcceleration" ng-model="emPhysicalMachineSettings.LongHeadParameters.MovementData.NormalMovement.AccelerationInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="longheadMovementDataAccelerationRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataAcceleration.$error.required" translate>Common.Validation.Required</p>
                            <p id="longheadMovementDataAccelerationMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataAcceleration.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="longheadMovementDataAccelerationMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataAcceleration.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadMovementDataTorque" class="col-md-3 control-label" translate>Movement Data Torque</label>
                        <div class="col-md-7">
                            <input id="longheadMovementDataTorque" class="form-control" name="LongheadMovementDataTorque" ng-model="emPhysicalMachineSettings.LongHeadParameters.MovementData.NormalMovement.Torque" type="number" required />
                            <p id="longheadMovementDataTorqueRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadMovementDataTorque.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Connect Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadConnectDelayOff" class="col-md-3 control-label" translate>Connect Delay Off</label>
                        <div class="col-md-7">
                            <input id="longheadConnectDelayOff" class="form-control" name="LongheadConnectDelayOff" ng-model="emPhysicalMachineSettings.LongHeadParameters.ConnectDelayOff" type="number" required />
                            <p id="longheadConnectDelayOffRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadConnectDelayOff.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadConnectDelayOn" class="col-md-3 control-label" translate>Connect Delay On</label>
                        <div class="col-md-7">
                            <input id="longheadConnectDelayOn" class="form-control" name="LongheadConnectDelayOn" ng-model="emPhysicalMachineSettings.LongHeadParameters.ConnectDelayOn" type="number" required />
                            <p id="longheadConnectDelayOnRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadConnectDelayOn.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Crease Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadCreaseDelayOff" class="col-md-3 control-label" translate>Crease Delay Off</label>
                        <div class="col-md-7">
                            <input id="longheadCreaseDelayOff" class="form-control" name="LongheadCreaseDelayOff" ng-model="emPhysicalMachineSettings.LongHeadParameters.CreaseDelayOff" type="number" required />
                            <p id="longheadCreaseDelayOffRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadCreaseDelayOff.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadCreaseDelayOn" class="col-md-3 control-label" translate>Crease Delay On</label>
                        <div class="col-md-7">
                            <input id="longheadCreaseDelayOn" class="form-control" name="LongheadCreaseDelayOn" ng-model="emPhysicalMachineSettings.LongHeadParameters.CreaseDelayOn" type="number" required />
                            <p id="longheadCreaseDelayOnRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadCreaseDelayOn.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Cut Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadCutDelayOff" class="col-md-3 control-label" translate>Cut Delay Off</label>
                        <div class="col-md-7">
                            <input id="longheadCutDelayOff" class="form-control" name="LongheadCutDelayOff" ng-model="emPhysicalMachineSettings.LongHeadParameters.CutDelayOff" type="number" required />
                            <p id="longheadCutDelayOffRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadCutDelayOff.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadCutDelayOn" class="col-md-3 control-label" translate>Cut Delay On</label>
                        <div class="col-md-7">
                            <input id="longheadCutDelayOn" class="form-control" name="LongheadCutDelayOn" ng-model="emPhysicalMachineSettings.LongHeadParameters.CutDelayOn" type="number" required />
                            <p id="longheadCutDelayOnRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadCutDelayOn.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--LHInPosWindow-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadLHInPosWindow" class="col-md-3 control-label" translate>Longhead in Position Window</label>
                        <div class="col-md-7">
                            <input id="longheadLHInPosWindow" class="form-control" name="LongheadLHInPosWindow" ng-model="emPhysicalMachineSettings.LongHeadParameters.LHInPosWindow" type="number" required />
                            <p id="longheadLHInPosWindowRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadLHInPosWindow.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Y Offset-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadYOffset" class="col-md-3 control-label" translate>Y Offset</label>
                        <div class="col-md-7">
                            <input id="longheadYOffset" class="form-control" name="LongheadYOffset" ng-model="emPhysicalMachineSettings.LongHeadParameters.LongHeadYOffset" type="number" required />
                            <p id="longheadYOffsetRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadYOffset.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Out of Position Warning Threshold-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longheadOutOfPositionWarningThreshold" class="col-md-3 control-label" translate>Out of Position Warning Threshold</label>
                        <div class="col-md-7">
                            <input id="longheadOutOfPositionWarningThreshold" class="form-control" name="LongheadOutOfPositionWarningThreshold" ng-model="emPhysicalMachineSettings.LongHeadParameters.OutOfPositionWarningThreshold" type="number" required />
                            <p id="longheadOutOfPositionWarningThresholdRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.LongheadOutOfPositionWarningThreshold.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Longhead-->
                    <ng-form name="longHeadForm" ng-repeat="l in emPhysicalMachineSettings.LongHeadParameters.LongHeads">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Longhead {{l.Number}}</label>
                        </div>
                        <!--Left Side to Tool-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="longhead{{l.Number}}LeftSideToTool" class="col-md-3 control-label">Left Side to Tool</label>
                            <div class="col-md-7">
                                <input id="longhead{{l.Number}}LeftSideToTool" class="form-control" name="LeftSideToTool" ng-model="l.LeftSideToTool" type="number" required />
                                <p id="longhead{{l.Number}}LeftSideToToolRequired" class="help-block" ng-if="longHeadForm.LeftSideToTool.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Tool to Sensor Offset-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="longhead{{l.Number}}ToolToSensorOffset" class="col-md-3 control-label">Tool to Sensor Offset</label>
                            <div class="col-md-7">
                                <input id="longhead{{l.Number}}ToolToSensorOffset" class="form-control" name="ToolToSensorOffset" ng-model="l.ToolToSensorOffset" type="number" required />
                                <p id="longhead{{l.Number}}ToolToSensorOffsetRequired" class="help-block" ng-if="longHeadForm.ToolToSensorOffset.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!--Rubber Roller-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Rubber Roller</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Normal Movement Data-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerNormalMovementDataSpeed" class="col-md-3 control-label" translate>Normal Movement Data Speed %</label>
                        <div class="col-md-7">
                            <input id="rubberRollerNormalMovementDataSpeed" class="form-control" name="RubberRollerNormalMovementDataSpeed" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MovementData.NormalMovement.SpeedInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="rubberRollerNormalMovementDataSpeedRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataSpeed.$error.required" translate>Common.Validation.Required</p>
                            <p id="rubberRollerNormalMovementDataSpeedMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataSpeed.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="rubberRollerNormalMovementDataSpeedMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataSpeed.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerNormalMovementDataAcceleration" class="col-md-3 control-label" translate>Normal Movement Data Acceleration %</label>
                        <div class="col-md-7">
                            <input id="rubberRollerNormalMovementDataAcceleration" class="form-control" name="RubberRollerNormalMovementDataAcceleration" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MovementData.NormalMovement.AccelerationInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="rubberRollerNormalMovementDataAccelerationRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataAcceleration.$error.required" translate>Common.Validation.Required</p>
                            <p id="rubberRollerNormalMovementDataAccelerationMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataAcceleration.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="rubberRollerNormalMovementDataAccelerationMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataAcceleration.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerNormalMovementDataTorque" class="col-md-3 control-label" translate>Normal Movement Data Torque</label>
                        <div class="col-md-7">
                            <input id="rubberRollerNormalMovementDataTorque" class="form-control" name="RubberRollerNormalMovementDataTorque" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MovementData.NormalMovement.Torque" type="number" required />
                            <p id="rubberRollerNormalMovementDataTorqueRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerNormalMovementDataTorque.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Reverse Movement Data-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerReverseMovementDataSpeed" class="col-md-3 control-label" translate>Reverse Movement Data Speed %</label>
                        <div class="col-md-7">
                            <input id="rubberRollerReverseMovementDataSpeed" class="form-control" name="RubberRollerReverseMovementDataSpeed" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MovementData.ReverseMovement.SpeedInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="rubberRollerReverseMovementDataSpeedRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataSpeed.$error.required" translate>Common.Validation.Required</p>
                            <p id="rubberRollerReverseMovementDataSpeedMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataSpeed.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="rubberRollerReverseMovementDataSpeedMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataSpeed.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerReverseMovementDataAcceleration" class="col-md-3 control-label" translate>Reverse Movement Data Acceleration %</label>
                        <div class="col-md-7">
                            <input id="rubberRollerReverseMovementDataAcceleration" class="form-control" name="RubberRollerReverseMovementDataAcceleration" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MovementData.ReverseMovement.AccelerationInPercent" max="100" min="0" step="1" type="number" required />
                            <p id="rubberRollerReverseMovementDataAccelerationRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataAcceleration.$error.required" translate>Common.Validation.Required</p>
                            <p id="rubberRollerReverseMovementDataAccelerationMin" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataAcceleration.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="rubberRollerReverseMovementDataAccelerationMax" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataAcceleration.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerReverseMovementDataTorque" class="col-md-3 control-label" translate>Reverse Movement Data Torque</label>
                        <div class="col-md-7">
                            <input id="rubberRollerReverseMovementDataTorque" class="form-control" name="RubberRollerReverseMovementDataTorque" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MovementData.ReverseMovement.Torque" type="number" required />
                            <p id="rubberRollerReverseMovementDataTorqueRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseMovementDataTorque.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Reverse Distance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerReverseDistance" class="col-md-3 control-label" translate>Reverse Distance</label>
                        <div class="col-md-7">
                            <input id="rubberRollerReverseDistance" class="form-control" name="RubberRollerReverseDistance" ng-model="emPhysicalMachineSettings.FeedRollerParameters.MaximumReverseDistance" type="number" required />
                            <p id="rubberRollerReverseDistanceRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerReverseDistance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Tools Gear Ratio-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerToolsGearRatio" class="col-md-3 control-label" translate>Tools Gear Ratio</label>
                        <div class="col-md-7">
                            <input id="rubberRollerToolsGearRatio" class="form-control" name="RubberRollerToolsGearRatio" ng-model="emPhysicalMachineSettings.FeedRollerParameters.ToolsGearRatio" type="number" required />
                            <p id="rubberRollerToolsGearRatioRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerToolsGearRatio.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Extra Length on Out Feed-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="rubberRollerOutFeedLength" class="col-md-3 control-label" translate>Extra Length on Out Feed</label>
                        <div class="col-md-7">
                            <input id="rubberRollerOutFeedLength" class="form-control" name="RubberRollerOutFeedLength" ng-model="emPhysicalMachineSettings.FeedRollerParameters.OutFeedLength" type="number" required />
                            <p id="rubberRollerOutFeedLengthRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.RubberRollerOutFeedLength.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Starting Position-->
                    <ng-form name="startingPositionForm" ng-repeat="s in emPhysicalMachineSettings.FeedRollerParameters.RubberRollerStartingPositions">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Track Number {{s.TrackNumber}}</label>
                        </div>
                        <!--Position-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="startingPosition{{s.TrackNumber}}Position" class="col-md-3 control-label">Starting Position</label>
                            <div class="col-md-7">
                                <input id="startingPosition{{s.TrackNumber}}Position" class="form-control" name="Position" ng-model="s.Position" type="number" required />
                                <p id="startingPosition{{l.TrackNumber}}PositionRequired" class="help-block" ng-if="startingPositionForm.Position.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!--Tracks-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Tracks</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Corrugate Width Tolerance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksCorrugateWidthTolerance" class="col-md-3 control-label" translate>Corrugate Width Tolerance</label>
                        <div class="col-md-7">
                            <input id="tracksCorrugateWidthTolerance" class="form-control" name="TracksCorrugateWidthTolerance" ng-model="emPhysicalMachineSettings.TrackParameters.CorrugateWidthTolerance" type="number" required/>
                            <p id="tracksCorrugateWidthToleranceRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.TracksCorrugateWidthTolerance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track Change Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksTrackChangeDelay" class="col-md-3 control-label" translate>Track Change Delay</label>
                        <div class="col-md-7">
                            <input id="tracksTrackChangeDelay" class="form-control" name="TracksTrackChangeDelay" ng-model="emPhysicalMachineSettings.TrackParameters.TrackChangeDelay" type="number" required/>
                            <p id="tracksTrackChangeDelayRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.TracksTrackChangeDelay.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track Service Feeding Distance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksTrackServiceFeedingDistance" class="col-md-3 control-label" translate>Track Service Feeding Distance</label>
                        <div class="col-md-7">
                            <input id="tracksTrackServiceFeedingDistance" class="form-control" name="TracksTrackServiceFeedingDistance" ng-model="emPhysicalMachineSettings.TrackParameters.TrackServiceFeedingDistance" type="number" required />
                            <p id="tracksTrackServiceFeedingDistanceRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.TracksTrackServiceFeedingDistance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Use Corrugate Sensors-->
                    <div class="form-group">
                        <div class="col-md-3 control-label"></div>
                        <div class="col-md-7">
                            <label>
                                <input id="tracksUseCorrugateSensors" ng-model="emPhysicalMachineSettings.TrackParameters.UseCorrugateSensors" type="checkbox" ng-true-value="1" ng-false-value="0" />Use Corrugate Sensors
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Waste Area-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Waste Area</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <!--Maximum Waste Length-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="wasteAreaMaximumWasteLength" class="col-md-3 control-label" translate>Maximum Waste Length</label>
                            <div class="col-md-7">
                                <input id="wasteAreaMaximumWasteLength" class="form-control" name="WasteAreaMaximumWasteLength" ng-model="emPhysicalMachineSettings.WasteAreaParameters.MaximumWasteLength" type="number" required />
                                <p id="wasteAreaMaximumWasteLengthRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.WasteAreaMaximumWasteLength.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Minimum Waste Length-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="wasteAreaMinimumWasteLength" class="col-md-3 control-label" translate>Minimum Waste Length</label>
                            <div class="col-md-7">
                                <input id="wasteAreaMinimumWasteLength" class="form-control" name="WasteAreaMinimumWasteLength" ng-model="emPhysicalMachineSettings.WasteAreaParameters.MinimumWasteLength" type="number" required />
                                <p id="wasteAreaMinimumWasteLengthRequired" class="help-block" ng-if="emPhysicalMachineSettingsForm.WasteAreaMinimumWasteLength.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Enable-->
                        <div class="form-group">
                            <div class="col-md-3 control-label"></div>
                            <div class="col-md-7">
                                <label>
                                    <input id="wasteAreaEnable" ng-model="emPhysicalMachineSettings.WasteAreaParameters.Enable" type="checkbox" ng-true-value="1" ng-false-value="0" />Enable
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!--On the Fly-->
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <label>
                    <input id="onTheFlyActive" ng-model="emPhysicalMachineSettings.OnTheFlyActive" type="checkbox" ng-true-value="1" ng-false-value="0" />On the Fly
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="emPhysicalMachineSettingsSaveButton" ng-click="save(emPhysicalMachineSettingsForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="emPhysicalMachineSettingsCancelButton" ng-click="cancel()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>