﻿<div>
    <div>
        <alert id="fusionPhysicalMachineSettingsTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="fusionPhysicalMachineSettingsForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <label class="control-label">{{fusionPhysicalMachineSettingsFileName}}</label>
            </div>
        </div>
        <!--Crosshead-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Crosshead</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Crease Compensation-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCreaseCompensation" class="col-md-3 control-label" translate>Crease Compensation</label>
                        <div class="col-md-7">
                            <input id="crossheadCreaseCompensation" class="form-control" name="CrossheadCreaseCompensation" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.CreaseCompensation" type="number" required/>
                            <p id="crossheadCreaseCompensationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadCreaseCompensation.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Crease Wheel Offset-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCreaseWheelOffset" class="col-md-3 control-label" translate>Crease Wheel Offset</label>
                        <div class="col-md-7">
                            <input id="crossheadCreaseWheelOffset" class="form-control" name="CrossheadCreaseWheelOffset" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.CreaseWheelOffset" type="number" required/>
                            <p id="crossheadCreaseWheelOffsetRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadCreaseWheelOffset.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Acceleration-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadAcceleration" class="col-md-3 control-label" translate>Acceleration</label>
                        <div class="col-md-7">
                            <input id="crossheadAcceleration" class="form-control" name="CrossheadAcceleration" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.Acceleration" type="number" required/>
                            <p id="crossheadAccelerationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadAcceleration.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Maximum Acceleration-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMaximumAcceleration" class="col-md-3 control-label" translate>Maximum Acceleration</label>
                        <div class="col-md-7">
                            <input id="crossheadMaximumAcceleration" class="form-control" name="CrossheadMaximumAcceleration" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.MaximumAcceleration" type="number" required/>
                            <p id="crossheadMaximumAccelerationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadMaximumAcceleration.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Maximum Deceleration-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMaximumDeceleration" class="col-md-3 control-label" translate>Maximum Deceleration</label>
                        <div class="col-md-7">
                            <input id="crossheadMaximumDeceleration" class="form-control" name="CrossheadMaximumDeceleration" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.MaximumDeceleration" type="number" required/>
                            <p id="crossheadMaximumDecelerationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadMaximumDeceleration.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Maximum Position-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMaximumPosition" class="col-md-3 control-label" translate>Maximum Position</label>
                        <div class="col-md-7">
                            <input id="crossheadMaximumPosition" class="form-control" name="CrossheadMaximumPosition" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.MaximumPosition" type="number" required/>
                            <p id="crossheadMaximumPositionRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadMaximumPosition.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Maximum Speed-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMaximumSpeed" class="col-md-3 control-label" translate>Maximum Speed</label>
                        <div class="col-md-7">
                            <input id="crossheadMaximumSpeed" class="form-control" name="CrossheadMaximumSpeed" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.MaximumSpeed" type="number" required/>
                            <p id="crossheadMaximumSpeedRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadMaximumSpeed.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Minimum Position-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMinimumPosition" class="col-md-3 control-label" translate>Minimum Position</label>
                        <div class="col-md-7">
                            <input id="crossheadMinimumPosition" class="form-control" name="CrossheadMinimumPosition" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.MinimumPosition" type="number" required/>
                            <p id="crossheadMinimumPositionRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadMinimumPosition.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Speed-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadSpeed" class="col-md-3 control-label" translate>Speed</label>
                        <div class="col-md-7">
                            <input id="crossheadSpeed" class="form-control" name="CrossheadSpeed" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.Speed" type="number" required/>
                            <p id="crossheadSpeedRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadSpeed.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Cut Compensation-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadCutCompensation" class="col-md-3 control-label" translate>Cut Compensation</label>
                        <div class="col-md-7">
                            <input id="crossheadCutCompensation" class="form-control" name="CrossheadCutCompensation" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.CutCompensation" type="number" required/>
                            <p id="crossheadCutCompensationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadCutCompensation.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Homing Position-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadHomingPosition" class="col-md-3 control-label" translate>Homing Position</label>
                        <div class="col-md-7">
                            <input id="crossheadHomingPosition" class="form-control" name="CrossheadHomingPosition" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.HomingPosition" type="number" required/>
                            <p id="crossheadHomingPositionRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadHomingPosition.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Knife Activation Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadKnifeActivationDelay" class="col-md-3 control-label" translate>Knife Activation Delay</label>
                        <div class="col-md-7">
                            <input id="crossheadKnifeActivationDelay" class="form-control" name="CrossheadKnifeActivationDelay" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.KnifeActivationDelay" type="number" required/>
                            <p id="crossheadKnifeActivationDelayRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadKnifeActivationDelay.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Knife Deactivation Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadKnifeDeactivationDelay" class="col-md-3 control-label" translate>Knife Deactivation Delay</label>
                        <div class="col-md-7">
                            <input id="crossheadKnifeDeactivationDelay" class="form-control" name="CrossheadKnifeDeactivationDelay" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.KnifeDeactivationDelay" type="number" required/>
                            <p id="crossheadKnifeDeactivationDelayRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadKnifeDeactivationDelay.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Left Side To Tool-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadLeftSideToTool" class="col-md-3 control-label" translate>Left Side To Tool</label>
                        <div class="col-md-7">
                            <input id="crossheadLeftSideToTool" class="form-control" name="CrossheadLeftSideToTool" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.LeftSideToTool" type="number" required/>
                            <p id="crossheadLeftSideToToolRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadLeftSideToTool.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Longhead Sensor To Tool-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadLongHeadSensorToTool" class="col-md-3 control-label" translate>Longhead Sensor To Tool</label>
                        <div class="col-md-7">
                            <input id="crossheadLongHeadSensorToTool" class="form-control" name="CrossheadLongHeadSensorToTool" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.LongHeadSensorToTool" type="number" required/>
                            <p id="crossheadLongHeadSensorToToolRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadLongHeadSensorToTool.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Minimum Line Length-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadMinimumLineLength" class="col-md-3 control-label" translate>Minimum Line Length</label>
                        <div class="col-md-7">
                            <input id="crossheadMinimumLineLength" class="form-control" name="CrossheadMinimumLineLength" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.MinimumLineLength" type="number" required/>
                            <p id="crossheadMinimumLineLengthRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadMinimumLineLength.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track Sensor To Tool-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadTrackSensorToTool" class="col-md-3 control-label" translate>Track Sensor To Tool</label>
                        <div class="col-md-7">
                            <input id="crossheadTrackSensorToTool" class="form-control" name="CrossheadTrackSensorToTool" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.TrackSensorToTool" type="number" required/>
                            <p id="crossheadTrackSensorToToolRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadTrackSensorToTool.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Width-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="crossheadWidth" class="col-md-3 control-label" translate>Width</label>
                        <div class="col-md-7">
                            <input id="crossheadWidth" class="form-control" name="CrossheadWidth" ng-model="fusionPhysicalMachineSettings.CrossHeadParameters.Width" type="number" required/>
                            <p id="crossheadWidthRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.CrossheadWidth.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Feed Roller-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Feed Roller</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Clean Cut Length-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="feedRollerCleanCutLength" class="col-md-3 control-label" translate>Clean Cut Length</label>
                        <div class="col-md-7">
                            <input id="feedRollerCleanCutLength" class="form-control" name="FeedRollerCleanCutLength" ng-model="fusionPhysicalMachineSettings.FeedRollerParameters.CleanCutLength" type="number" required/>
                            <p id="feedRollerCleanCutLengthRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerCleanCutLength.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Lowering Offset-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="feedRollerLoweringOffset" class="col-md-3 control-label" translate>Lowering Offset</label>
                        <div class="col-md-7">
                            <input id="feedRollerLoweringOffset" class="form-control" name="FeedRollerLoweringOffset" ng-model="fusionPhysicalMachineSettings.FeedRollerParameters.LoweringOffset" type="number" required/>
                            <p id="feedRollerLoweringOffsetRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerLoweringOffset.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Out Feed Length-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="feedRollerOutFeedLength" class="col-md-3 control-label" translate>Out Feed Length</label>
                        <div class="col-md-7">
                            <input id="feedRollerOutFeedLength" class="form-control" name="FeedRollerOutFeedLength" ng-model="fusionPhysicalMachineSettings.FeedRollerParameters.OutFeedLength" type="number" required/>
                            <p id="feedRollerOutFeedLengthRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerOutFeedLength.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Acceleration-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="feedRollerAcceleration" class="col-md-3 control-label" translate>Acceleration</label>
                        <div class="col-md-7">
                            <input id="feedRollerAcceleration" class="form-control" name="FeedRollerAcceleration" ng-model="fusionPhysicalMachineSettings.FeedRollerParameters.Acceleration" type="number" required/>
                            <p id="feedRollerAccelerationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerAcceleration.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Movement Speed %-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="feedRollerMovementSpeed" class="col-md-3 control-label" translate>Movement Speed %</label>
                        <div class="col-md-7">
                            <input id="feedRollerMovementSpeed" class="form-control" name="FeedRollerMovementSpeed" ng-model="fusionPhysicalMachineSettings.FeedRollerParameters.PercentMovementSpeed" max="100" min="0" step="1" type="number" required/>
                            <p id="feedRollerMovementSpeedRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerMovementSpeed.$error.required" translate>Common.Validation.Required</p>
                            <p id="feedRollerMovementSpeedMin" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerMovementSpeed.$error.min">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                            <p id="feedRollerMovementSpeedMax" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerMovementSpeed.$error.max">{{'Common.Validation.MustBeBetweenNumbers' | translate:{ min: 0, max: 100} }}</p>
                        </div>
                    </div>
                    <!--Tools Gear Ratio-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="feedRollerToolsGearRatio" class="col-md-3 control-label" translate>Tools Gear Ratio</label>
                        <div class="col-md-7">
                            <input id="feedRollerToolsGearRatio" class="form-control" name="FeedRollerToolsGearRatio" ng-model="fusionPhysicalMachineSettings.FeedRollerParameters.ToolsGearRatio" type="number" required />
                            <p id="feedRollerToolsGearRatioRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.FeedRollerToolsGearRatio.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Longhead-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Longhead</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Connection Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadConnectionDelay" class="col-md-3 control-label" translate>Connection Delay</label>
                        <div class="col-md-7">
                            <input id="longHeadConnectionDelay" class="form-control" name="LongHeadConnectionDelay" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.ConnectionDelay" type="number" required/>
                            <p id="longHeadConnectionDelayRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadConnectionDelay.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Left Side to Sensor Pin-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadLeftSideToSensorPin" class="col-md-3 control-label" translate>Left Side to Sensor Pin</label>
                        <div class="col-md-7">
                            <input id="longHeadLeftSideToSensorPin" class="form-control" name="LongHeadLeftSideToSensorPin" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.LeftSideToSensorPin" type="number" required/>
                            <p id="longHeadLeftSideToSensorPinRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadLeftSideToSensorPin.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Maximum Position-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadMaximumPosition" class="col-md-3 control-label" translate>Maximum Position</label>
                        <div class="col-md-7">
                            <input id="longHeadMaximumPosition" class="form-control" name="LongHeadMaximumPosition" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.MaximumPosition" type="number" required/>
                            <p id="longHeadMaximumPositionRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadMaximumPosition.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Minimum Position-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadMinimumPosition" class="col-md-3 control-label" translate>Minimum Position</label>
                        <div class="col-md-7">
                            <input id="longHeadMinimumPosition" class="form-control" name="LongHeadMinimumPosition" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.MinimumPosition" type="number" required/>
                            <p id="longHeadMinimumPositionRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadMinimumPosition.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Positioning Acceleration-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadPositioningAcceleration" class="col-md-3 control-label" translate>Positioning Acceleration</label>
                        <div class="col-md-7">
                            <input id="longHeadPositioningAcceleration" class="form-control" name="LongHeadPositioningAcceleration" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.PositioningAcceleration" type="number" required/>
                            <p id="longHeadPositioningAccelerationRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadPositioningAcceleration.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Positioning Speed-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadPositioningSpeed" class="col-md-3 control-label" translate>Positioning Speed</label>
                        <div class="col-md-7">
                            <input id="longHeadPositioningSpeed" class="form-control" name="LongHeadPositioningSpeed" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.PositioningSpeed" type="number" required />
                            <p id="longHeadPositioningSpeedRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadPositioningSpeed.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Width-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="longHeadWidth" class="col-md-3 control-label" translate>Width</label>
                        <div class="col-md-7">
                            <input id="longHeadWidth" class="form-control" name="LongHeadWidth" ng-model="fusionPhysicalMachineSettings.LongHeadParameters.LongheadWidth" type="number" required/>
                            <p id="longHeadWidthRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.LongHeadWidth.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Longhead-->
                    <ng-form name="longHeadForm" ng-repeat="l in fusionPhysicalMachineSettings.LongHeadParameters.LongHeads">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Longhead {{l.Number}}</label>
                        </div>
                        <!--Left Side to Tool-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="longhead{{l.Number}}LeftSideToTool" class="col-md-3 control-label">Left Side to Tool</label>
                            <div class="col-md-7">
                                <input id="longhead{{l.Number}}LeftSideToTool" class="form-control" name="LeftSideToTool" ng-model="l.LeftSideToTool" type="number" required />
                                <p id="longhead{{l.Number}}LeftSideToToolRequired" class="help-block" ng-if="longHeadForm.LeftSideToTool.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Type-->
                        <div class="form-group">
                            <label for="longhead{{l.Number}}Type" class="col-md-3 control-label">Type</label>
                            <div class="col-md-7">
                                <select id="longhead{{l.Number}}Type" class="form-control" name="Type" ng-model="l.Type">
                                    <option value="0">Cut</option>
                                    <option value="1">Crease</option>
                                </select>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!--Tracks-->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Tracks</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!--Track Activate Delay-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksTrackActivateDelay" class="col-md-3 control-label" translate>Track Activate Delay</label>
                        <div class="col-md-7">
                            <input id="tracksTrackActivateDelay" class="form-control" name="TracksTrackActivateDelay" ng-model="fusionPhysicalMachineSettings.TrackParameters.TrackActivateDelay" type="number" required/>
                            <p id="tracksTrackActivateDelayRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.TracksTrackActivateDelay.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track Latch Distance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksTrackLatchDistance" class="col-md-3 control-label" translate>Track Latch Distance</label>
                        <div class="col-md-7">
                            <input id="tracksTrackLatchDistance" class="form-control" name="TracksTrackLatchDistance" ng-model="fusionPhysicalMachineSettings.TrackParameters.TrackLatchDistance" type="number" required/>
                            <p id="tracksTrackLatchDistanceRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.TracksTrackLatchDistance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track Offset Tolerance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksTrackOffsetTolerance" class="col-md-3 control-label" translate>Track Offset Tolerance</label>
                        <div class="col-md-7">
                            <input id="tracksTrackOffsetTolerance" class="form-control" name="TracksTrackOffsetTolerance" ng-model="fusionPhysicalMachineSettings.TrackParameters.TrackOffsetTolerance" type="number" required/>
                            <p id="tracksTrackOffsetToleranceRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.TracksTrackOffsetTolerance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track Side Steering Tolerance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksTrackSideSteeringTolerance" class="col-md-3 control-label" translate>Track Side Steering Tolerance</label>
                        <div class="col-md-7">
                            <input id="tracksTrackSideSteeringTolerance" class="form-control" name="TracksTrackSideSteeringTolerance" ng-model="fusionPhysicalMachineSettings.TrackParameters.TrackSideSteeringTolerance" type="number" required/>
                            <p id="tracksTrackSideSteeringToleranceRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.TracksTrackSideSteeringTolerance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Corrugate Width Tolerance-->
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="tracksCorrugateWidthTolerance" class="col-md-3 control-label" translate>Corrugate Width Tolerance</label>
                        <div class="col-md-7">
                            <input id="tracksCorrugateWidthTolerance" class="form-control" name="TracksCorrugateWidthTolerance" ng-model="fusionPhysicalMachineSettings.TrackParameters.CorrugateWidthTolerance" type="number" required />
                            <p id="tracksCorrugateWidthToleranceRequired" class="help-block" ng-if="fusionPhysicalMachineSettingsForm.TracksCorrugateWidthTolerance.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <!--Track-->
                    <ng-form name="trackForm" ng-repeat="t in fusionPhysicalMachineSettings.TrackParameters.Tracks">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Track {{t.Number}}</label>
                        </div>
                        <!--Left Sensor Plate to Corrugate-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="track{{t.Number}}LeftSensorPlateToCorrugate" class="col-md-3 control-label">Left Sensor Plate to Corrugate</label>
                            <div class="col-md-7">
                                <input id="track{{t.Number}}LeftSensorPlateToCorrugate" class="form-control" name="LeftSensorPlateToCorrugate" ng-model="t.LeftSensorPlateToCorrugate" type="number" required/>
                                <p id="track{{t.Number}}LeftSensorPlateToCorrugateRequired" class="help-block" ng-if="trackForm.LeftSensorPlateToCorrugate.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Out of Corrugate Position-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="track{{t.Number}}OutOfCorrugatePosition" class="col-md-3 control-label">Out of Corrugate Position</label>
                            <div class="col-md-7">
                                <input id="track{{t.Number}}OutOfCorrugatePosition" class="form-control" name="OutOfCorrugatePosition" ng-model="t.OutOfCorrugatePosition" type="number" required />
                                <p id="track{{t.Number}}OutOfCorrugatePositionRequired" class="help-block" ng-if="trackForm.OutOfCorrugatePosition.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Right Sensor Plate to Corrugate-->
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="track{{t.Number}}RightSensorPlateToCorrugate" class="col-md-3 control-label">Right Sensor Plate to Corrugate</label>
                            <div class="col-md-7">
                                <input id="track{{t.Number}}RightSensorPlateToCorrugate" class="form-control" name="RightSensorPlateToCorrugate" ng-model="t.RightSensorPlateToCorrugate" type="number" required/>
                                <p id="track{{t.Number}}RightSensorPlateToCorrugateRequired" class="help-block" ng-if="trackForm.RightSensorPlateToCorrugate.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                        <!--Right Side Fixed-->
                        <div class="form-group">
                            <div class="col-md-3 control-label"></div>
                            <div class="col-md-7">
                                <label>
                                    <input id="track{{t.Number}}RightSideFixed" ng-model="t.RightSideFixed" type="checkbox" ng-true-value="1" ng-false-value="0" />Right Side Fixed
                                </label>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!--On the Fly-->
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <label>
                    <input id="onTheFlyActive" ng-model="fusionPhysicalMachineSettings.OnTheFlyActive" type="checkbox" ng-true-value="1" ng-false-value="0" />On the Fly
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="fusionPhysicalMachineSettingsSaveButton" ng-click="save(fusionPhysicalMachineSettingsForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="fusionPhysicalMachineSettingsCancelButton" ng-click="cancel()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>