﻿<div>
    <div class="modal-header">
        <div class="modal-header-title" translate>
            Machine.DeleteDialog.Label.Header
        </div>
    </div>
    <div class="modal-body">
        {{ 'Machine.DeleteDialog.Message.Body' | translate }}
        <br/>
        {{ 'Common.Message.CantBeUndone' | translate }}
    </div>
    <div class="modal-footer">
        <div style="max-height: 75px; overflow: auto">
            <alert id="deleteMachineAlerts" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        </div>
        <button id="deleteMachineButtonConfirm" ng-click="confirmDelete()" tabindex="50" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="deleteMachineButtonCancel" ng-click="closeWindow()" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>