<span ng-controller="DeleteMachineOpenDialogCtrl" >
    <button id="deleteMachines" ng-disabled="!canDelete()" ng-click="openDialog()" class="btn btn-default" translate>Common.Label.Delete</button>
</span>