<div ng-controller="MachinesCtrl" class="dashboard-content">
    <h4 id="machinesTitleHeader" translate>Machine.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/Machines/machinesList.html"></div>
        </div>
    </div>
</div>