<div>
    <div class="btn-group" dropdown>
        <button type="button" id="newMachineButton" class="btn btn-default" dropdown-toggle>
            <span translate>Common.Label.New</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="^.newFusion" id="machinesNewFusion"><i class="fa fa-dropbox"></i> {{'Machine.Fusion.Label.NameSingular' | translate}}</a></li>
            <li><a ui-sref="^.newEm" id="machinesNewEm"><i class="fa fa-dropbox"></i> {{'Machine.Em.Label.NameSingular' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="^.newZebra" id="machinesNewPrinter"><i class="fa fa-print"></i> {{'Machine.ZebraPrinter.Label.NameSingular' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="^.newBarcodeScanner" id="machinesNewScanner"><i class="fa fa-barcode"></i> {{'Machine.NetworkScanner.Label.NameSingular' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="^.newExternalSystem" id="machinesNewExternalSystem"><i class="fa fa-share-alt"></i> {{'Machine.ExternalSystem.Label.NameSingular' | translate}}</a></li>
        </ul>
    </div>
    <delete-machine-button id="deleteMachineButton"></delete-machine-button>
    <button class="btn btn-default" id="editMachine" ng-disabled="!canEdit()" ng-click="editMachine()" translate>Common.Label.Edit</button>
    <div>
        <alert id="MachinesAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="machinesListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>