﻿<div ng-controller="BrMachineDiscoveryController">
    <div ng-if="!searching">
        <alert id="machinesManagementFusionTopAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div ng-if="searching">
        <div translate>Machine.Discover.Message.Searching</div>
        <progressbar class="progress-striped active" value="progress" type="{{progressType}}" />
    </div>
    <div ng-if="!searching">
        <form name="machineDiscoveryForm" class="form-horizontal" role="form" novalidate>
            <div>
                <button class="btn btn-default" id="newSaveMachineButton" ng-click="saveDiscovery()" translate>Common.Label.Save</button>
                <button class="btn btn-default" id="discoverCancelButton" ng-click="cancelDiscovery()" translate>Common.Label.Cancel</button>
                <button class="btn btn-default" id="discoverBrMachinesButton" ng-disabled="searching" ng-click="discover()" translate>Common.Label.Refresh</button>
            </div>
        </form>
        <div id="discoveredMachinesListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
    </div>
</div>