﻿<div id="sidebar-wrapper">
    <section id="sidebarHeader">
        <div ng-include="'partials/Menus/header.html'"></div>
    </section>
    <div class="sidebar-main">
        <ul class="accordionMenu">
            <li>
                <input id="admin-group1" type="checkbox" />
                <label id="ReportsLink" for="admin-group1">
                    <span translate>Menu.Label.Reports</span>
                    <span class="menu-icon fa fa-line-chart"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="DashboardLink" href="#/Dashboard">
                            <span translate>Menu.Label.Dashboard</span>
                            <span class="menu-icon fa fa-tachometer"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show="IsSearchAvailable">
                <input id="admin-group2" type="checkbox" />
                <label id="SearchLink" for="admin-group2">
                    <span translate>Common.Label.Search</span>
                    <span class="menu-icon fa fa-search"></span>
                </label>
                <ul class="options">
                    <li ng-show="IsOrderConfigured">
                        <a ui-sref="SearchOrders" id="AdminSearchOrdersHyperlink">
                            <span translate>SelectionAlgorithm.Label.Order</span>
                            <span class="menu-icon fa fa-shopping-cart"></span>
                        </a>
                    </li>
                    <li ng-show="IsBoxFirstConfigured">
                        <a ui-sref="SearchBoxFirst" id="AdminSearchBoxFirstHyperlink">
                            <span translate>SelectionAlgorithm.Label.BoxFirst</span>
                            <span class="menu-icon fa fa-sort-numeric-asc"></span>
                        </a>
                    </li>
                    <li ng-show="IsBoxLastConfigured">
                        <a ui-sref="SearchBoxLast" id="AdminSearchBoxLastHyperlink">
                            <span translate>SelectionAlgorithm.Label.BoxLast</span>
                            <span class="menu-icon fa fa-sort-numeric-desc"></span>
                        </a>
                    </li>
                    <li ng-show="IsScanToCreateConfigured">
                        <a ui-sref="SearchScanToCreate" id="AdminSearchScanToCreateHyperlink">
                            <span translate>SelectionAlgorithm.Label.ScanToCreate</span>
                            <span class="menu-icon fa fa-barcode"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <input id="admin-group3" type="checkbox" />
                <label id="ConfigurationLink" for="admin-group3">
                    <span translate>Menu.Label.Configuration</span>
                    <span class="menu-icon fa fa-gears"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="ArticlesNewLink" ui-sref="ArticlesNew.list" ui-sref-opts="{reload: true}">
                            <span translate>Article.Label.NamePlural</span>
                            <span class=" menu-icon fa fa-file"></span>
                        </a>
                    </li>
                    <li>
                        <a id="CartonPropertyGroupsLink" ui-sref="CartonPropertyGroups.list" ui-sref-opts="{reload: true}">
                            <span translate>CartonPropertyGroup.Label.NamePlural</span>
                            <span class="menu-icon fa fa-gear"></span>
                        </a>
                    </li>
                    <li>
                        <a id="ClassificationsLink" ui-sref="Classifications.list" ui-sref-opts="{reload: true}">
                            <span translate>Classification.Label.NamePlural</span>
                            <span class="menu-icon fa fa-tasks"></span>
                        </a>
                    </li>
                    <li>
                        <a id="CorrugatesLink" ui-sref="Corrugates.list" ui-sref-opts="{reload: true}">
                            <span translate>Corrugate.Label.NamePlural</span>
                            <span class="menu-icon fa fa-archive"></span>
                        </a>
                    </li>
                    <li>
                        <a id="MachinesLink" ui-sref="Machines.list" ui-sref-opts="{reload: true}">
                            <span translate>Machine.Label.NamePlural</span>
                            <span class="menu-icon fa fa-plug"></span>
                        </a>
                    </li>
                    <li>
                        <a id="MachineGroupsLink" ui-sref="MachineGroups.list" ui-sref-opts="{reload: true}">
                            <span translate>MachineGroup.Label.NamePlural</span>
                            <span class="menu-icon fa fa-sitemap"></span>
                        </a>
                    </li>
                    <li>
                        <a id="ProductionGroupsLink" ui-sref="ProductionGroups.list" ui-sref-opts="{reload: true}">
                            <span translate>ProductionGroup.Label.NamePlural</span>
                            <span class="menu-icon fa fa-th"></span>
                        </a>
                    </li>
                    <li>
                        <a id="PickZonesLink" ui-sref="PickZones.list" ui-sref-opts="{reload: true}">
                            <span translate>PickZone.Label.NamePlural</span>
                            <span class="menu-icon fa fa-truck"></span>
                        </a>
                    </li>
                    <li>
                        <a id="SettingsLink" ui-sref="Settings">
                            <span translate>Setting.Label.NamePlural</span>
                            <span class="menu-icon fa fa-wrench"></span>
                        </a>
                    </li>
                    <li ng-show="SLDServiceAvaliable">
                        <a id="SldLink" ui-sref="SLD.management">
                            <span translate>SLD.Label.NameSingular</span>
                            <span class="menu-icon fa fa-database"></span>
                        </a>
                    </li>
                    <li>
                        <a id="UsersLink" ui-sref="Users.list" ui-sref-opts="{reload: true}">
                            <span translate>User.Label.NamePlural</span>
                            <span class="menu-icon fa fa-users"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <input id="admin-group4" type="checkbox" />
                <label id="AdAdministratorLink" for="admin-group4">
                    <span translate>Common.Label.Administrator</span>
                    <span class="menu-icon fa fa-key"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="OperatorPanelLink" href="javascript:void(0);" ng-click="toggleOperatorPanel()">
                            <span translate>Menu.Label.OperatorPanel</span>
                            <span class="menu-icon fa fa-headphones"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <section id="sidebarFooter">
        <div ng-include="'partials/Menus/footer.html'"></div>
    </section>
</div>