﻿<div class="sidebar-footer">
    <div class="col-xs-6">
        <div style="cursor: pointer;">
            <a id="aboutLink" style="text-transform: uppercase;" ui-sref="About" translate>
                About.Label.NameSingular
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <a id="supportLink" style="text-transform: uppercase;" ui-sref="Support" translate>
            Support.Label.NameSingular
        </a>
    </div>
</div>