﻿<div id="sidebar-wrapper">
    <section id="sidebarHeader">
        <div ng-include="'partials/Menus/header.html'"></div>
    </section>
    <div class="sidebar-main">
        <ul class="accordionMenu">
            <ul class="options">
                <li>
                    <a href="#/Login" translate>Login.Label.Login<span class="menu-icon fa fa-sign-in"></span></a>
                </li>
            </ul>
        </ul>
    </div>
    <section id="sidebarFooter">
        <div ng-include="'partials/Menus/footer.html'"></div>
    </section>
</div>
