﻿<div id="sidebar-wrapper">
    <section id="sidebarHeader">
        <div ng-include="'partials/Menus/header.html'"></div>
    </section>
    <div class="sidebar-main">
        <ul class="accordionMenu">
            <li>
                <input id="operator-group1" type="checkbox" />
                <label id="OperationsLink" for="operator-group1">
                    <span translate>Menu.Label.Operations</span>
                    <span class="menu-icon fa fa-sliders"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="MachineProductionLink" ui-sref="OperatorConsole.Console">
                            <span translate>MachineProduction.Label.NameSingular</span>
                            <span class="menu-icon fa fa-tachometer"></span>
                        </a>
                    </li>
                    <li>
                        <a id="ChangeMachinesLink" ui-sref="SelectMachineGroup">
                            <span translate>ChangeMachineGroup.Label.NameSingular</span>
                            <span class="menu-icon fa fa-unlink"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <input id="operator-group2" type="checkbox" />
                <label id="Op_ConfigurationLink" for="operator-group2">
                    <span translate>Menu.Label.Configuration</span>
                    <span class="menu-icon fa fa-gears"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="ChangeCorrugatesLink" ui-sref="OperatorConsole.ChangeCorrugates">
                            <span translate>ChangeCorrugate.Label.NameSingular</span>
                            <span class="menu-icon fa fa-archive"></span>
                        </a>
                    </li>
                    <li>
                        <a id="ChangeProductionGroupLink" ui-sref="OperatorConsole.ChangeProductionGroup">
                            <span translate>ChangeProductionGroup.Label.NameSingular</span>
                            <span class="menu-icon fa fa-th"></span>
                        </a>
                    </li>
                    <li>
                        <a id="MachineCommandsLink" ui-sref="OperatorConsole.MachineCommands">
                            <span translate>MachineCommand.Label.NameSingular</span>
                            <span class="menu-icon fa fa-sitemap"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show="IsSearchAvailable" id="OperatorSearchAccordion">
                <input id="operator-group3" type="checkbox" />
                <label id="op_SearchLink" for="operator-group3">
                    <span translate>Common.Label.Search</span>
                    <span class="menu-icon fa fa-search"></span>
                </label>
                <ul class="options">
                    <li ng-show="IsOrderConfigured">
                        <a id="SearchOrdersLink" ui-sref="SearchOrders">
                            <span translate>SelectionAlgorithm.Label.Order</span>
                            <span class="menu-icon fa fa-shopping-cart"></span>
                        </a>
                    </li>
                    <li ng-show="IsBoxFirstConfigured">
                        <a id="SearchBoxFirstLink" ui-sref="SearchBoxFirst">
                            <span translate>SelectionAlgorithm.Label.BoxFirst</span>
                            <span class="menu-icon fa fa-sort-numeric-asc"></span>
                        </a>
                    </li>
                    <li ng-show="IsBoxLastConfigured">
                        <a id="SearchBoxLastLink" ui-sref="SearchBoxLast" id="OperatorBoxLastCreateHyperlink">
                            <span translate>SelectionAlgorithm.Label.BoxLast</span>
                            <span class="menu-icon fa fa-sort-numeric-desc"></span>
                        </a>
                    </li>
                    <li ng-show="IsScanToCreateConfigured">
                        <a id="SearchScanToCreateLink" ui-sref="SearchScanToCreate" id="OperatorScanToCreateHyperlink">
                            <span translate>SelectionAlgorithm.Label.ScanToCreate</span>
                            <span class="menu-icon fa fa-barcode"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <input id="operator-group4" type="checkbox" />
                <label id="CartonCreationLink" for="operator-group4">
                    <span translate>Menu.Label.CartonCreation</span>
                    <span class="menu-icon fa fa-cube"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="CreateFromArticleLink" ui-sref="OperatorConsole.CreateFromArticleNew.list">
                            <span translate>Article.Label.NamePlural</span>
                            <span class=" menu-icon fa fa-file"></span>
                        </a>
                    </li>
                    <li>
                        <a id="CreateCustomJobLink" ui-sref="OperatorConsole.CreateCustomJob">
                            <span translate>CustomJob.Label.NameSingular</span>
                            <span class="menu-icon fa fa-pencil"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show="SLDServiceAvaliable">
                <input id="operator-group6" type="checkbox" />
                <label id="SldMenuLink" for="operator-group6">
                    <span translate>SLD.Label.NameSingular</span>
                    <span class="menu-icon fa fa-database"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="op_SldLink" ui-sref="SLD.list">
                            <span translate>SLD.Label.NameSingular</span>
                            <span class="menu-icon fa fa-database"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show="authorizationService.isAuthorized(userRoles.admin)">
                <input id="operator-group5" type="checkbox" />
                <label id="OpAdministratorLink" for="operator-group5">
                    <span translate>Common.Label.Administrator</span>
                    <span class="menu-icon fa fa-key"></span>
                </label>
                <ul class="options">
                    <li>
                        <a id="AdministratorPanelLink" href="javascript:void(0);" ng-click="toggleOperatorPanel()">
                            <span translate>Menu.Label.AdministratorPanel</span>
                            <span class="menu-icon fa fa-briefcase"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <section id="sidebarFooter">
        <div ng-include="'partials/Menus/footer.html'"></div>
    </section>
</div>