﻿<div id="expandCollapseNotifications" class="notifier" ng-controller="NotifierCtrl" dropdown>
    <a href="#" dropdown-toggle>
        <i class="fa fa-bell-o"></i>
        <span id="notificationCountBubble" class="badge" ng-class="{
              'badge-success': notifications.length == 0,
              'badge-info': notifications.length > 0 && !notificationsContainWarnings && !notificationsContainErrors,
              'badge-warning': notificationsContainWarnings,
              'badge-error': notificationsContainErrors }">{{notifications.length}}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dialog" ng-hide="notifications.length == 0">
        <li id="listOfNotifications" class="notification-container">
            <!--The notification container is for scrolling-->
            <div class="notification" ng-click="dismiss(notification, $event)" ng-repeat="notification in notifications">
                <div>
                    <div class="icon badge-{{notification.Severity.toLowerCase()}}">
                        <span class="message-count">{{notification.MessageCount}}</span>
                        <i class="fa" ng-class="{
                            'fa-sitemap': notification.NotificationType.toLowerCase() == 'mg',
                            'fa-th': notification.NotificationType.toLowerCase() == 'pg',
                            'fa-cogs': notification.NotificationType.toLowerCase() == 'system' }">
                        </i>
                    </div>
                </div>
                <div>
                    <span id="notificationMessage" style="overflow-wrap: break-word;">
                        {{notification.Message | translate | format:notification.AdditionalInfo[0] : notification.AdditionalInfo[1]}}
                    </span>
                    <br />
                    <span id="notificationTimeStamp" class="date">{{notification.CreatedDate | date:'medium'}}</span>
                </div>
                <div></div>
            </div>
        </li>
        <li class="divider"></li>
        <li id="dismissAllButton" class="notification-footer" ng-click="dismissAll()">
            {{'Notification.Label.DismissAll' | translate}}
        </li>
    </ul>
    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dialog" ng-show="notifications.length == 0">
        <li class="notification-empty">
            <span>{{'Notification.Message.Empty' | translate}}</span>
        </li>
    </ul>
</div>