﻿<form name="articleImportSettingsForm" class="form-horizontal" role="form">
    <div class="form-group" style="margin-top: 10px" show-errors='{showSuccess: true}'>
        <label for="defaultArticleImportDelimiterInput" class="col-md-3 control-label" translate>Setting.Label.Common.DefaultDelimiter</label>
        <div class="col-md-7">
            <input id="defaultArticleImportDelimiterInput" class="form-control" name="defaultArticleImportDelimiterInput" ng-model="configurationOptions.ArticleImportFileDelimeter" placeholder="{{'Common.Label.Delimiter' | translate}}" required ng-pattern="notEmptyPattern" />
            <p class="help-block" ng-if="articleImportSettingsForm.DefaultDelimiterInput.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label for="defaultArticleImportCommentPrefixInput" class="col-md-3 control-label" translate>Setting.Label.Common.DefaultCommentIndicator</label>
        <div class="col-md-7">
            <input id="defaultArticleImportCommentPrefixInput" class="form-control" name="defaultArticleImportCommentPrefixInput" ng-model="configurationOptions.ArticleImportFileCommentPrefix" placeholder="{{'Common.Label.CommentIndicator' | translate}}" required ng-pattern="notEmptyPattern" />
            <p class="help-block" ng-if="articleImportSettingsForm.DefaultCommentPrefixInput.$invalid" translate>Common.Validation.Required</p>
        </div>
    </div>
</form>