﻿<div ng-controller="articleNewCtrl" class="dashboard-content">
    <h4 translate>Article.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/Articles/articlesList.html"></div>
        </div>
    </div>
</div>