﻿<div class="btn-group btn-block">
    <label class="btn btn-success col-md-6"
           ng-class="{'ui-grid-icon-ok': row.entity.ImportAction == 'ArticleActionImport', 'ui-grid-icon-cancel': row.entity.ImportAction != 'ArticleActionImport', 'btn':true, 'btn-default': true}"
           ng-if="grid.appScope.importActionCanImport(row.entity)"
           ng-model="row.entity.ImportAction" btn-radio="'ArticleActionImport'" radio>
        <span translate>Common.Label.Import</span>
    </label>
    <label class="btn btn-success col-md-6"
           ng-class="{'ui-grid-icon-ok': row.entity.ImportAction == 'ArticleActionUpdate', 'ui-grid-icon-cancel': row.entity.ImportAction != 'ArticleActionUpdate', 'btn':true, 'btn-default': true}"
           ng-if="grid.appScope.importActionCanUpdate(row.entity)"
           ng-model="row.entity.ImportAction" btn-radio="'ArticleActionUpdate'" radio>
        <span translate>Common.Label.Update</span>
    </label>
    <label class="btn btn-warning col-md-6"
           ng-class="{'ui-grid-icon-ok': row.entity.ImportAction == 'ArticleActionIgnore', 'ui-grid-icon-cancel': row.entity.ImportAction != 'ArticleActionIgnore', 'btn':true, 'btn-default': true}"
           ng-model="row.entity.ImportAction" btn-radio="'ArticleActionIgnore'" radio>
        <span translate>Common.Label.Ignore</span>
    </label>
</div>