﻿<div>
    <button class="btn btn-default" id="newArticle" ng-click="newKit()" translate>Common.Label.New</button>
    <button class="btn btn-default" id="deleteArticles" ng-disabled="!canDelete(articlesGridApi)" ng-click="openDeleteDialog()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editArticle" ng-disabled="!canEdit(articlesGridApi)" ng-click="editArticle()" translate>Common.Label.Edit</button>
    <button class="btn btn-default" id="copyArticle" ng-disabled="!canEdit(articlesGridApi)" ng-click="copyArticle()" translate>Common.Label.Copy</button>
    <button class="btn btn-default" id="produceArticle" ng-disabled="!canDelete(articlesGridApi)" ng-click="produceArticles()" translate>Common.Label.Produce</button>
    <a ui-sref="ArticlesNew.import">
        <button class="btn btn-default" id="importArticles" translate>Common.Label.Import</button>
    </a>
    <button class="btn btn-default" id="exportArticles" ng-disabled="!canExportArticles(articlesGridApi)" ng-click="exportArticles()">{{ exportAllText }}</button>
    <div>
        <alert id="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="articlesList" ui-grid="articlesGridOptions" ui-grid-cellnav ui-grid-expandable ui-grid-resize-columns ui-grid-selection ui-grid-core class="table-margin-top ui-grid-hide-expand-all"></div>
</div>