﻿<div>
    <div>
        <alert id="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="editForm" id="editForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class=" form-group" show-errors="{showSuccess: true}">
            <label id="aliasLbl" for="alias" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="alias" class="form-control" name="Alias" ng-model="selectedCarton.alias" size="29" focus-element required />
                <p id="aliasValidation" class="help-block" ng-if="editForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label id="descriptionLbl" for="description" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="description" class="form-control" ng-model="selectedCarton.description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label id="quantityLbl" for="quantity" class="col-md-3 control-label" translate>Common.Label.Quantity</label>
            <div class="col-md-7">
                <numeric-up-down id="quantity" ng-model="selectedCarton.quantity" default-value="1" min-value="1" max-value="9999" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" show-errors="{showSuccess: true}">
            <label id="designLbl" for="design" class="col-md-3 control-label" translate>Common.Label.Design</label>
            <div class="col-md-7">
                <select id="design" class="form-control" name="Design" ng-change="cartonDesignChange()" ng-model="selectedCarton.design" ng-options="d.Id as d.Name for d in packagingDesigns" required>
                    <option value="" translate>Common.Label.SelectOne</option>
                </select>
                <p id="designValidation" class="help-block" ng-if="editForm.Design.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label id="variablesLbl" class="col-md-3 control-label" translate>Common.Label.Variables</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label id="lengthLbl" for="Length" class="col-md-3 control-label" translate>Common.Label.Length</label>
                        <div class="col-md-7">
                            <input id="Length" class="form-control" name="Length" ng-model="selectedCarton.length" min="0" type="number" required />
                            <p id="lengthValidation" class="help-block" ng-if="editForm.Length.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label id="widthLbl" for="Width" class="col-md-3 control-label" translate>Common.Label.Width</label>
                        <div class="col-md-7">
                            <input id="Width" class="form-control" name="Width" ng-model="selectedCarton.width" min="0" type="number" required />
                            <p id="widthValidation" class="help-block" ng-if="editForm.Width.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label id="heightLbl" for="Height" class="col-md-3 control-label" translate>Common.Label.Height</label>
                        <div class="col-md-7">
                            <input id="Height" class="form-control" name="Height" ng-model="selectedCarton.height" min="0" type="number" required />
                            <p id="heightValidation" class="help-block" ng-if="editForm.Height.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="x in selectedCarton.xValues">
                        <label id="{{x.Alias}}Lbl" for="Parameter{{x.Alias}}" class="col-md-3 control-label">{{x.Alias}}</label>
                        <div class="col-md-7">
                            <input id="Parameter{{x.Alias}}" class="form-control" name="Parameter{{x.Alias}}" ng-model="x.Value" min="0" type="number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label id="restrictionsLbl" class="col-md-3 control-label" translate>Common.Label.Restrictions</label>
            <div class="col-md-7">
                <div class="well well-sm" id="restrictionsContainer">
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label id="corrugateQualityLbl" for="corrugateQuality" class="col-md-3 control-label" translate>Corrugate.Label.Quality</label>
                        <div class="col-md-7">
                            <input id="CorrugateQuality" class="form-control" name="CorrugateQuality" ng-model="selectedCarton.corrugateQuality" min="1" type="number" required />
                            <p id="corrugateQualityRequired" class="help-block" ng-if="editForm.CorrugateQuality.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="corrugateWidthLbl" for="corrugateWidth" class="col-md-3 control-label" translate>Corrugate.Label.Width</label>
                        <div class="col-md-7">
                            <input id="CorrugateWidth" class="form-control" name="CorrugateWidth" ng-model="selectedCarton.corrugateWidth" min="0" type="number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="corrugateThicknessLbl" for="corrugateThickness" class="col-md-3 control-label" translate>Corrugate.Label.Thickness</label>
                        <div class="col-md-7">
                            <input id="CorrugateThickness" class="form-control" name="CorrugateThickness" ng-model="selectedCarton.corrugateThickness" min="0" step="0.1" type="number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="rotationLbl" for="rotation" class="col-md-3 control-label" translate>Rotation.Label.NameSingular</label>
                        <div class="col-md-4">
                            <select id="rotation" class="form-control" name="Rotation" ng-model="selectedCarton.rotation">
                                <option value="" translate>Rotation.Label.Optimal</option>
                                <option value="Degree0" ng-if="selectedCarton.allowedRotations.Degree0.Allowed == 1" translate>Rotation.Label.Degree0</option>
                                <option value="Degree90" ng-if="selectedCarton.allowedRotations.Degree90.Allowed == 1" translate>Rotation.Label.Degree90</option>
                                <option value="Degree180" ng-if="selectedCarton.allowedRotations.Degree180.Allowed == 1" translate>Rotation.Label.Degree180</option>
                                <option value="Degree270" ng-if="selectedCarton.allowedRotations.Degree270.Allowed == 1" translate>Rotation.Label.Degree270</option>
                                <option value="Degree0Flip" ng-if="selectedCarton.allowedRotations.Degree0Flip.Allowed == 1" translate>Rotation.Label.Degree0Flip</option>
                                <option value="Degree90Flip" ng-if="selectedCarton.allowedRotations.Degree90Flip.Allowed == 1" translate>Rotation.Label.Degree90Flip</option>
                                <option value="Degree180Flip" ng-if="selectedCarton.allowedRotations.Degree180Flip.Allowed == 1" translate>Rotation.Label.Degree180Flip</option>
                                <option value="Degree270Flip" ng-if="selectedCarton.allowedRotations.Degree270Flip.Allowed == 1" translate>Rotation.Label.Degree270Flip</option>
                            </select>
                            <p id="rotationValidation" class="help-block" ng-if="editForm.rotation.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7" id="previewAndToggleContainer">
                <div collapse="!showDesignPreviewContainer">
                    <div id="previewContainer" ng-show="showDesignPreview"></div>
                </div>
                <a id="toggleDesignPreviewContainer" ng-click="toggleDesignPreviewContainer()">{{labelPackageDesignPreview}}</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="cartonSaveButton" ng-click="saveCarton(editForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="cartonCancelButton" ng-click="cancelCarton()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>