﻿<div>
    <div>
        <alert id="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="editForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="kitAliasLbl" for="alias" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="kitAlias" ng-disabled="selectedKit.id !== null" class="form-control" name="Alias" ng-model="selectedKit.alias" size="29" focus-element required />
                <p id="kitAliasValidation" class="help-block" ng-if="editForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label id="kitDescriptionLbl" for="description" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="kitDescription" class="form-control" ng-model="selectedKit.description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Items</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div id="articlesList" ui-grid="kitGridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
                    <br />
                    <div class="btn-group" dropdown>
                        <button type="button" id="newArticleDropDown" class="btn btn-default" dropdown-toggle>
                            <span translate>Common.Label.New</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a id="newCarton" ng-click="newCarton()"><i class="fa fa-dropbox"></i><span translate>Article.CartonProducible.Label.NameSingular</span></a>
                            </li>
                            <li>
                                <a id="newLabel" ng-click="newLabel()"><i class="fa fa-dropbox"></i><span translate>Article.LabelProducible.Label.NameSingular</span></a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-default" id="deleteArticles" ng-disabled="!canDelete(kitItemsGridApi)" ng-click="deleteKitItems()" translate>Common.Label.Delete</button>
                    <button class="btn btn-default" id="editArticle" ng-disabled="!canEdit(kitItemsGridApi)" ng-click="editKitItem()" translate>Common.Label.Edit</button>
                    <button class="btn btn-default" id="moveUp" ng-disabled="!canMove(kitItemsGridApi, true)" ng-click="moveKitItem(true)">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-default" id="moveDown" ng-disabled="!canMove(kitItemsGridApi, false)" ng-click="moveKitItem(false)">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="kitSaveButton" ng-click="saveKit(editForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="kitCancelButton" ng-click="cancelKit()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>