﻿<div>
    <div>
        <alert id="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="editForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="labelAliasLbl" for="alias" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="labelAlias" class="form-control" name="Alias" ng-change="labelAliasChange()" ng-model="selectedLabel.alias" size="29" focus-element required />
                <p id="labelAliasValidation" class="help-block" ng-if="editForm.Alias.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label id="labelDescriptionLbl" for="description" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="labelDescription" class="form-control" ng-model="selectedLabel.description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label id="labelQuantityLbl" for="quantity" class="col-md-3 control-label" translate>Common.Label.Quantity</label>
            <div class="col-md-7">
                <numeric-up-down id="labelQuantity" ng-model="selectedLabel.quantity" default-value="1" min-value="1" max-value="9999" horizontal="true"></numeric-up-down>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="labelTemplateLbl" for="template" class="col-md-3 control-label" translate>Common.Label.Template</label>
            <div class="col-md-7">
                <select id="labelTemplate" class="form-control" name="Template" ng-change="labelTemplateChange()" ng-model="selectedLabel.template" ng-options="t.Name as t.Name for t in templates" required>
                    <option value="" translate>Common.Label.SelectOne</option>
                </select>
                <p id="lableTemplateValidation" class="help-block" ng-if="editForm.Template.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group">
            <label id="labelVariablesLbl" class="col-md-3 control-label" translate>Common.Label.Variables</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div class="form-group" ng-repeat="variable in selectedLabel.templateVariables">
                        <label for="variable{{$index}}" class="col-md-3 control-label" ng-bind="'Article.LabelProducible.Label.Template.' + variable.Key | translate"></label>
                        <div class="col-md-7">
                            <label class="control-label" ng-if="variable.Key == 'CustomerUniqueId'">{{$parent.selectedLabel.alias}}</label>
                            <input id="variable{{$index}}" class="form-control" name="variable{{$index}}" ng-if="variable.Key != 'CustomerUniqueId'" ng-model="variable.Value" size="29" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="labelSaveButton" ng-click="saveLabel(editForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="labelCancelButton" ng-click="cancelLabel()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>