﻿<div class="dashboard-content">
    <machine-service-machine-state-manager></machine-service-machine-state-manager>
    <div ng-show="machine.MachineStatus == 'MachineService'">
        <div class="row col-md-10 well divMachineServiceEntity">
            <h4 translate>MachineService.Label.LongHeads</h4>
            <div ng-repeat="longhead in machine.LongHeads" class="btn-group-vertical divMachineServiceEntity">
                <h5><span translate>Common.Label.Number</span> {{longhead.Number}}</h5>
                <div>
                    <h6 translate>MachineService.Label.Latch</h6>
                    <bs-switch id="LongHead{{longhead.Number}}Latch"
                               ng-model="longhead.Latcher"
                               type="checkbox"
                               switch-active="{{awaitingUpdate == false}}"
                               switch-off-text="{{'MachineService.Label.Off' | translate}}"
                               switch-on-text="{{'MachineService.Label.On' | translate}}"
                               switch-size="large"
                               ng-change="publishCommand('LongHead', 'Latch', {{longhead.Number}}, longhead.Latcher == true ? 'Activate' : 'Deactivate')" />
                </div>
                <div>
                    <h6 translate>MachineService.Label.ToolState</h6>
                    <div class="btn-group-vertical" style="width:100%">
                        <label class="btn btn-default buttonMachineServiceToolButton" ng-disabled="awaitingUpdate == true" ng-model="longhead.ToolState" btn-radio="2" ng-change="publishCommand('LongHead', 'Tool', {{longhead.Number}}, 'Cut')" radio translate>MachineService.Label.Cut</label>
                        <label class="btn btn-default buttonMachineServiceToolButton" ng-disabled="awaitingUpdate == true" ng-model="longhead.ToolState" btn-radio="1" ng-change="publishCommand('LongHead', 'Tool', {{longhead.Number}}, 'Crease')" radio translate>MachineService.Label.Crease</label>
                        <label class="btn btn-default buttonMachineServiceToolButton" ng-disabled="awaitingUpdate == true" ng-model="longhead.ToolState" btn-radio="0" ng-change="publishCommand('LongHead', 'Tool', {{longhead.Number}}, 'Raise')" radio translate>MachineService.Label.Raise</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-10 well btn-group-vertical divMachineServiceEntity">
            <h4 translate>MachineService.Label.CrossHead</h4>
            <div class="btn-group-vertical divMachineServiceEntity">
                <div>
                    <h6 translate>MachineService.Label.Latch</h6>
                    <bs-switch id="CrossHeadLatch"
                               ng-model="machine.CrossHead.Latcher"
                               type="checkbox"
                               switch-active="{{awaitingUpdate == false}}"
                               switch-off-text="{{'MachineService.Label.Off' | translate}}"
                               switch-on-text="{{'MachineService.Label.On' | translate}}"
                               switch-size="large"
                               ng-change="publishCommand('CrossHead', 'Latch', -1, machine.CrossHead.Latcher == true ? 'Activate' : 'Deactivate')" />
                </div>
                <div>
                    <h6 translate>MachineService.Label.ToolState</h6>
                    <div class="btn-group-vertical" style="width:100%">
                        <label class="btn btn-default buttonMachineServiceToolButton" ng-disabled="awaitingUpdate == true" ng-model="machine.CrossHead.ToolState" btn-radio="2" ng-change="publishCommand('CrossHead', 'Tool', -1, 'Cut')" radio translate>MachineService.Label.Cut</label>
                        <label class="btn btn-default buttonMachineServiceToolButton" ng-disabled="awaitingUpdate == true" ng-model="machine.CrossHead.ToolState" btn-radio="1" ng-change="publishCommand('CrossHead', 'Tool', -1, 'Crease')" radio translate>MachineService.Label.Crease</label>
                        <label class="btn btn-default buttonMachineServiceToolButton" ng-disabled="awaitingUpdate == true" ng-model="machine.CrossHead.ToolState" btn-radio="0" ng-change="publishCommand('CrossHead', 'Tool', -1, 'Raise')" radio translate>MachineService.Label.Raise</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-10 well divMachineServiceEntity">
            <h4 translate>Machine.Label.Tracks</h4>
            <div ng-repeat="track in machine.Tracks" class="btn-group-vertical divMachineServiceEntity">
                <h5><span translate>Common.Label.Number</span> {{track.Number}}</h5>
                <div>
                    <h6 translate>MachineService.Label.Break</h6>
                    <bs-switch id="Track{{track.Number}}Break"
                               ng-model="track.Break"
                               type="checkbox"
                               switch-active="{{awaitingUpdate == false}}"
                               switch-off-text="{{'MachineService.Label.Off' | translate}}"
                               switch-on-text="{{'MachineService.Label.On' | translate}}"
                               switch-size="large"
                               ng-change="publishCommand('Track', 'Break', {{track.Number}}, track.Break == true ? 'Activate' : 'Deactivate')" />
                </div>
                <div>
                    <h6 translate>MachineService.Label.PressureRoller</h6>
                    <bs-switch id="Track{{track.Number}}PressureRoller"
                               ng-model="track.PressureRoller"
                               type="checkbox"
                               switch-active="{{awaitingUpdate == false}}"
                               switch-off-text="{{'MachineService.Label.Off' | translate}}"
                               switch-on-text="{{'MachineService.Label.On' | translate}}"
                               switch-size="large"
                               ng-change="publishCommand('Track', 'PressureRoller', {{track.Number}}, track.PressureRoller == true ? 'Activate' : 'Deactivate')" />
                </div>
            </div>
        </div>
    </div>
</div>