﻿<div class="dashboard-content">
    <machine-service-machine-state-manager></machine-service-machine-state-manager>
    <div ng-show="machine.MachineStatus == 'MachineService' || machine.MachineStatus == 'MachineCalibrating'">
        <div class="row col-md-10 well divMachineServiceEntity">
            <h4 translate>MachineService.Label.Calibration</h4>
            <div>
                <button class="btn btn-default buttonMachineService" ng-click="publishCommand('Calibration', 'NotApplicable', -1, 'Activate')"
                        ng-disabled="machine.MachineStatus == 'MachineCalibrating' || awaitingUpdate || machine.Errors.length > 0" ng-hide="machine.Latcher" translate>
                    MachineService.Label.Calibrate
                </button>
                <br/>
                <span ng-show="machine.Latcher" translate>MachineService.Message.CalibrationNotAvailable</span>
            </div>
        </div>
        <div class="row col-md-10 well divMachineServiceEntity">
            <h4 translate>MachineService.Label.CrossHead</h4>
            <div>
                <h6 translate>MachineService.Label.Latch</h6>
                <bs-switch id="FusionCrossHeadLatch"
                           ng-model="machine.Latcher"
                           switch-active="{{machine.MachineStatus != 'MachineCalibrating' && !awaitingUpdate}}"
                           type="checkbox"
                           switch-off-text="{{'MachineService.Label.Off' | translate}}"
                           switch-on-text="{{'MachineService.Label.On' | translate}}"
                           switch-size="large"
                           ng-change="publishCommand('CrossHead', 'Latch', -1, machine.Latcher == true ? 'Activate' : 'Deactivate')" />
            </div>
            <div>
                <h6 translate>MachineService.Label.Tool</h6>
                <bs-switch id="FusionCrossHeadTool"
                           ng-model="machine.Knife"
                           switch-active="{{machine.MachineStatus != 'MachineCalibrating' && !awaitingUpdate}}"
                           type="checkbox"
                           switch-off-text="{{'MachineService.Label.Off' | translate}}"
                           switch-on-text="{{'MachineService.Label.On' | translate}}"
                           switch-size="large"
                           ng-change="publishCommand('CrossHead', 'Tool', -1, machine.Knife == true ? 'Activate' : 'Deactivate')" />
            </div>
        </div>
        <div class="row col-md-10 well divMachineServiceEntity">
            <h4 translate>Machine.Label.Tracks</h4>
            <div>
                <h6>{{'Machine.Label.Track' | translate}} 1 {{'MachineService.Label.PressureRoller' | translate}}</h6>
                <bs-switch id="FusionLeftPressureRoller"
                           ng-model="machine.Track1PressureRoller"
                           switch-active="{{machine.MachineStatus != 'MachineCalibrating' && !awaitingUpdate}}"
                           type="checkbox"
                           switch-off-text="{{'MachineService.Label.Off' | translate}}"
                           switch-on-text="{{'MachineService.Label.On' | translate}}"
                           switch-size="large"
                           ng-change="publishCommand('Track', 'PressureRoller', 1, machine.Track1PressureRoller == true ? 'Activate' : 'Deactivate')" />
            </div>
            <div>
                <h6>{{'Machine.Label.Track' | translate}} 2 {{'MachineService.Label.PressureRoller' | translate}}</h6>
                <bs-switch id="FusionRightPressureRoller"
                           ng-model="machine.Track2PressureRoller"
                           switch-active="{{machine.MachineStatus != 'MachineCalibrating' && !awaitingUpdate}}"
                           type="checkbox"
                           switch-off-text="{{'MachineService.Label.Off' | translate}}"
                           switch-on-text="{{'MachineService.Label.On' | translate}}"
                           switch-size="large"
                           ng-change="publishCommand('Track', 'PressureRoller', 2, machine.Track2PressureRoller == true ? 'Activate' : 'Deactivate')" />
            </div>
            <div>
                <h6 translate>MachineService.Label.FeedRoller</h6>
                <bs-switch id="FusionFeedRoller"
                           ng-model="machine.RollerLowered  "
                           switch-active="{{machine.MachineStatus != 'MachineCalibrating' && !awaitingUpdate}}"
                           type="checkbox"
                           switch-off-text="{{'MachineService.Label.Lower' | translate}}"
                           switch-on-text="{{'MachineService.Label.Raise' | translate}}"
                           switch-size="large"
                           ng-change="publishCommand('Track', 'Feed', -1, machine.RollerLowered == true ? 'Backwards' : 'Forward')" />
            </div>
        </div>
    </div>
</div>