﻿<div class="dashboard-content">
    <h4 translate>MachineService.Label.Header</h4>
    <br />
    <div>
        <alert id="MachinesAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="divMachineSelectionList">
        <span ng-repeat='x in machines| orderBy:Alias:false'>
            <button id="machine{{x.Id}}Button"
                    class="btn machineSelection"
                    ng-click="openServiceConsole(x)"
                    ng-disabled="(x.Data.CurrentStatus != 'MachinePaused' &&
                                  x.Data.CurrentStatus != 'MachineService' &&
                                  x.Data.CurrentStatus != 'MachineOnline' &&
                                  x.Data.CurrentStatus != 'MachineCalibrating' &&
                                  x.Data.CurrentStatus != 'MachineEmergencyStop' &&
                                  x.Data.CurrentStatus != 'MachineError')"
                    title="{{x.Alias}}"
                    ng-class="{
                    'btn-danger' : (x.Data.CurrentStatus == 'MachineOffline'),
                    'btn-danger' : (x.Data.CurrentStatus == 'MachineError'),
                    'btn-danger' : (x.Data.CurrentStatus == 'MachineEmergencyStop'),
                    'btn-info' : (x.Data.CurrentStatus == 'MachineInitializing'),
                    'btn-default' : (x.Data.CurrentStatus == 'MachineOnline'),
                    'btn-default' : (x.Data.CurrentStatus == 'MachinePaused'),
                    'btn-success' : (x.Data.CurrentStatus == 'MachineService')}">
                <h2>
                    <i class="fa"></i>
                    {{x.Alias}}
                    <br />
                    <small>{{'MachineStatus.Label.' + x.Data.CurrentStatus | translate}}</small>
                </h2>
            </button>
        </span>
    </div>
</div>