﻿<div>
    <h4>{{'Machine.Label.NameSingular' | translate}}: {{machine.Alias}} - {{'Common.Label.Status' | translate}}: {{'MachineStatus.Label.' + machine.MachineStatus | translate}}</h4>
    <div class="btn-group">
        <button class="btn btn-default buttonMachineServicePause" id="machineServicePause" ng-click="publishCommand('Pause', 'NotApplicable', -1, 'Activate')" ng-disabled="machine.MachineStatus != 'MachineOnline'">
            &nbsp;<i class="fa fa-pause"></i>&nbsp;
        </button>
        <button class="btn btn-default buttonMachineService" id="enableMachineServiceMode" ng-click="publishCommand('ServiceMode', 'NotApplicable', -1, 'Activate')" ng-disabled="machine.MachineStatus != 'MachinePaused' && machine.MachineStatus != 'MachineError' && machine.MachineStatus != 'MachineEmergencyStop'" translate>MachineService.Label.EnableServiceMode</button>

        <button class="btn btn-default buttonMachineService" id="disableMachineServiceMode" ng-click="publishCommand('ServiceMode', 'NotApplicable', -1, 'Deactivate')" ng-disabled="machine.MachineStatus != 'MachineService'" translate>MachineService.Label.DisableServiceMode</button>
    </div>
    <div class="btn btn-default">
        <a ng-href="http://{{machine.IpOrDnsName}}{{machine.Port && machine.Port != 80 ? ':' + machine.Port : ''}}/sdm" target="_blank" translate>MachineService.Label.SDMPLCPage</a>
    </div>
    <div style="height:60px">
        <alert class="row col-md-10" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
</div>