﻿html {
    overflow-y: auto;
}

.online-indicator {
    height: 30px;
    border-radius: 22px;
    padding: 4px 6px;
}

.online-indicator a {
    color: #fff !important;
    text-decoration: none;
}

.online-indicator-container {
    font-size: small;
    max-height: 470px;			/* At least 10 items of 2 lines are visible */
    overflow-y: auto; 
    overflow-x: hidden;
}

.online-indicator-item {
    border-bottom: 1px solid #eee;
    padding: 5px 0 5px 0;
    width: 240px;
}

.online-indicator-item:last-child {
    border-bottom: 0;
}

.online-indicator-item > div:nth-child(1) {
    float: left;
    padding: 2px 8px 2px;
}

.online-indicator-item > div:nth-child(1) .icon {
    color: #fff;
    width: 32px;
    border-radius: 5px;
    padding: 5px 6px 5px 6px;
}

.online-indicator-item > div:nth-child(2) {
    float: left;
}

.online-indicator-item > div:nth-child(2) .small-text {
    font-size: smaller;
}

.online-indicator-item > div:nth-child(3) {
    clear: both;
}

.online-indicator-off {
    background-color: #c9302c;
}

.online-indicator-on {
    background-color: #5cb85c;
}

.online-indicator-pause {
    background-color: #ec971f;
}

.notifier {
    height: 30px;
    width: 30px;
    background-color: #eeeeee;
    border-radius: 22px;
    padding: 4px 6px;
}

.notifier .badge {
    position: absolute;
    top: -8px;
    right: -15px;
}

.notifier .dropdown-menu {
    margin-top: 5px;			/* for adjusting the distance of the menu options */
}

.notifier .notification-container {
    font-size: small;
    max-height: 470px;			/* At least 10 notifications of 2 lines are visible */ 
    overflow-y: auto; 
    overflow-x: hidden;
}

.notifier .notification-container .notification {
    width: 392px;
    border-bottom: 1px solid #eee;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.notifier .notification-container .notification:last-child {
    border-bottom: 0;
}

.notifier .notification-container .notification > div:nth-child(1) {
    /* Type/Severity */
    float: left;
    padding: 2px 8px 2px;
}

.notifier .notification-container .notification > div:nth-child(1) .icon {
    height: 45px;
    width: 32px;
    border-radius: 5px;
    padding: 2px 6px 5px 6px;
}

.notifier .notification-container .notification > div:nth-child(1) .icon .message-count {
    font-size: 10px; 
    position: relative; 
    right: -12px; 
    top: -1px;
}

.notifier .notification-container .notification > div:nth-child(2) {
    /* Details */
    float: left;
    width: 320px;
}

.notifier .notification-container .notification > div:nth-child(2) .date {
    font-size: smaller;
}

.notifier .notification-container .notification > div:nth-child(3) {
    clear: both;
}

.notifier .notification-empty {
    font-size: small;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

.notifier .notification-footer {
    cursor: pointer;
    text-align: center;
}

.row.header .item.notifier {
    margin-top: 10px;
}

.badge-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.badge-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.badge-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.badge-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.badge-error {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}