﻿<div id="openOrdersWidget" ng-controller="OrdersListCtrl">
    <div>
        <div class="row">
            <div class="col-md-4">
                <input id="orderFilter" class="orderFilter form-control" type="text" placeholder="{{'Common.Label.Filter' | translate}}" ng-model="orderFilter.OrderId" />
            </div>
            <div class="col-md-4">
                <div style="margin-right: 25px;margin-top: 13px;" ng-show="totalOrderCount > 20">
                    <strong>
                        {{'Common.Message.ShowingNumberOfTotal' | translate:{ number: 20, total: totalOrderCount } }}
                    </strong>
                </div>
            </div>
            <div class="col-md-4">
                <button id="removeOrders" ng-click="removeSelectedOrders()" ng-disabled="!orderIsSelected" class="btn btn-default pull-right" translate>Common.Label.Cancel</button>
                <button id="moveOrdersToNext" ng-click="moveSelectedToNext()" ng-disabled="!orderIsSelected" class="btn btn-default pull-right" style="margin-right: 5px;" translate>MachineProduction.Order.Label.CreateNext</button>
            </div>
        </div>
    </div>
    <div id="ordersListDiv" class="ordersList">
        <span ng-repeat="(Priority, order) in orders | filter:orderFilter | orderObjectBy:'Priority'">
            <div id="orderItem{{order.OrderId}}Div" class="orderRowContainer">
                <input id="cb{{order.OrderId}}" class="orderRowCheckbox" type="checkbox" ng-click="selectOrder(order)" ng-checked="order.selected" />
                <order class="orderRowContent orderWidget disableSelect"
                       ng-dblclick="selectOrder(order)"
                       ng-class="{'orderSelected': order.selected, 'orderGrayBackground': !order.selected, 'orderScrollbarMissing': orders.length <= 6, 'orderScrollbarShowing': orders.length > 6}"></order>
            </div>
        </span>
        <p ng-show="(orders | filter:orderFilter).length == 0" translate>MachineProduction.Order.Message.NoResults</p>
    </div>
</div>