﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            Distribute Request for Order: {{order.OrderId}}
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <span style="text-align: center; font-size: larger; font-weight: bolder; margin-right: 5px">Order '{{order.OrderId}}' is currently in progress. Changing the distribution status will cause all machines working on the order to pause.</span>

    </div>
    <div class="modal-footer">
        <button id="btnContinueDistributeRequest" ng-click ="distribute()" tabindex="10" class="btn btn-default">Continue</button>
        <button id="btnCloseDistributeRequest" ng-click="closeDistributeDialogWindow()" tabindex="20" class="btn btn-default">Close</button>
    </div>
</div>
