﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            Order Error Information
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <div style="font-size: larger; font-weight: bolder; margin-left: 25%;">
            {{ order.ErrorInformation }}
            <br />
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button ng-click="closeWindow()" tabindex="20" class="btn btn-default">Close</button>
    </div>
</div>
