﻿<div>
    <div class="modal-header">
        <div class="modal-header-title" translate>
            MachineProduction.Order.CorrugateInformationDialog.Label.Header
        </div>
        <div class="modal-header-content"></div>
    </div>
    <div class="modal-body">
        <div style="font-weight: bolder; margin-left: 10%;" ng-repeat="carton in cartonsInOrder">
            <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.CorrugateRequired' | translate}}:</span>
            <span style="float: right; width: 166px;" >{{'MachineProduction.Order.CorrugateInformationDialog.Label.NoneAvailable' | translate}}</span>
                <br />
                <br />
                <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.CartonDetails' | translate}}:</span>
                <dl class="dl-horizontal">
                    <dt>
                        <span>{{'Common.Label.CustomerId' | translate}}:</span>
                    </dt>
                    <dd>{{carton.CustomerUniqueId}}</dd>
                    <dt>
                        <span>{{'Common.Label.Length' | translate}}:</span>
                    </dt>
                    <dd>{{carton.Length}}</dd>
                    <dt>
                        <span>{{'Common.Label.Width' | translate}}:</span>
                    </dt>
                    <dd>{{carton.Width}}</dd>
                    <dt>
                        <span>{{'Common.Label.Height' | translate}}:</span>
                    </dt>
                    <dd>{{carton.Height}}</dd>
                    <dt ng-repeat-start="(key, value) in carton.XValues">
                        <span>{{key}}:</span>
                    </dt>
                    <dd ng-repeat-end>{{value}}</dd>
                    <dt>
                        <span>{{'Common.Label.DesignId' | translate}}:</span>
                    </dt>
                    <dd>{{carton.DesignId}}</dd>
                    <dt>
                        <span>{{'Corrugate.Label.Quality' | translate}}:</span>
                    </dt>
                    <dd>{{carton.CorrugateQuality}}</dd>
                    <dt>
                        <span>{{'Rotation.Label.NameSingular' | translate}}:</span>
                    </dt>
                    <dd>{{carton.Rotation | rotation}}</dd>
                </dl>
                <br />
                <div ng-if="carton.CartonOnCorrugate">
                    <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.CartonOnCorrugate' | translate}}:</span>
                    <dl class="dl-horizontal">
                        <dt>
                            <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.LengthOnCorrugate' | translate}}:</span>
                        </dt>
                        <dd>{{carton.CartonOnCorrugate.CartonLengthOnCorrugate}}</dd>
                        <dt>
                            <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.WidthOnCorrugate' | translate}}:</span>
                        </dt>
                        <dd>{{carton.CartonOnCorrugate.CartonWidthOnCorrugate}}</dd>
                        <dt>
                            <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.Tiles' | translate}}:</span>
                        </dt>
                        <dd>{{carton.CartonOnCorrugate.TileCount}}</dd>
                    </dl>
                    <br />
                    <span>{{'MachineProduction.Order.CorrugateInformationDialog.Label.OptimallyProducedOn' | translate}}:</span>
                    <span>{{getMachineThatAreAbleToProduceCartonOnCorrugate(carton.CartonOnCorrugate)}}</span>
                    <br />
                </div>
                {{getAlertMessage(carton)}}
                <div ng-show="alert.msg != null" style="max-height: 75px; overflow: auto">
                    <alert type="{{alert.type}}">{{alert.msg}}</alert>
                </div>
</div>
    </div>
    <div class="modal-footer">
        <button ng-click="closeWindow()" tabindex="20" class="btn btn-default" translate>Common.Label.Close</button>
    </div>
</div>