﻿<div ng-controller="OrderWidgetCtrl" id="orderWidget">
    <div class="col-md-3">
        <div id="orderId">{{ order.OrderId }}</div>
        <div id="articleId" ng-show="order.Producible.ArticleId != null">{{'Article.Label.NameSingular' | translate}} {{ order.Producible.ArticleId }}</div>
        <div id="customCartonProperties" ng-show="order.Producible.ArticleId == null">{{getProducibleInfo(order)}}</div>
    </div>
    <div class="col-md-6">
        <progress animate="false">
            <bar ng-if="failedPercent >0" type="danger" value="failedPercent"><b>{{failedPercent | number:2}}%</b></bar>
            <bar animate="false" type="success" value="progressPercent"><b>{{progressPercent | number:2}}%</b></bar>
        </progress>
        
        <div id="orderDetails">
            <div id="orderBestCorrugate" class="mouseOver"
                 ng-class="{'CorrugateNotAvailableOnMachine':isBestCorrugateNotLoadedOnMachine(), 'NoOptimalCorrugate':!canMachineProduceOptimally()} "
                 ng-click="corrugateInfo()">
                <span ng-show="!searching && operatorView && containsCarton() && (isBestCorrugateNotLoadedOnMachine() || isBestCorrugateNull() || !canMachineProduceOptimally())" translate>
                    MachineProduction.Order.Message.CorrugateError
                </span>
                <span ng-show="!searching && operatorView && containsCarton() && (isBestCorrugateNotLoadedOnMachine() && !isBestCorrugateNull() && canMachineProduceOptimally())">
                    {{ getBestCorrugateTitle() }}
                </span>
                <!--<span ng-show="(searching || !operatorView) && (!order.Cancelled && !order.Complete)">{{ order.Producible.CartonOnCorrugate.Corrugate.Alias}}</span>-->
                <span ng-show="(searching || !operatorView) && (!order.Cancelled && !order.Complete)">{{ getCorrugateAliases(order)}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 row">
        <div class="col-md-12">
            <div id="orderMachineCounts" class="order-counter pull-left" ng-show="!order.Complete && !order.Cancelled" title="{{orderMachinesCountsTitle}}">
                <span translate>Machine.Label.NamePlural</span>:
                {{ order.MachinesThatHaveWorkedOnOrder.length }}/{{ getAvailableMachines() }}
            </div>
            <div id="orderQuantity" class="order-counter pull-right" title="{{orderQuantityTitle}}">
                <span translate>Common.Label.Quantity</span>:
                {{ order.RemainingQuantity + order.InProgressQuantity}}/{{ order.OriginalQuantity }}
            </div>
        </div>
        <div class="col-md-12">
            <div ng-show="machineGroup.ProductionGroup.Options.CanDistribute === 'True' && !order.Complete && !order.Cancelled && machineGroup.ProductionMode === 'AutoProductionMode'">
                <button id="orderDistribute"
                        ng-click="distribute()"
                        class="btn btn-default order-button pull-right">
                    <span ng-show="order.IsDistributable" translate>MachineProduction.Order.Label.SingleMachine</span><span ng-show="!order.IsDistributable" translate>MachineProduction.Order.Label.Distribute</span>
                </button>
            </div>
            <button id="orderReproduce"
                    ng-click="reproduce()"
                    class="btn btn-default order-button pull-right" translate>
                Common.Label.Reproduce
            </button>
        </div>
    </div>
</div>