﻿<div ng-controller="OrdersHistoryCtrl" id="ordersHistory">
    <div>
        <form class="form-horizontal" role="form">
            <div>
                <div class="col-md-4">
                    <input id="orderFilter" type="text" class="form-control" placeholder="{{'Common.Label.Filter' | translate}}" ng-model="orderFilter.OrderId" />
                </div>
                <div class="col-md-8">
                    <div class="pull-right">
                        Sort By:
                        <div id="ordersHistorySortyBy" class="btn btn-default dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" style="font-weight:normal;margin-bottom: 5px;">
                            {{ selectedSortOption.UserFriendlyText }}
                        </div>
                        <ul class="dropdown-menu">
                            <li ng-repeat="a in sortOptions">
                                <a ng-click="changeSort(a)">{{a.UserFriendlyText}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="ordersHistory">
        <span ng-repeat="(Priority, order) in orders | filter:orderFilter | orderBy:selectedSortOption.sortValue">
            <div class="orderRowContainer">
                <order class="orderRowContent orderWidget disableSelect orderGrayBackground"
                       ng-class="{'orderScrollbarMissing': orders.length <= 6, 'orderScrollbarShowing': orders.length > 6}" style="margin-left:0"></order>
            </div>
        </span>
        <p ng-show="(orders | filter:orderFilter).length == 0" translate>MachineProduction.Order.Message.NoResults</p>
    </div>
</div>
