﻿<div>
    <div class="modal-header">
        <div class="modal-header-title">
            <span translate>MachineProduction.Common.ReproduceDialog.Label.Header</span>
        </div>
    </div>
    <div class="modal-body">
        <span style="text-align: center; font-weight: bolder;">
            <span translate>Order.Label.NameSingular</span>
            <span>: '{{order.OrderId}}'</span>
            <span translate>Common.Label.Quantity</span>
            <span>: {{order.RemainingQuantity}}/{{order.OriginalQuantity}}</span>
        </span>
        <br />
        <div style="padding-top: 8px;">
            <div class="col-md-4" style="text-align: right;">
                <span translate>Common.Label.Quantity</span>
            </div>
            <div class="col-md-6" id="ReproduceQuantityNudDiv">
                <numeric-up-down name="reproductionQuantity"
                                 ng-model="model.reproduceQuantity"
                                 default-value="1"
                                 min-value="1"
                                 max-value="9999"
                                 horizontal="true"></numeric-up-down>
            </div>
            <br />
            <br/>
        </div>
    </div>
    <div class="modal-footer">
        <button id="ReproduceItemsSave" ng-click="reproduce()" tabindex="10" class="btn btn-default" translate>Common.Label.Confirm</button>
        <button id="ReproduceItemsClose" ng-click="closeBreakOrdersDialogWindow()" tabindex="20" class="btn btn-default" translate>Common.Label.Cancel</button>
    </div>
</div>