﻿<div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="checkbox" id="pauseBetweenOrdersCheckBox" ng-model="selectedProductionGroup.Options.PauseMachineBetweenOrders" ng-true-value="'True'" ng-false-value="'False'">
                <span translate>ProductionGroup.Label.Orders.PauseMachineBetweenOrders</span>
                <div class="fa item help" dropdown>
                    <a href="#" class="fa-question-circle" aria-expanded="True" aria-haspopup="true" dropdown-toggle></a>
                    <ul class="dropdown-menu dropdown-menu-left btn">
                        <li class="fa-help">
                            <span translate>ProductionGroup.Label.Orders.PauseMachineBetweenOrdersHelp</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="checkbox" id="canDistributeCheckBox" ng-model="selectedProductionGroup.Options.CanDistribute" ng-true-value="'True'" ng-false-value="'False'" />
                <span translate>ProductionGroup.Label.Orders.AllowDistributedOrders</span>
                <div class="fa item help" dropdown>
                    <a href="#" class="fa-question-circle" aria-expanded="True" aria-haspopup="true" dropdown-toggle></a>
                    <ul class="dropdown-menu dropdown-menu-left btn">
                        <li class="fa-help">
                            <span translate>ProductionGroup.Label.Orders.AllowDistributedOrdersHelp</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <div ng-show="selectedProductionGroup.Options.CanDistribute">
                    <span style="padding-left: 15px">...</span>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="defaultDistributeValue" ng-model="selectedProductionGroup.Options.DefaultDistributeValue" ng-true-value="'True'" ng-false-value="'False'" />
                        <span translate>ProductionGroup.Label.Orders.DistributeOrdersByDefault</span>
                        <div class="fa item help" dropdown>
                            <a href="#" class="fa-question-circle" aria-expanded="True" aria-haspopup="true" dropdown-toggle></a>
                            <ul class="dropdown-menu dropdown-menu-left btn">
                                <li class="fa-help">
                                    <span translate>ProductionGroup.Label.Orders.DistributeOrdersByDefaultHelp</span>
                                </li>
                            </ul>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
