﻿<h4 translate>Search.Order.Label.Header</h4>
<div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <p class="help-block alert alert-danger" ng-show="isDateRangeInvalid" translate>Search.Common.Validation.CreatedDateRange</p>
</div>
<div class="form-horizontal" ng-enter="search()">
    <div class="row form-group" style="padding-bottom: 10px">
        <div class="col-md-2" style="padding: 0;">
            <label for="status" class="control-label col-md-3" translate>Common.Label.Status</label>
            <div class="col-md-9">
                <select class="form-control col-md-6" id="status" ng-model="criteria.$or " ng-options="ss.value as ss.text for ss in selectableStatuses">
                    <option value="" translate>Common.Label.All</option>
                </select>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0;">
            <label for="customerUniqueId" class="control-label col-md-4" translate>Common.Label.CustomerId</label>
            <div class="col-md-8">
                <input class="form-control" id="customerUniqueId" ng-model="criteria.CustomerUniqueId" />
            </div>
        </div>
        <div class="col-md-6" style="padding: 0;min-width: 650px">
            <label class="control-label col-md-4" translate>Common.Label.CreatedDateRange</label>
            <div class="col-md-4" id="beginDateWrapper" style="min-width: 230px;" dropdown>
                <a id="beginDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                    <div class="input-group">
                        <label type="text" class="form-control" style="white-space: nowrap">{{criteria.Created.$gte | date:'medium'}}</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker data-ng-model="criteria.Created.$gte" data-datetimepicker-config="{minView:'hour',startView:'day', dropdownSelector: '#beginDate' }"></datetimepicker>
                </ul>
            </div>
            <div class="col-md-4" id="endDateWrapper" style="min-width: 230px;" dropdown>
                <a id="endDate" role="button" toggle="dropdown" data-target="#" href="#" dropdown-toggle>
                    <div class="input-group">
                        <label type="text" class="form-control" style="white-space: nowrap">{{criteria.Created.$lt | date:'medium'}}</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker data-ng-model="criteria.Created.$lt" data-datetimepicker-config="{minView:'hour',startView:'day', dropdownSelector: '#endDate' }"></datetimepicker>
                </ul>
            </div>
        </div>
    </div>
    <div class="row  form-group" collapse="!showDetails">
        <label class="control-label col-md-1" translate>Search.Common.Label.CartonDetails</label>
        <div class="col-md-11">
            <div class="well well-sm">
                <div class="row">
                    <label for="articleId" class="control-label col-md-1" translate>Article.Label.Id</label>
                    <div class="col-md-2">
                        <input class="form-control" id="articleId" ng-model="producible.CustomerUniqueId" />
                    </div>
                    <label class="control-label col-md-1" for="designId" translate>Common.Label.Design</label>
                    <div class="col-md-2">
                        <select class="form-control" id="designId" ng-model="producible.DesignId" ng-options="c.Id as c.Name for c in selectableDesigns">
                            <option value="" translate>Common.Label.All</option>
                        </select>
                    </div>
                    <label for="length" class="control-label col-md-1" translate>Common.Label.Length</label>
                    <div class="col-md-1"><input class="form-control" id="length" ng-model="producible.Length" type="number" min="0" /></div>
                    <label for="width" class="control-label col-md-1" translate>Common.Label.Width</label>
                    <div class="col-md-1"><input class="form-control" id="width" ng-model="producible.Width" type="number" min="0" /></div>
                    <label for="height" class="control-label col-md-1" translate>Common.Label.Height</label>
                    <div class="col-md-1"><input class="form-control" id="height" ng-model="producible.Height" type="number" min="0" /></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row form-group" collapse="!showDetails">
        <label class="control-label col-md-1" translate>Search.Common.Label.CorrugateDetails</label>
        <div class="col-md-11">
            <div class="well well-sm">
                <div class="row">
                    <label for="corrugateAlias" class="control-label col-md-1" translate>Common.Label.Name</label>
                    <div class="col-md-2">
                        <select class="form-control" id="corrugateAlias" ng-model="corrugate.Alias" ng-options="c.Alias as c.Alias for c in allCorrugates">
                            <option value="" translate>Common.Label.All</option>
                        </select>
                    </div>
                    <label for="corrugateQuality" class="control-label col-md-1" translate>Common.Label.Quality</label>
                    <div id="corrugateQualityWrapper" class="col-md-2">
                        <select class="form-control" id="corrugateQuality" ng-model="corrugate.Quality" ng-options="int as int for int in distinctAndSortedCorrugateQualityOptions">
                            <option value="" translate>Common.Label.All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group" collapse="!showDetails">
        <label class="control-label col-md-1" translate>Machine.Label.NameSingular</label>
        <div class="col-md-11">
            <div class="well well-sm">
                <div class="row">
                    <label for="machine" class="control-label col-md-1" translate>Common.Label.Name</label>
                    <div class="col-md-2">
                        <select id="machine" class="form-control" ng-model="machine._id" ng-options="m.Id as m.Alias for m in allMachines">
                            <option value="" translate>Common.Label.All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group" collapse="!showDetails">
        <label class="control-label col-md-1" translate>Search.Common.Label.ProductionGroup</label>
        <div class="col-md-11">
            <div class="well well-sm">
                <div class="row">
                    <label for="production" class="control-label col-md-1" translate>Common.Label.Name</label>
                    <div class="col-md-2">
                        <select id="production" class="form-control" ng-model="Restrictions.Value" ng-options="p.Id as p.Alias for p in productionGroups">
                            <option value="" translate>Common.Label.All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative; top: -15px">
        <div class="pull-right">
            <button class="btn" ng-class="class" ng-click="reset()" id="resetButton" translate>Common.Label.ResetSearch</button>
            <button class="btn btn-default" ng-click="save()" id="saveButton" translate>Common.Label.SaveSearch</button>
            <button class="btn btn-default" ng-show="status.length == 0" ng-click="search()" id="searchButton" translate>Common.Label.Search</button>
            <button class="btn btn-default" ng-show="status.length > 0" disabled>{{status}}</button>
        </div>
        <div class="row form-group" style="padding-top: 15px">
            <a id="toggleDetails" ng-click="toggleDetails()">{{labelDetails}}</a>
            <span ng-show="filtersEnabled"> - </span><span ng-show="filtersEnabled" translate>Search.Common.Message.FiltersEnabled</span>
        </div>
    </div>
    <div class="row">
        <button id="reproduceButton" class="btn btn-default pull" ng-click="reproduceCancel(false)" ng-disabled="disableReproduce" translate>Common.Label.Reproduce</button>
        <button id="createNextButton" class="btn btn-default" ng-click="createNext()" ng-disabled="disableCreateNext" translate>MachineProduction.Order.Label.CreateNext</button>
        <button id="cancelButton" class="btn btn-default" ng-click="reproduceCancel(true)" ng-disabled="disableCancel" translate>Common.Label.Cancel</button>
        <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">{{filteringLabel}}</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2" style="padding-right: 0;"></div>
</div>
<div class="row" id="resultGrid" style="margin-top: 5px">
    <div class="col-md-12" ui-grid="gridOptions" ui-grid-expandable ui-grid-resize-columns ui-grid-selection ui-grid-cellnav ui-grid-edit></div>
</div>
<div class="row" style="margin-top: 5px">
    <div class="col-md-12">{{additionalDetails}}</div>
</div>