ul.accordionMenu {
	list-style: none;
	margin: 0; 
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

ul.accordionMenu li input[type='checkbox'] {
	display: none;
}

ul.accordionMenu li input[type='checkbox'] ~ label {
	background: #53534b;
	box-sizing: border-box;
	color: #fff;
	display: block;
	letter-spacing: 0.09em;
	margin: 0;
	padding: 12px;
	padding-left: 20px;
	-webkit-user-select: none;
}

ul.accordionMenu li input[type='checkbox'] ~ label:hover {
	background: #cedb33;
}

ul.accordionMenu li input[type='checkbox']:checked ~ label {
	background: #cedb33;
}

ul.accordionMenu li input[type='checkbox'] ~ ul.options {
	height: 0;
	display: block;
	overflow: hidden;
}

ul.accordionMenu li input[type='checkbox']:checked ~ ul.options {
	height: auto;
	display: block;
	min-height: 40px;
	max-height: 50vh;   /* Added for scrollbar on menu */
	overflow: auto;
}

ul.accordionMenu li span:last-child {
	float: right;
	padding-right: 12px;
}

ul.accordionMenu ul.options {
	background: #fff; 
	margin: 0; 
	padding: 0;
}

ul.accordionMenu ul.options li {
	border: 1px solid #ccc;
	border-top-width: 0;
	padding: 4px 0px 4px 8px;
}

ul.accordionMenu ul.options li a {
	display: block;
	padding: 6px 12px;
	color: #999;
	text-decoration: none;
}

ul.accordionMenu ul.options li a:hover,
ul.accordionMenu ul.options li a.highlight {
	color: #cedb33;
}