﻿/* Base */
html {
    overflow-y: scroll;
}

body {
    color: #333333 !important;
    font-family: "Montserrat";
}

div.input-mask {
    padding-top: 7px;
}

.alerts-container .alert:last-child {
    margin-bottom: 0px;
}

.form-group .help-block.form-group-inline-message {
    padding-top: 5px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blue {
    background: #2361ae !important;
}

.green {
    background: #23ae89 !important;
}

.orange {
    background: #d3a938 !important;
}

.red {
    background: #ae2323 !important;
}

/* Wrapper */
#page-wrapper, #sidebar-wrapper {
    transition: all .4s ease 0s;
}

    #page-wrapper.active #sidebar-wrapper {
        left: 150px;
    }

#page-wrapper {
    height: 100%;
    padding-left: 60px;
}

#sidebar-wrapper {
    background: #53534b;
    position: fixed;
    left: -40px;
    height: 100%;
    width: 250px;
    margin-left: -150px;
    z-index: 999;
}

#content-wrapper {
    margin-left: 0;
    padding-left: 0;
    height: auto;
    width: 100%;
}

@media only screen and (min-width:561px) {
    #page-wrapper.active {
        padding-left: 250px;
    }
}

@media only screen and (max-width:560px) {
    #page-wrapper.active {
        padding-left: 70px;
    }
}

/* Sidebar */
#page-wrapper:not(.active) .sidebar-footer {
    display: none;
}

.sidebar-header,
.sidebar-footer {
    background: #393934;
    /*min-height: 70px;*/
}

    .sidebar-header,
    .sidebar-footer div a {
        color: #bdbdab;
    }

.sidebar-header {
    font-size: 18px;
    display: block;
    float: left;
    height: 60px;
    width: 250px;
    padding-top: 18px;
    cursor: pointer;
    text-decoration: none;
    text-indent: 20px;
}

    .sidebar-header a {
        font-size: 18px;
    }

    .sidebar-header .menu-icon {
        float: right;
        font-size: 18px;
        padding-top: 2px;
        padding-right: 20px;
    }

.sidebar-main {
    clear: both;
    padding-top: 20px;
    max-height: 80vh;
    overflow: auto;
}

.sidebar-footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    padding-right: 87px;
    text-align: center;

}

    .sidebar-footer div a {
        font-size: 12px;
        line-height: 43px;
    }

        .sidebar-footer div a:hover {
            color: #ffffff;
            text-decoration: none;
        }

/* Header */
.row.header {
    background: #fff;
    height: 60px;
}

    .row.header .item {
        display: inline-block;
        float: left;
        margin-right: 20px;
    }

        .row.header .item:last-child {
            margin-right: 0;
        }

        .row.header .item a {
            color: #919191;
        }

        .row.header .item i {
            font-size: 20px;
        }

        .row.header .item.help,
        .row.header .item.username {
            margin-top: 16px;
        }

        .row.header .item .online-indicator {
            margin-top: 12px;
        }

        .row.header .item .notifier {
            margin-top: 12px;
        }

.username .dropdown-menu {
    margin-top: 11px; /* for adjusting the distance of the menu options */
}

/* Drop-down Menu Styles*/
.dropdown-menu.dropdown-menu-dialog {
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.05);
}

    .dropdown-menu.dropdown-menu-dialog:before {
        position: absolute;
        top: -7px;
        right: 23px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    .dropdown-menu.dropdown-menu-dialog:after {
        position: absolute;
        top: -6px;
        right: 24px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
    }

    .dropdown-menu.dropdown-menu-dialog .dropdown-header {
        text-align: center;
    }

    .dropdown-menu.dropdown-menu-dialog li.link {
        text-align: left;
    }

        .dropdown-menu.dropdown-menu-dialog li.link a {
            padding-left: 7px;
            padding-right: 7px;
        }

/* Widgets */
.widget {
    background: #ffffff;
    border: 1px solid transparent;
    border-color: #e9e9e9;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .widget .widget-title {
        color: #767676;
        background-color: #f6f6f6;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 15px;
        line-height: 30px;
    }

        .widget .widget-title i {
            margin-right: 5px;
        }

        .widget .widget-title input {
            width: 25%;
        }

    .widget .widget-body {
        padding: 20px;
    }

        .widget .widget-body table thead * {
            font-size: 14px !important;
        }

        .widget .widget-body table tbody * {
            font-size: 13px !important;
        }

        .widget .widget-body.no-padding .error, .widget .widget-body.no-padding .message {
            padding: 20px;
        }

        .widget .widget-body .error {
            color: #ff0000;
        }

        .widget .widget-body table thead {
            background: #fafafa;
        }

        .widget .widget-body.large {
            height: 350px;
            overflow-y: auto;
        }

        .widget .widget-body.medium {
            height: 250px;
            overflow-y: auto;
        }

        .widget .widget-body.small {
            height: 150px;
            overflow-y: auto;
        }

        .widget .widget-body.no-padding {
            padding: 0;
        }

        .widget .widget-body button {
            margin-left: 5px;
        }

        .widget .widget-body div.alert {
            margin-bottom: 10px;
        }

    .widget .widget-icon {
        background: #30426a;
        height: 65px;
        width: 65px;
        margin-right: 15px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

        .widget .widget-icon i {
            color: #ffffff;
            font-size: 30px;
            line-height: 66px;
        }

    .widget .widget-content .title {
        display: block;
        font-size: 28px;
    }

.page-content-header {
    border-bottom: 1px solid #ddd;
}

.dashboard-page {
    width: 98%;
}
