body {
    background: whitesmoke;
}

select option {
    font-size: 20px;
}

.widget-label {
    margin-left: 5px;
}

.li-checkbox {
    margin-left: 20px;
}

input[type="radio"] {
    margin-right: 3px;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

.btn-default {
    background-color: #f5f5f5;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media (min-width: 992px) {
    .modal-xl {
        width: 90%;
    }
}

.route-content {
    padding-top: 10px;
}

.row.header .user > .username {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.ngHeaderFilterButton {
    position: absolute;
    right: 2px;
    top: 1px;
    z-index: 1;
    cursor: pointer;
}

.ngColMenu {
    background-color: rgb(234, 234, 234);
    border: 2px solid #d4d4d4;
}

.form-group .help-block {
  display: none;
}
 
.form-group.has-error .help-block {
  display: block;
}

button.machineSelection {
    width: 340px;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}

button.machineSelection h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

select.noHandle {
    height: 30px;
    border-radius: 6px;
    -webkit-appearance: none;
    line-height: 20px;
}

.panel-heading {
    background: #a3b11e url('../img/ui-bg_highlight-soft_75_a3b11e_1x100.png') 50% 50% repeat-x;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-content {
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
          box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
}

.modal-header {
    background: #cedb33;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 12px;
}

.modal-header-title {
    font-weight: bold;
    margin-top: 0px;
}

.modal-body {
    padding: 12px;
}

.modal-footer {
    padding: 5px;
}

input.login {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

input[type="password"].login {
    margin-top: 5px;
}
/*TODO: check naming*/
.progress-reverse div:nth-of-type(1) {
    float: right;
}

/*Todo: Remove absolute positioning*/
#divFailedRequests {
    position: absolute;
    width: 520px;
    top: 95px;
    left: 5px;
}

#failedRequestsTable {
    height: 260px;
}

.default-height{
    height: 350px;
}

#divCorrugates {
    position: absolute;
    top: 365px;
    left: 210px;
    width: 315px;
    margin-top: 1em;
}

#divClassifications {
    position: absolute;
    margin-left: 1em;
    top: 0px;
    left: 530px;
    width: 475px;
}

#classificationsTable {
    height: 300px;
}

#divCartonPropertyGroups {
    position: absolute;
    left: 530px;
    width: 475px;
    top: 520px;
    margin-top: 1.5em;
    margin-left: 1em;
}

#cartonPropertyGroupsTable {
    height: 220px;
}

#divSummary {
    overflow: auto;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 530px;
    height: 90px;
}

.summaryRequests {
    position: absolute;
    top: 70px;
    left: 50px;
    white-space: nowrap;
    font-weight: bold;
}

.articleManagementButton {
    position: absolute;
    top: 2px;
    left: 270px;
    white-space: nowrap;
}

.summarySearch {
    position: absolute;
    top: 35px;
    left: 270px;
}

.userManagementButton {
    position: absolute;
    top: 2px;
    left: 459px;
    white-space: nowrap;
}

.productionGroupsButton {
    position: absolute;
    top: 2px;
    left: 335px;
    white-space: nowrap;
}

.divMachineStateButtons {
    border: 1px solid black;
    background-color: darkgray;
    border-radius: 5px;
}

#divMachineError {
    font-size: 18px;
    font-weight: bold;
}

.highlight-icon {
    background: whitesmoke;
}

#divMachineErrorMessage {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: yellow;
}

#divMachineErrorMessage span{
    vertical-align: top;
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
}

.divMachineServiceEntity {
    margin: 10px;
}

.buttonMachineServicePause{
    margin: 10px;
}

.buttonMachineService{
    margin-top: 10px;
}

.buttonMachineServiceToolButton{
    display: block;
    width: 100%;
}


.lblMachineDisconnected {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.btnOperatorMenu {
    margin: 4px;
    height: 55px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    white-space: normal;
}

#changeCorrugateTrackList ul {
    list-style-type: none;
}

#productionGroupForm {
    margin: 5px;
}

#productionGroupsDropDown {
    height: 34px;
}

.panel-group .panel {
    border-radius: 7px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.articlesTable {
    border: 1px solid rgb(212,212,212);
    margin-left: 10px;
    width: 98%;
    height: 390px;
    min-width: 800px;
    border-radius: 4px;
}

#articlesTable {
    border: 1px solid rgb(212,212,212);
    margin-left: 10px;
    width: 98%;
    height: 390px;
    min-width: 800px;
    border-radius: 4px;
}

.corrugateEnabled {
    color: green;
    margin-left: 20px;
}

.corrugateDisabled {
    color: red;
    margin-left: 20px;
}

.ordersList {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px 2px 2px 5px;
    margin-top: 5px;
    margin-left: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 195px;
    display: inline-block;
    width: 99%;
    border-color: #ddd;
}

#orderWidget {
    padding: 4px;
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    overflow: hidden;
    border-color: #ddd;
}

.ordersHistory {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px 2px 2px 5px;
    margin-top: 5px;
    margin-left: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 195px;
    display: inline-block;
    width: 99%;
    border-color: #ddd;
}

#orderId {
    font-weight: bolder;
    font-size: larger;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-margin {
    margin-top: 5px;
}

.panel-body {
    padding: 5px;
}

.orderRowCheckbox {
    position: absolute;
    top: 15px;
}

.orderRowContent {
    display: block;
    margin-left: 20px;
    border-radius: 6px;
}

.order-button {
    margin-right: 5px;
    margin-top: 5px;
    height: 24px;
    min-height: 24px;
    padding-top: 0;
}

.orderComplete {
    background-color: lightgray;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lightgray), to(gray));
}

.orderGrayBackground {
    background-color: #f2f2f2;
}

.orderSelected {
    background-color: lightgray;
}

.orderRowContainer {
    position: relative;
    margin-bottom: 2px;
}

.inQueue {
    background-color: lightgray;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(lightgray));
}

.inProgress {
    background-color: white;
}

.orderWarn {
    background-color: orange;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lightyellow), to(orange));
}

.orderError {
    background-color: red;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lightpink), to(red));
}

#orderStatus {
    text-align: center;
    display: block;
    border: 1px solid;
    border-radius: 4px;
}

.order-counter {
    padding-right: 4px;
    margin-left: 4px;
    width: 140px;
    text-align: center;
}

#orderBestCorrugate {
    margin-top: 5px;
}

#articleId {
    margin-top: 8px;
    margin-left: 4px;
}

#orderWidget div.col-md-2, div.col-md-8, div.col-md-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.CorrugateNotAvailableOnMachine {
    padding-left: 4px;
    padding-right: 4px;
    border: solid black 1px;
    border-radius: 4px;
    background-color: yellow;
}

.NoOptimalCorrugate {
    padding-left: 4px;
    padding-right: 4px;
    border: solid black 1px;
    border-radius: 4px;
    background-color: red;
    color: white;
}

    .NoOptimalCorrugate span {
        color: white;
        font-weight: bold;
    }

    .NoOptimalCorrugate a {
        color: white;
        font-weight: bold;
    }

#customCartonProperties {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 8px;
}

.dashboard-content {
    margin-top: 20px;
}

.page-content {
    padding-left: 0px;
    padding-right: 0px;
}

.nested-page-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table-margin-top {
    margin-top: 10px;
}

.table-dialog
{
    margin-top: 10px;
    height: 300px;
}

.table-accordion
{
    margin-top: 10px;
    width: 800px;
    height: 500px;
}

.alert {
    margin-top: 5px;
    margin-bottom: 5px;
}

.widget {
    border-radius: 7px;
}

.bootstrap-switch.bootstrap-switch-large {
    width: 140px;
}

.mouseOver:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
} 

.imageButton {
    margin-left: 5px;
}

.dl-horizontal {
    margin-left: 50px;
}

.dl-horizontal dt{
    text-align: left;
    width: auto;
}

.dl-horizontal dd {
margin-left: 300px;
}


[popover],
a[ng-click] {
    cursor: pointer !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-grid-menu-mid {
    min-width: 130px;
}

.whitesmoke-background
{
    background: whitesmoke;
}


.btn-toggle:active,
.btn-toggle.active {
  color: #F5F5F5;
  background-color: #959595 !important;
  text-shadow: 0 0px 0 !important;
}

.row-margin
{
    margin:5px 0 5px 0
}