﻿/* Hides the +/- button on the header */
.ui-grid-hide-expand-all .ui-grid-header-canvas .ui-grid-header-cell-row .ui-grid-expandable-buttons-cell,
/* Hides the +/- button on the row */
.ui-grid-hide-expandable .ui-grid-expandable-buttons-cell,
/* Hides the filling space below the row fixed cells */
.ui-grid-hide-expandable .scrollFiller,
/* Hides the expandable row content */
.ui-grid-hide-expandable .expandableRow {
    display: none;
}

.ui-grid-cell-contents-no-padding {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}