﻿<div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" id="newProductionGroupAlert" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <form name="productionGroupEditForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label id="newProductionGroupAliasLabel" for="newProductionGroupAlias" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7">
                <input id="newProductionGroupAlias" class="form-control" name="Name" ng-model="selectedProductionGroup.Alias"  size="29" focus-element required />
                <p id="newProductionGroupAliasError" class="help-block" ng-if="productionGroupEditForm.Name.$error.required" translate>Common.Validation.Required</p>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newProductionGroupDescription" class="col-md-3 control-label" translate>Common.Label.Description</label>
            <div class="col-md-7">
                <textarea id="newProductionGroupDescription" name="Description" class="form-control" ng-model="selectedProductionGroup.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label for="newProductionGroupSelectionAlgorithm" class="col-md-3 control-label" translate>ProductionGroup.Label.ProductionMode</label>
            <div class="btn-group col-md-7" ng-show="selectedProductionGroup.IsNewProductionGroup">
                <select class="form-control" name="SelectionAlgorithm" id="newProductionGroupSelectionAlgorithm" ng-model="selectedProductionGroup.FriendlySelectionAlgorithm" ng-options="m for m in availableSelectionAlgorithms" required>
                    <option style="display: none" value="" translate>Common.Label.Unassigned</option>
                </select>
                <p id="newProductionGroupSelectionAlgorithmError" class="help-block" ng-if="productionGroupEditForm.SelectionAlgorithm.$error.required" translate>Common.Validation.Required</p>
            </div>
            <div class="btn-group col-md-7" ng-show="!selectedProductionGroup.IsNewProductionGroup">
                <input id="newProductionGroupSelectionAlgorithm" class="form-control" name="SelectionAlgorithm" ng-model="selectedProductionGroup.FriendlySelectionAlgorithm" size="29" required disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>MachineGroup.Label.NamePlural</label>
            <div class="col-md-7">
                <div id="machineGroupsDiv" class="well well-sm">
                    <div class="row">
                        <label class="col-md-3" ng-repeat="machineGroup in availableMachineGroups | orderBy : 'Alias'">
                            <input type="checkbox" ng-model="machineGroup.Included" id="{{machineGroup.Alias}}">{{machineGroup.Alias}}
                        </label>
                    </div>
                    <div class="row" collapse="!showUnavailableMachineGroups" style="margin-top: 5px; margin-bottom: 5px;">
                        <label class="col-md-3" ng-repeat="machineGroup in unavailableMachineGroups | orderBy : 'MachineGroupAlias'">
                            <span popover-placement="top" popover="{{machineGroup.ProductionGroupAlias}}" popover-title="{{'Common.Label.AssignedTo' | translate}}">
                                <span class="menu-icon fa fa-info-circle"></span> {{machineGroup.MachineGroupAlias}}
                            </span>
                        </label>
                    </div>
                    <div class="row" ng-show="unavailableMachineGroups.length > 0" style="margin-top: 5px; margin-bottom: 5px;">
                        <a class="col-md-12" ng-click="toggleUnavailableMachineGroups()">{{labelUnavailableMachineGroups}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Corrugate.Label.NamePlural</label>
            <div class="col-md-7">
                <div id="corrugatesDiv" class="well well-sm">
                    <div class="row">
                        <label class="col-md-3" ng-repeat="corrugate in corrugates | orderBy : 'Alias'">
                            <input type="checkbox" ng-model="corrugate.Included" id="{{corrugate.Alias}}">{{corrugate.Alias}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>ProductionGroup.Label.AdditionalOptions</label>
            <div class="col-md-7">
                <!--TODO: well looks funny because it is too long-->
                <div id="additionalOptionsDiv" class="well well-sm">
                    <div class="row">
                        <any ng-show="selectedProductionGroup.FriendlySelectionAlgorithm" ng-include="getProductionOptionsPath()"></any>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="newProductionGroupSaveButton" ng-click="saveProductionGroup(productionGroupEditForm)" translate>Common.Label.Save</button>
            <button class="btn btn-default" id="newProductionGroupCancelButton" ng-click="cancelNewEditProductionGroup()" translate>Common.Label.Cancel</button>
        </div>
    </form>
</div>