<div ng-controller="ProductionGroupsCtrl" class="dashboard-content">
    <h4 id="ProductionGroupsPageHeader" translate>ProductionGroup.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/ProductionGroups/productionGroupsList.html"></div>
        </div>
    </div>
</div>