<div>
    <a ui-sref="ProductionGroups.new">
        <button class="btn btn-default" id="newProductionGroup" translate>Common.Label.New</button>
    </a>
    <button class="btn btn-default" id="deleteProductionGroup" ng-disabled="!canDelete()" ng-click="deleteProductionGroup()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="editProductionGroup" ng-disabled="!canEdit()" ng-click="editProductionGroup()" translate>Common.Label.Edit</button>
    <div>
        <alert id="ProductionGroupAlert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="productionGroupListTable" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav class="table-margin-top"></div>
</div>