﻿<div ng-controller="createFromArticleNewCtrl" class="dashboard-content">
    <h4 translate>CreateFromArticle.Label.Header</h4>
    <div class="nested-page-content">
        <div ui-view class="table-margin-top">
            <div ng-include="partials/Operator/CartonCreation/Article/createFromArticleList.html"></div>
        </div>
    </div>
</div>