<div id="operatorConsoleCreateFromArticleDialog" class="dashboard-content">
    <h4 id="CreateFromArticleHeader" translate>Articles.CreateFromArticle</h4>

    <div>
        <alert id="createFromArticleAlerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>

    <button id="btnOperatorProduceMultiple" class="btn btn-default" ng-disabled="produceDisabled" ng-click="produceSelected()" translate>Articles.CreateButton</button>
    <a ui-sref="OperatorConsole.Console">
        <button id="cancel" class="btn btn-default" ng-disabled="isCancelDisabled()" translate>Articles.CancelButton</button>
    </a>
    <div class="nested-page-content">
        <articles-list-for-machine multi-select="false" show-row-qty="true" row-selection-changed="updateSelections(articles)" custom-production-click="produceCustom(x)" current-machine-id="currentMachineId"></articles-list-for-machine>
    </div>
</div>
