﻿<div>
    <div class="row form-group">
        <div class="col-md-12">
            <button class="btn btn-default pull-right" id="produceArticle" ng-disabled="!canProduce()" ng-click="produceArticles()" translate>Common.Label.Produce</button>
        </div>
    </div>
    <div>
        <alert id="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="articlesList" class="table-margin-top ui-grid-hide-expand-all" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-expandable ui-grid-resize-columns ui-grid-selection></div>
</div>