﻿<div>
    <button class="btn btn-default" id="removeArticles" ng-disabled="!canRemove()" ng-hide="readOnly" ng-click="removeArticles()" translate>Common.Label.Delete</button>
    <button class="btn btn-default" id="produceArticles" ng-disabled="!canProduce()" ng-hide="readOnly" ng-click="produceArticles()" translate>Common.Label.Produce</button>
    <div>
        <alert id="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
    </div>
    <div id="articlesList" class="table-margin-top ui-grid-hide-expand-all" ui-grid="gridOptions" ui-grid-cellnav ui-grid-edit ui-grid-expandable ui-grid-resize-columns ui-grid-selection></div>
</div>