﻿<div>
    <form name="editForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7 form-control-static">
                <span>{{selectedArticle.Producible.CustomerUniqueId}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Quantity</label>
            <div class="col-md-7 form-control-static">
                <span>{{selectedArticle.OriginalQuantity}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="design" class="col-md-3 control-label" translate>Common.Label.Design</label>
            <div class="col-md-7">
                <select id="design" class="form-control" name="Design" ng-change="cartonDesignChange(true)" ng-model="selectedArticle.Producible.DesignId" ng-options="d.Id as d.Name for d in packagingDesigns" ng-disabled="readOnly"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Variables</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="length" class="col-md-3 control-label" translate>Common.Label.Length</label>
                        <div class="col-md-7">
                            <input id="length" class="form-control" name="Length" ng-model="selectedArticle.Producible.Length" ng-readonly="readOnly" size="29" type="number" min="0" step="0"/>
                            <p class="help-block" ng-if="editForm.Length.$error.min" translate>Common.Validation.MustBeGreaterThanZero</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="width" class="col-md-3 control-label" translate>Common.Label.Width</label>
                        <div class="col-md-7">
                            <input id="width" class="form-control" name="Width" ng-model="selectedArticle.Producible.Width" ng-readonly="readOnly" size="29" type="number" min="0" step="0"/>
                            <p class="help-block" ng-if="editForm.Width.$error.min" translate>Common.Validation.MustBeGreaterThanZero</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="height" class="col-md-3 control-label" translate>Common.Label.Height</label>
                        <div class="col-md-7">
                            <input id="height" class="form-control" name="Height" ng-model="selectedArticle.Producible.Height" ng-readonly="readOnly" size="29" type="number" min="0" step="0"/>
                            <p class="help-block" ng-if="editForm.Height.$error.min" translate>Common.Validation.MustBeGreaterThanZero</p>
                        </div>
                    </div>
                    <ng-form name="designParemeterForm" ng-repeat="designParameter in selectedPackageDesign.DesignParameters">
                        <div class="form-group" show-errors="{showSuccess: true}">
                            <label for="parameter{{designParameter.Alias}}" class="col-md-3 control-label">{{designParameter.Alias}}</label>
                            <div class="col-md-7">
                                <input id="parameter{{designParameter.Alias}}" class="form-control" name="DesignParameter" ng-model="selectedArticle.Producible.XValues[designParameter.Name]" ng-readonly="readOnly" size="29" type="number" min="0" step="0.1"/>
                                <p class="help-block" ng-if="designParemeterForm.DesignParameter.$error.min" translate>Common.Validation.MustBeGreaterThanZero</p>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Restrictions</label>
            <div class="col-md-7">
                <div class="well well-sm" id="restrictionsContainer">
                    <div class="form-group">
                        <label for="corrugateQuality" class="col-md-3 control-label" translate>Corrugate.Label.Quality</label>
                        <div class="col-md-7">
                            <input id="corrugateQuality" class="form-control" name="CorrugateQuality" ng-model="corrugateRestrictions.Quality" ng-readonly="readOnly" size="29" type="number" min="0" step="1"/>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="corrugateWidth" class="col-md-3 control-label" translate>Corrugate.Label.Width</label>
                        <div class="col-md-7">
                            <input id="corrugateWidth" class="form-control" name="CorrugateWidth" ng-model="corrugateRestrictions.Width" ng-readonly="readOnly" size="29" type="number" min="0.1" step="0.1"/>
                        </div>
                    </div>
                    <div class="form-group" show-errors="{showSuccess: true}">
                        <label for="corrugateThickness" class="col-md-3 control-label" translate>Corrugate.Label.Thickness</label>
                        <div class="col-md-7">
                            <input id="corrugateThickness" class="form-control" name="CorrugateThickness" ng-model="corrugateRestrictions.Thickness" ng-readonly="readOnly" size="29" type="number" min="0" step="0.1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="rotationLbl" for="rotation" class="col-md-3 control-label" translate>Rotation.Label.NameSingular</label>
                        <div class="col-md-4">
                            <select id="rotation" class="form-control" name="Rotation" ng-model="selectedArticle.Producible.Rotation" ng-disabled="readOnly">
                                <option value="" translate>Rotation.Label.Optimal</option>
                                <option value="Degree0" ng-if="selectedPackageDesign.AllowedRotations.Degree0.Allowed == 1" translate>Rotation.Label.Degree0</option>
                                <option value="Degree90" ng-if="selectedPackageDesign.AllowedRotations.Degree90.Allowed == 1" translate>Rotation.Label.Degree90</option>
                                <option value="Degree180" ng-if="selectedPackageDesign.AllowedRotations.Degree180.Allowed == 1" translate>Rotation.Label.Degree180</option>
                                <option value="Degree270" ng-if="selectedPackageDesign.AllowedRotations.Degree270.Allowed == 1" translate>Rotation.Label.Degree270</option>
                                <option value="Degree0Flip" ng-if="selectedPackageDesign.AllowedRotations.Degree0Flip.Allowed == 1" translate>Rotation.Label.Degree0Flip</option>
                                <option value="Degree90Flip" ng-if="selectedPackageDesign.AllowedRotations.Degree90Flip.Allowed == 1" translate>Rotation.Label.Degree90Flip</option>
                                <option value="Degree180Flip" ng-if="selectedPackageDesign.AllowedRotations.Degree180Flip.Allowed == 1" translate>Rotation.Label.Degree180Flip</option>
                                <option value="Degree270Flip" ng-if="selectedPackageDesign.AllowedRotations.Degree270Flip.Allowed == 1" translate>Rotation.Label.Degree270Flip</option>
                            </select>
                            <p id="rotationValidation" class="help-block" ng-if="editForm.rotation.$error.required" translate>Common.Validation.Required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7" id="previewAndToggleContainer">
                <div collapse="!showDesignPreviewContainer">
                    <div id="previewContainer" ng-show="showDesignPreview"></div>
                </div>
                <a id="toggleAdvancedSettings" ng-click="toggleDesignPreviewContainer()">{{labelPackageDesignPreview}}</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="closeButton" ng-click="closeArticle()" translate>Common.Label.Close</button>
        </div>
    </form>
</div>