﻿<div>
    <form name="editForm" class="form-horizontal" role="form" novalidate>
        <!-- novalidate causes the default chrome validation to not be displayed -->
        <div class="form-group">
            <label for="alias" class="col-md-3 control-label" translate>Common.Label.Name</label>
            <div class="col-md-7 form-control-static">
                <span>{{selectedArticle.Producible.CustomerUniqueId}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Quantity</label>
            <div class="col-md-7 form-control-static">
                <span>{{selectedArticle.OriginalQuantity}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="template" class="col-md-3 control-label" translate>Common.Label.Template</label>
            <div class="col-md-7 form-control-static">
                <span>{{selectedTemplate.Name}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" translate>Common.Label.Variables</label>
            <div class="col-md-7">
                <div class="well well-sm">
                    <!-- A bit redundant, but if the container where show-errors is defined doesn't have an input to validate, it will throw an error -->
                    <ng-form name="templateForm" ng-repeat="variable in selectedTemplate.Variables">
                        <div class="form-group" ng-if="variable == 'CustomerUniqueId'">
                            <label for="variable{{$index}}" class="col-md-3 control-label" ng-bind="'Article.LabelProducible.Label.Template.' + variable | translate"></label>
                            <div class="col-md-7">
                                <label class="control-label">{{selectedArticle.Producible.PrintData[variable]}}</label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="variable != 'CustomerUniqueId'" show-errors='{showSuccess: true}'>
                            <label for="variable{{$index}}" class="col-md-3 control-label" ng-bind="'Article.LabelProducible.Label.Template.' + variable | translate"></label>
                            <div class="col-md-7">
                                <input id="variable{{$index}}" class="form-control" name="Variable" ng-model="selectedArticle.Producible.PrintData[variable]" ng-readonly="readOnly" size="29" required />
                                <p class="help-block" ng-if="templateForm.Variable.$error.required" translate>Common.Validation.Required</p>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button class="btn btn-default" id="closeButton" ng-click="closeArticle()" translate>Common.Label.Close</button>
        </div>
    </form>
</div>