﻿<div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="checkbox" id="showTriggerInterface" ng-model="selectedProductionGroup.Options.ShowTriggerInterface" ng-true-value="'True'" ng-false-value="'False'">
                <span translate>ProductionGroup.Label.BoxLast.ShowTriggerInterfaceOnOperatorPanel</span>
                <div class="fa item help" dropdown>
                    <a href="#" class="fa-question-circle" aria-expanded="True" aria-haspopup="true" dropdown-toggle></a>
                    <ul class="dropdown-menu dropdown-menu-left btn">
                        <li class="fa-help">
                            <span translate>ProductionGroup.Label.ScanToCreate.ShowTriggerInterfaceOnOperatorPanelHelp</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>